{
  "openapi": "3.0.1",
  "info": {
    "title": "Digital WC API",
    "description": "Digital WC API allows users to create, edit, and bind Worker’s Compensation (WC) quotes",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://gateway.amtrustgroup.com/DigitalAPI"
    },
    {
      "url": "https://prod-apim-gw.amtrustservices.com/DigitalAPI"
    }
  ],
  "paths": {
    "/api/v1/affirmation": {
      "get": {
        "tags": [
          "Workers Comp"
        ],
        "summary": "Retrieves the affirmation statement that will need to be displayed to agents prior to binding the quote to a policy.\nThis can be called in conjunction with the V2 Bind endpoint; the actual submission of affirmation will occur in the V2 Quote Bind endpoint.\nIf you are already presenting a statement o",
        "description": "Retrieves the affirmation statement that will need to be displayed to agents prior to binding the quote to a policy <br> <br>\r\n                            This can be called in conjunction with the V2 Bind endpoint; the actual submission of affirmation will occur in the V2 Quote Bind endpoint. <br> <br>\r\n                            __Please note:__ If you are already presenting a statement of affirmation to your agents/users, you do not need to use this endpoint. This is only for partners who do not currently have their own statement in place",
        "operationId": "get-api-v1-affirmation",
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "6e419f211597",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "190e392ff359",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringBaseResponse"
                },
                "example": {
                  "StatusCode": "100 = Continue",
                  "Message": "string",
                  "AdditionalMessages": [
                    "string"
                  ],
                  "Errors": {},
                  "Data": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/agent-contacts": {
      "get": {
        "tags": [
          "Workers Comp"
        ],
        "summary": "Returns all agent contact IDs, names, and emails linked to the agent associated with the current authentication token.",
        "description": "Returns all agent contact IDs, names, and emails linked to the agent associated with the current authentication token.",
        "operationId": "get-api-v1-quotes-agent-contacts",
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "53efa729d74a",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "2a86ddec2859",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentContact"
                  }
                },
                "example": [
                  {
                    "Id": "string",
                    "FullName": "string",
                    "Email": "string",
                    "AgentId": 0
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/agent-contact": {
      "get": {
        "tags": [
          "Workers Comp"
        ],
        "summary": "Retrieves the agent contact information for the quote specified by the URI parameter quoteId.",
        "description": "Retrieves the agent contact information for the quote specified by the URI parameter __quoteId__",
        "operationId": "get-api-v1-quotes-quoteid-agent-contact",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "f3f1a6a0873a",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "83a06f673974",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentContactBaseResponse"
                },
                "example": {
                  "StatusCode": "100 = Continue",
                  "Message": "string",
                  "AdditionalMessages": [
                    "string"
                  ],
                  "Errors": {},
                  "Data": {
                    "Id": "string",
                    "FullName": "string",
                    "Email": "string",
                    "AgentId": 0
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "50e3ea70fcb3",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-ItemNotFound",
                      "Title": "Item was not found",
                      "httpStatusCode": 404,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/billType": {
      "get": {
        "tags": [
          "Workers Comp"
        ],
        "summary": "Retrieves the bill type available for the agency associated with the current authentication token.",
        "description": "Retrieves the bill type available for the agency associated with the current authentication token.",
        "operationId": "get-api-v1-quotes-billtype",
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "319f9dbcd8c1",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "ac87fd9dea4c",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillTypeResponseBaseResponse"
                },
                "example": {
                  "StatusCode": "100 = Continue",
                  "Message": "string",
                  "AdditionalMessages": [
                    "string"
                  ],
                  "Errors": {},
                  "Data": {
                    "BillTypes": [
                      "string"
                    ],
                    "EndQuotingNewBusinessDate": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/classCodes": {
      "get": {
        "tags": [
          "Workers Comp"
        ],
        "summary": "Retrieves all class codes currently saved on the specified quote.",
        "description": "Retrieves all class codes currently saved on the specified quote.",
        "operationId": "get-api-v1-quotes-quoteid-classcodes",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "c709310264cd",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "151c577c8640",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseClassCodeModelListBaseResponse"
                },
                "example": {
                  "StatusCode": "100 = Continue",
                  "Message": "string",
                  "AdditionalMessages": [
                    "string"
                  ],
                  "Errors": {},
                  "Data": [
                    {
                      "HttpStatusCode": "100 = Continue",
                      "StatusCode": "string",
                      "Service": "string",
                      "Message": "string",
                      "AdditionalMessages": [
                        "string"
                      ],
                      "IndexId": 0,
                      "OriginalClassCode": "string",
                      "OriginalDesc": "string",
                      "ClassCode": "string",
                      "ClassDescriptionCode": "string",
                      "LocState": "string",
                      "Payroll": "string",
                      "FullTimeEmployees": 0,
                      "PartTimeEmployees": 0,
                      "IsDeleted": true,
                      "ClassRate": 0,
                      "Description": "string",
                      "Premium": 0,
                      "Exposure": 0,
                      "IsSplitRate": true
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "73fe2cc7acad",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-ItemNotFound",
                      "Title": "Item was not found",
                      "httpStatusCode": 404,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/available-class-codes": {
      "get": {
        "tags": [
          "Workers Comp"
        ],
        "summary": "Retrieves a list of all class codes that can be added to the quote specified by the URI parameter quoteId.",
        "description": "Retrieves a list of all class codes that can be added to the quote specified by the URI parameter __quoteId.__",
        "operationId": "get-api-v1-quotes-quoteid-available-class-codes",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "2a1e02af8086",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "6bdae2e75e80",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StateClassCodesResponseListBaseResponse"
                },
                "example": {
                  "StatusCode": "100 = Continue",
                  "Message": "string",
                  "AdditionalMessages": [
                    "string"
                  ],
                  "Errors": {},
                  "Data": [
                    {
                      "State": "string",
                      "ClassCodes": [
                        {
                          "ClassCode": "string",
                          "ClassDescriptionCode": "string",
                          "ClassDescription": "string"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "b75911bae582",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-ItemNotFound",
                      "Title": "Item was not found",
                      "httpStatusCode": 404,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/state-classes-eligibility/{state}/{classCode}": {
      "get": {
        "tags": [
          "Workers Comp"
        ],
        "summary": "Retrieves eligibility status of a specified class code in the given state.\nEffective date may be passed in URL to see if a class code will be eligible after a specific date.",
        "description": "Retrieves eligibility status of a specified class code in the state specified by the URI parameter __state.__ <br> <br>\r\n                            Effective date may be passed in URL, if wanting to see if a class code will be eligible after a specific date. If no effective date is passed, eligibility reflected is based on current date.",
        "operationId": "get-api-v1-state-classes-eligibility-state-classcode",
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "classCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "21debef20a5e",
                  "timeStamp": "2026-08-13T11:08:12.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "20341d4edddb",
                  "timeStamp": "2026-08-13T11:08:12.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassCodeEligibilityResponseIEnumerableBaseResponse"
                },
                "example": {
                  "StatusCode": "100 = Continue",
                  "Message": "string",
                  "AdditionalMessages": [
                    "string"
                  ],
                  "Errors": {},
                  "Data": [
                    {
                      "ClassCode": "string",
                      "ClassDescriptionCode": "string",
                      "ClassDescription": "string",
                      "Eligibility": "string",
                      "EffectiveDate": "string",
                      "ExpirationDate": "string"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "913e30a8eda2",
                  "timeStamp": "2026-08-13T11:08:12.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-ItemNotFound",
                      "Title": "Item was not found",
                      "httpStatusCode": 404,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/state-classes-eligibility/classCodes/{state}": {
      "get": {
        "tags": [
          "Workers Comp"
        ],
        "summary": "Retrieves a list of all class codes in a state along with all description and eligibility information.\nEffective date may be passed in URL to see if a class code will be eligible after a specific date.",
        "description": "Retrieves a list of all class codes in a state along with all description and eligibility information. <br> <br>\r\n                            Effective day may be passed in URL, if wanting to see if a class code will be eligible after a specific date. If no effective date is passed, eligibility reflected is based on current date.",
        "operationId": "get-api-v1-state-classes-eligibility-classcodes-state",
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "e9dcbf4ff967",
                  "timeStamp": "2026-08-13T11:08:12.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "bd67ffc833e2",
                  "timeStamp": "2026-08-13T11:08:12.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassCodeEligibilityResponseIEnumerableBaseResponse"
                },
                "example": {
                  "StatusCode": "100 = Continue",
                  "Message": "string",
                  "AdditionalMessages": [
                    "string"
                  ],
                  "Errors": {},
                  "Data": [
                    {
                      "ClassCode": "string",
                      "ClassDescriptionCode": "string",
                      "ClassDescription": "string",
                      "Eligibility": "string",
                      "EffectiveDate": "string",
                      "ExpirationDate": "string"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "ce2d650792c4",
                  "timeStamp": "2026-08-13T11:08:12.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-ItemNotFound",
                      "Title": "Item was not found",
                      "httpStatusCode": 404,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/state-classes-eligibility/{state}": {
      "get": {
        "tags": [
          "Workers Comp"
        ],
        "summary": "Retrieves a list of all class codes in a state. This list will not include eligibility or description information.\nList will be comprised of eligible, referred, and declined class codes.",
        "description": "Retrieves a list of all class codes in a state. <br> <br>\r\n                            This list will not include any eligibility or class code description information. List will be comprised of eligible, referred, and declined class codes.",
        "operationId": "get-api-v1-state-classes-eligibility-state",
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "c7bee66ef0aa",
                  "timeStamp": "2026-08-13T11:08:12.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "009c06544330",
                  "timeStamp": "2026-08-13T11:08:12.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringIEnumerableBaseResponse"
                },
                "example": {
                  "StatusCode": "100 = Continue",
                  "Message": "string",
                  "AdditionalMessages": [
                    "string"
                  ],
                  "Errors": {},
                  "Data": [
                    "string"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "65daa93defb9",
                  "timeStamp": "2026-08-13T11:08:12.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-ItemNotFound",
                      "Title": "Item was not found",
                      "httpStatusCode": 404,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/classCodes/{indexId}": {
      "delete": {
        "tags": [
          "Workers Comp"
        ],
        "summary": "Removes a specified class code from a specified quote.",
        "description": "Removes a specified class code from a specified quote",
        "operationId": "delete-api-v1-quotes-quoteid-classcodes-indexid",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "indexId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "effd67d39c95",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "0f071a46ceed",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "StatusCode": 200,
                  "Exception": null,
                  "Message": "The non-renewal reason of 11 'Other' was saved. The non-renewal date set is today's date.",
                  "AdditionalMessages": [],
                  "Errors": {}
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "2eccf371caa8",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-ItemNotFound",
                      "Title": "Item was not found",
                      "httpStatusCode": 404,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/classcodes/{classCodeId}/information": {
      "get": {
        "tags": [
          "Workers Comp"
        ],
        "summary": "Retrieves class code information based on the NAICS or SIC code sent.\nThe state parameter is optional; if no state is specified, the return will display class code information for each applicable state.\nNAICS code can be up to 6 numeric characters. SIC code can be up to 4 numeric characters.",
        "description": "Retrieves class code information based on the NAICS or SIC code sent <br> <br>\r\n                            The state parameter is optional; if no state is specified, then the return will display class code information for each applicable state. If the state is included, then the response will include only the class code information for that specific state. <br> <br>\r\n                            Character limits: <br>\r\n                            • NAICS code can be up to 6 numeric characters <br>\r\n                            • SIC code can be up to 4 numeric characters",
        "operationId": "get-api-v1-classcodes-classcodeid-information",
        "parameters": [
          {
            "name": "classCodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "classCodeType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "3cf063eeb899",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "3cf063eeb899",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "3cf063eeb899",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "89ad06a4df0e",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "89ad06a4df0e",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "89ad06a4df0e",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClassInformationResponseIEnumerableBaseResponse"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassInformationResponseIEnumerableBaseResponse"
                },
                "example": {
                  "StatusCode": "100 = Continue",
                  "Message": "string",
                  "AdditionalMessages": [
                    "string"
                  ],
                  "Errors": {},
                  "Data": [
                    {
                      "State": "string",
                      "ClassCode": "string",
                      "ClassCodeDescriptionCode": "string",
                      "ClassCodeDescription": "string",
                      "ExpirationDate": "string"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassInformationResponseIEnumerableBaseResponse"
                },
                "example": {
                  "StatusCode": "100 = Continue",
                  "Message": "string",
                  "AdditionalMessages": [
                    "string"
                  ],
                  "Errors": {},
                  "Data": [
                    {
                      "State": "string",
                      "ClassCode": "string",
                      "ClassCodeDescriptionCode": "string",
                      "ClassCodeDescription": "string",
                      "ExpirationDate": "string"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "213c64fe9c1b",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-ItemNotFound",
                      "Title": "Item was not found",
                      "httpStatusCode": 404,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "213c64fe9c1b",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-ItemNotFound",
                      "Title": "Item was not found",
                      "httpStatusCode": 404,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "213c64fe9c1b",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-ItemNotFound",
                      "Title": "Item was not found",
                      "httpStatusCode": 404,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/classcodes/information/states": {
      "get": {
        "tags": [
          "Workers Comp"
        ],
        "summary": "Retrieves all AmTrust class code information, including eligibility, description codes, descriptions, and NAICS and SIC codes.\nIf no state is passed, response comes back as a byte representation of a JSON. If state is passed, response comes back as a JSON object.",
        "description": "Retrieves all AmTrust class code information, including eligibility, description codes, descriptions, and NAICS and SIC codes. <br> <br>\r\n                            The state parameter is not required; if not passed, response will come back as a byte representation of a JSON, that can then be manipulated into any format user prefers. <br> <br>\r\n                            If state is passed, the response will come back as a JSON object. <br> <br>\r\n                            This endpoint is most helpful as a NAICS or SIC mapping tool. However, it can also be used to understand all class codes available within AmTrust’s WC quoting system. <br> <br>",
        "operationId": "get-api-v1-classcodes-information-states",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "663400e43511",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "663400e43511",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "663400e43511",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "5063a1f40c0c",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "5063a1f40c0c",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "5063a1f40c0c",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetSicNaicsResponseIEnumerableBaseResponse"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSicNaicsResponseIEnumerableBaseResponse"
                },
                "example": {
                  "StatusCode": "100 = Continue",
                  "Message": "string",
                  "AdditionalMessages": [
                    "string"
                  ],
                  "Errors": {},
                  "Data": [
                    {
                      "State": "string",
                      "ClassCode": "string",
                      "Eligibility": "string",
                      "Information": [
                        {
                          "DescriptionCode": "string",
                          "NaicsDescription": "string",
                          "NaicsCode": "string",
                          "SicCode": "string"
                        }
                      ],
                      "AllStatesInformation": "string",
                      "ExpirationDate": "string"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSicNaicsResponseIEnumerableBaseResponse"
                },
                "example": {
                  "StatusCode": "100 = Continue",
                  "Message": "string",
                  "AdditionalMessages": [
                    "string"
                  ],
                  "Errors": {},
                  "Data": [
                    {
                      "State": "string",
                      "ClassCode": "string",
                      "Eligibility": "string",
                      "Information": [
                        {
                          "DescriptionCode": "string",
                          "NaicsDescription": "string",
                          "NaicsCode": "string",
                          "SicCode": "string"
                        }
                      ],
                      "AllStatesInformation": "string",
                      "ExpirationDate": "string"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/classcodes/states/{state}/natural-language": {
      "get": {
        "tags": [
          "Workers Comp"
        ],
        "summary": "Allows user to search for a class code using natural language parameters.\nThe response will include the top matching class codes matching the description in the state requested.",
        "description": "Allows user to search for a class code using natural language parameters in the path and query string. <br> <br>\r\n                            The response will include the top matching class codes, matching the description, in the state requested, based on the number of results the user selects.",
        "operationId": "get-api-v1-classcodes-states-state-natural-language",
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resultNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "productType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "704ee08facb7",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "704ee08facb7",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "704ee08facb7",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "4d373fea4e4f",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "4d373fea4e4f",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "4d373fea4e4f",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NaturalLanguageResponseIEnumerableBaseResponse"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NaturalLanguageResponseIEnumerableBaseResponse"
                },
                "example": {
                  "StatusCode": "100 = Continue",
                  "Message": "string",
                  "AdditionalMessages": [
                    "string"
                  ],
                  "Errors": {},
                  "Data": [
                    {
                      "ProductLine": "string",
                      "SearchResults": [
                        {
                          "ClassCode": "string",
                          "ClassDecription": "string",
                          "ClassDecriptionCode": "string",
                          "MatchProbability": 0
                        }
                      ]
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NaturalLanguageResponseIEnumerableBaseResponse"
                },
                "example": {
                  "StatusCode": "100 = Continue",
                  "Message": "string",
                  "AdditionalMessages": [
                    "string"
                  ],
                  "Errors": {},
                  "Data": [
                    {
                      "ProductLine": "string",
                      "SearchResults": [
                        {
                          "ClassCode": "string",
                          "ClassDecription": "string",
                          "ClassDecriptionCode": "string",
                          "MatchProbability": 0
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "429230eeb145",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-ItemNotFound",
                      "Title": "Item was not found",
                      "httpStatusCode": 404,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "429230eeb145",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-ItemNotFound",
                      "Title": "Item was not found",
                      "httpStatusCode": 404,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "429230eeb145",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-ItemNotFound",
                      "Title": "Item was not found",
                      "httpStatusCode": 404,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/voluntary-compensation": {
      "post": {
        "tags": [
          "Workers Comp"
        ],
        "summary": "Saves a voluntary compensation endorsement to the quote specified by the quote ID passed.",
        "description": "Saves a voluntary compensation endorsement to the quote specified by the quote ID passed.",
        "operationId": "post-api-v1-quotes-quoteid-voluntary-compensation",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PostCompensationRequest"
                }
              },
              "example": [
                {
                  "EndorsementNumber": "string",
                  "FormDataFields": [
                    {
                      "IndexId": 0,
                      "Values": "string"
                    }
                  ]
                }
              ]
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PostCompensationRequest"
                }
              },
              "example": [
                {
                  "EndorsementNumber": "string",
                  "FormDataFields": [
                    {
                      "IndexId": 0,
                      "Values": "string"
                    }
                  ]
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PostCompensationRequest"
                }
              },
              "example": [
                {
                  "EndorsementNumber": "string",
                  "FormDataFields": [
                    {
                      "IndexId": 0,
                      "Values": "string"
                    }
                  ]
                }
              ]
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PostCompensationRequest"
                }
              },
              "example": [
                {
                  "EndorsementNumber": "string",
                  "FormDataFields": [
                    {
                      "IndexId": 0,
                      "Values": "string"
                    }
                  ]
                }
              ]
            }
          }
        },
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "2038ee640381",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "3075e1bea6a9",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringBaseResponse"
                },
                "example": {
                  "StatusCode": "100 = Continue",
                  "Message": "string",
                  "AdditionalMessages": [
                    "string"
                  ],
                  "Errors": {},
                  "Data": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "3eff5fb901f2",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-ItemNotFound",
                      "Title": "Item was not found",
                      "httpStatusCode": 404,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "3aa90bea3573",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-ValidationErr",
                      "Title": "Validation Error",
                      "Detail": "Validation detail message",
                      "httpStatusCode": 400,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Workers Comp"
        ],
        "summary": "Retrieves available voluntary compensation coverage information for the quote ID passed.",
        "description": "Retrieves available voluntary compensation coverage information for the quote ID passed.",
        "operationId": "get-api-v1-quotes-quoteid-voluntary-compensation",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "ac0591133c38",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "6ecdad688960",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoluntaryCompensationResponseIEnumerableBaseResponse"
                },
                "example": {
                  "StatusCode": "100 = Continue",
                  "Message": "string",
                  "AdditionalMessages": [
                    "string"
                  ],
                  "Errors": {},
                  "Data": [
                    {
                      "EndorsementNumber": "string",
                      "Description": "string",
                      "FormDataFields": [
                        {
                          "IndexId": 0,
                          "Label": "string",
                          "Required": true,
                          "CanEnterFreeText": true,
                          "CurrentValue": "string",
                          "PresetValues": [
                            "string"
                          ]
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "cfe58e6be62a",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-ItemNotFound",
                      "Title": "Item was not found",
                      "httpStatusCode": 404,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Workers Comp"
        ],
        "summary": "Removes the voluntary compensation coverage endorsement from the quote ID specified.\nIf no ID is sent, all endorsements on the quote will be removed. If ID is sent, only that ID will be removed.",
        "description": "This endpoint removes the voluntary compensation coverage endorsement from the quote ID specified; Endorsement ID is optional. <br> <br>\r\n                            If no ID is sent in request, then all endorsements that exist on the quote will be removed. If ID is sent, only that ID will be removed, and all others will remain.",
        "operationId": "delete-api-v1-quotes-quoteid-voluntary-compensation",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "endorsementNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "fe9f822eda04",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "a3f3aa47e495",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringBaseResponse"
                },
                "example": {
                  "StatusCode": "100 = Continue",
                  "Message": "string",
                  "AdditionalMessages": [
                    "string"
                  ],
                  "Errors": {},
                  "Data": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "78c62b07b839",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-ItemNotFound",
                      "Title": "Item was not found",
                      "httpStatusCode": 404,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/crossSellquotes/{quoteId}": {
      "get": {
        "tags": [
          "Workers Comp"
        ],
        "summary": "Retrieves the BOP quote number and premium information initiated by the Create Cross Sell Quote.\nThis endpoint is only accessible by appointed Cross Sell agencies.",
        "description": "Retrieves the BOP quote number and premium information initiated by the Create Cross Sell Quote. <br> <br>\r\n                            __Please note:__ This endpoint is only accessible by appointed Cross Sell agencies.",
        "operationId": "get-api-v1-crosssellquotes-quoteid",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "6fabbd6c8746",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "124c76e6a4de",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-FORBIDDEN",
                      "Title": "The token provided does not have permissions for the requested action",
                      "httpStatusCode": 403,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrossSellGetReturnModelBaseResponse"
                },
                "example": {
                  "StatusCode": "100 = Continue",
                  "Message": "string",
                  "AdditionalMessages": [
                    "string"
                  ],
                  "Errors": {},
                  "Data": {
                    "DeepLink": "string",
                    "BopQuoteNumber": 0,
                    "AnnualPremium": 0,
                    "GeneralLiabilityLimits": "string",
                    "MedicalPayments": 0,
                    "DamagestoPremisesLiabilityLimit": 0,
                    "BusinessPersonalProperty": 0,
                    "PropertyDeductible": "string",
                    "ExpansionEndorsement": "string"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "0cbb7c65a9ff",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-ItemNotFound",
                      "Title": "Item was not found",
                      "httpStatusCode": 404,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/documents": {
      "post": {
        "tags": [
          "Workers Comp"
        ],
        "summary": "Allows user to upload any supporting documentation that the Underwriter may need when reviewing the quote.",
        "description": "Allows user to upload any supporting documentation that the Underwriter may need when reviewing the quote.",
        "operationId": "post-api-v1-quotes-quoteid-documents",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/FilePostModel"
              },
              "example": {
                "WindowsFileType": "string",
                "FileData": "string",
                "DisplayName": "string"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilePostModel"
              },
              "example": {
                "WindowsFileType": "string",
                "FileData": "string",
                "DisplayName": "string"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FilePostModel"
              },
              "example": {
                "WindowsFileType": "string",
                "FileData": "string",
                "DisplayName": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FilePostModel"
              },
              "example": {
                "WindowsFileType": "string",
                "FileData": "string",
                "DisplayName": "string"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "0061057ea18b",
                  "timeStamp": "2026-08-13T11:08:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "MessageCode": "ERR-NOTAUTHORIZED",
                      "Title": "Bearer token is not authorized",
                      "httpStatusCode": 401,
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
[...]
