openapi: 3.2.0
info:
  title: Amtrust Financial Services Quotes API
  x-refined-note:
  - x-generated-from differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Quotes across 4 of this provider''s published API definitions: amtrust-financial-services-digital-bop-api-openapi.json, amtrust-financial-services-digital-es-api-openapi.json, amtrust-financial-services-digital-pac-api-openapi.json, amtrust-financial-services-commercial-lines-api.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://gateway.amtrustgroup.com/digital-bop
- url: https://prod-apim-gw.amtrustservices.com/digital-bop
- url: https://gateway.amtrustgroup.com/digital-es
- url: https://prod-apim-gw.amtrustservices.com/digital-es
- url: https://gateway.amtrustgroup.com/digital-pac
- url: https://prod-apim-gw.amtrustservices.com/digital-pac
- url: https://api.amtrustservices.com
  description: AmTrust Production API
tags:
- name: Quotes
paths:
  /api/v1/quotes/{quoteId}:
    get:
      tags:
      - Quotes
      summary: Retrieve quote information
      description: Returns all currently saved quote information
      operationId: get-api-v1-quotes-quoteid
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 0f04770c5af9
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 24a53fede95c
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQuoteDtoIApiResponse'
              example:
                data:
                  locations:
                  - buildings:
                    - id: 1
                      classCode:
                        classCodeId: null
                        classCode: '11011'
                        classDescriptionCode: null
                        personalPropertyCoverage:
                          coverageLimit: 1000
                          valuation: Replacement Cost
                        buildingCoverage:
                          coverageLimit: 2000
                          valuation: Actual Cash Value
                      annualSales: 10000
                      annualPayroll: null
                      numberOfEmployees: null
                      constructionCategoryCode: 1
                      totalSquareFootage: 1500
                      squareFootageOccupied: 1200
                      totalStories: 13
                      yearBuilt: 1959
                      yearRoofUpdated: 2020
                      yearElectricalUpdated: 2019
                      yearPlumbingUpdated: 2018
                      yearHeatingUpdated: 2019
                      hasCentralStationFireAlarm: true
                      hasCentralStationBurglarAlarm: false
                      isSprinkleredBuilding: true
                      roofType: ClayTiles
                      highestStoryOccupied: 3
                    id: 1
                    propertyDeductible: null
                    line1: 800 Superior Ave
                    line2: Suit A
                    city: Cleveland
                    territory: OH
                    postalCode: '44114'
                  accountInformation:
                    quoteId: 1234567
                    masterAccountId: 24786342
                  premiumDetails:
                    taxes: 0
                    totalPremium: 1500.55
                    totalCost: 0
                  fein: '234567823'
                  businessName: Super Great Developers
                  primaryContactInformation:
                    name: Steve Everyman
                    phoneNumber: '8001234567'
                    email: Steve.Everyman@GreatDevs.com
                  primaryAddress:
                    line1: 800 Superior Ave
                    line2: Suit A
                    city: Cleveland
                    territory: OH
                    postalCode: '44114'
                  mailingAddress:
                    line1: 800 Superior Ave
                    line2: Suit A
                    city: Cleveland
                    territory: OH
                    postalCode: '44114'
                  effectiveDate: '2026-07-25'
                  agentContactId: 123
                  agentContactName: Bill Gates
                  legalEntity: Partnership
                  eligibility: Eligible
                  eligibilityReasons: null
                  hasTerrorismCoverage: true
                  companyWebsite: www.company.web.site.amtrust
                responseId: badcbb6e65b9
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 200
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: a1ba25139b76
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
      security:
      - apiKeyHeader: []
      - apiKeyQuery: []
    patch:
      tags:
      - Quotes
      summary: Update quote information
      description: Updates basic insured level information on quote
      operationId: patch-api-v1-quotes-quoteid
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/JsonPatchDocument'
            example:
            - value: 800 Superior Ave
              path: /mailingAddress/line1
              op: replace
            - value: Suit A
              path: /mailingAddress/line2
              op: replace
            - value: Cleveland
              path: /mailingAddress/city
              op: replace
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 27b32e84c8d2
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 2dd0c08d3849
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchQuoteDtoIApiResponse'
              example:
                data:
                  premiumDetails:
                    taxes: 0
                    totalPremium: 1500.55
                    totalCost: 0
                  locations:
                  - buildings:
                    - id: 1
                      classCode:
                        classCodeId: null
                        classCode: '11011'
                        classDescriptionCode: null
                        personalPropertyCoverage:
                          coverageLimit: 1000
                          valuation: Replacement Cost
                        buildingCoverage:
                          coverageLimit: 2000
                          valuation: Actual Cash Value
                      annualSales: 10000
                      annualPayroll: null
                      numberOfEmployees: null
                      constructionCategoryCode: 1
                      totalSquareFootage: 1500
                      squareFootageOccupied: 1200
                      totalStories: 13
                      yearBuilt: 1959
                      yearRoofUpdated: 2020
                      yearElectricalUpdated: 2019
                      yearPlumbingUpdated: 2018
                      yearHeatingUpdated: 2019
                      hasCentralStationFireAlarm: true
                      hasCentralStationBurglarAlarm: false
                      isSprinkleredBuilding: true
                      roofType: ClayTiles
                      highestStoryOccupied: 3
                    id: 1
                    propertyDeductible: null
                    line1: 800 Superior Ave
                    line2: Suit A
                    city: Cleveland
                    territory: OH
                    postalCode: '44114'
                  companyWebsite: www.company.web.site.eu
                  digitalClientWorkflow: DigitalClientWorkflow
                  accountInformation:
                    quoteId: 1234567
                    masterAccountId: 24786342
                  fein: '234567823'
                  businessName: Super Great Developers
                  primaryContactInformation:
                    name: Steve Everyman
                    phoneNumber: '8001234567'
                    email: Steve.Everyman@GreatDevs.com
                  primaryAddress:
                    line1: 800 Superior Ave
                    line2: Suit A
                    city: Cleveland
                    territory: OH
                    postalCode: '44114'
                  mailingAddress:
                    line1: 800 Superior Ave
                    line2: Suit A
                    city: Cleveland
                    territory: OH
                    postalCode: '44114'
                  effectiveDate: '2026-07-25'
                  agentContactId: 123
                  legalEntity: Partnership
                responseId: f5c0edd10393
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 200
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 11cbad15dd86
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: 06b20002ec8b
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
      security:
      - apiKeyHeader: []
      - apiKeyQuery: []
    put:
      tags:
      - Quotes
      summary: Update quote information
      description: 'Updates information on an existing quote.


        __Please Note:__ entire existing quote body must be included,

        and any desired additonal/updated information should be added/changed within the body.

        If information is omitted, it will be deleted.'
      operationId: put-api-v1-quotes-quoteid
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/QuoteRatePutRequest'
            example:
              skipUWQuestions: true
              expandedResponse: true
              skipRate: true
              skipEval: true
              dba: string
              masterAccountId: 0
              numberOfEmployees: 0
              businessName: string
              fein: string
              primaryContactInformation:
                name: string
                phoneNumber: string
                email: string
              primaryAddress:
                line1: string
                line2: string
                city: string
                territory: string
                postalCode: string
              mailingAddress:
                line1: string
                line2: string
                city: string
                territory: string
                postalCode: string
              effectiveDate: string
              agentContactId: 0
              legalEntity: string
              companyWebsite: string
              lessorLiability: true
              propertyDeductible: string
              classCode:
                classCodeId: 0
                personalPropertyCoverage:
                  coverageLimit: 0
                  valuation: string
                buildingCoverage:
                  coverageLimit: 0
                  valuation: string
              annualSales: 0
              constructionCategoryCode: 0
              totalSquareFootage: 0
              totalSquareFootageOccupied: 0
              totalStories: 0
              yearBuilt:
                yearBuilt: 0
                yearRoofUpdated: 0
                yearElectricalUpdated: 0
                yearPlumbingUpdated: 0
                yearHeatingUpdated: 0
              hasCentralStationFireAlarm: true
              hasCentralStationBurglarAlarm: true
              isSprinkleredBuilding: true
              underwritingQuestions:
              - questionId: string
                answer: string
              lossHistory:
                hasPriorCarrier: true
                hasZeroClaimsInLastThreeYears: true
                lossApplication: 0
                premium: 0
              roofType: string
              highestStoryOccupied: 0
              digitalClientWorkflow: string
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRatePutRequest'
            example:
              skipUWQuestions: true
              expandedResponse: true
              skipRate: true
              skipEval: true
              dba: string
              masterAccountId: 0
              numberOfEmployees: 0
              businessName: string
              fein: string
              primaryContactInformation:
                name: string
                phoneNumber: string
                email: string
              primaryAddress:
                line1: string
                line2: string
                city: string
                territory: string
                postalCode: string
              mailingAddress:
                line1: string
                line2: string
                city: string
                territory: string
                postalCode: string
              effectiveDate: string
              agentContactId: 0
              legalEntity: string
              companyWebsite: string
              lessorLiability: true
              propertyDeductible: string
              classCode:
                classCodeId: 0
                personalPropertyCoverage:
                  coverageLimit: 0
                  valuation: string
                buildingCoverage:
                  coverageLimit: 0
                  valuation: string
              annualSales: 0
              constructionCategoryCode: 0
              totalSquareFootage: 0
              totalSquareFootageOccupied: 0
              totalStories: 0
              yearBuilt:
                yearBuilt: 0
                yearRoofUpdated: 0
                yearElectricalUpdated: 0
                yearPlumbingUpdated: 0
                yearHeatingUpdated: 0
              hasCentralStationFireAlarm: true
              hasCentralStationBurglarAlarm: true
              isSprinkleredBuilding: true
              underwritingQuestions:
              - questionId: string
                answer: string
              lossHistory:
                hasPriorCarrier: true
                hasZeroClaimsInLastThreeYears: true
                lossApplication: 0
                premium: 0
              roofType: string
              highestStoryOccupied: 0
              digitalClientWorkflow: string
          text/json:
            schema:
              $ref: '#/components/schemas/QuoteRatePutRequest'
            example:
              skipUWQuestions: true
              expandedResponse: true
              skipRate: true
              skipEval: true
              dba: string
              masterAccountId: 0
              numberOfEmployees: 0
              businessName: string
              fein: string
              primaryContactInformation:
                name: string
                phoneNumber: string
                email: string
              primaryAddress:
                line1: string
                line2: string
                city: string
                territory: string
                postalCode: string
              mailingAddress:
                line1: string
                line2: string
                city: string
                territory: string
                postalCode: string
              effectiveDate: string
              agentContactId: 0
              legalEntity: string
              companyWebsite: string
              lessorLiability: true
              propertyDeductible: string
              classCode:
                classCodeId: 0
                personalPropertyCoverage:
                  coverageLimit: 0
                  valuation: string
                buildingCoverage:
                  coverageLimit: 0
                  valuation: string
              annualSales: 0
              constructionCategoryCode: 0
              totalSquareFootage: 0
              totalSquareFootageOccupied: 0
              totalStories: 0
              yearBuilt:
                yearBuilt: 0
                yearRoofUpdated: 0
                yearElectricalUpdated: 0
                yearPlumbingUpdated: 0
                yearHeatingUpdated: 0
              hasCentralStationFireAlarm: true
              hasCentralStationBurglarAlarm: true
              isSprinkleredBuilding: true
              underwritingQuestions:
              - questionId: string
                answer: string
              lossHistory:
                hasPriorCarrier: true
                hasZeroClaimsInLastThreeYears: true
                lossApplication: 0
                premium: 0
              roofType: string
              highestStoryOccupied: 0
              digitalClientWorkflow: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/QuoteRatePutRequest'
            example:
              skipUWQuestions: true
              expandedResponse: true
              skipRate: true
              skipEval: true
              dba: string
              masterAccountId: 0
              numberOfEmployees: 0
              businessName: string
              fein: string
              primaryContactInformation:
                name: string
                phoneNumber: string
                email: string
              primaryAddress:
                line1: string
                line2: string
                city: string
                territory: string
                postalCode: string
              mailingAddress:
                line1: string
                line2: string
                city: string
                territory: string
                postalCode: string
              effectiveDate: string
              agentContactId: 0
              legalEntity: string
              companyWebsite: string
              lessorLiability: true
              propertyDeductible: string
              classCode:
                classCodeId: 0
                personalPropertyCoverage:
                  coverageLimit: 0
                  valuation: string
                buildingCoverage:
                  coverageLimit: 0
                  valuation: string
              annualSales: 0
              constructionCategoryCode: 0
              totalSquareFootage: 0
              totalSquareFootageOccupied: 0
              totalStories: 0
              yearBuilt:
                yearBuilt: 0
                yearRoofUpdated: 0
                yearElectricalUpdated: 0
                yearPlumbingUpdated: 0
                yearHeatingUpdated: 0
              hasCentralStationFireAlarm: true
              hasCentralStationBurglarAlarm: true
              isSprinkleredBuilding: true
              underwritingQuestions:
              - questionId: string
                answer: string
              lossHistory:
                hasPriorCarrier: true
                hasZeroClaimsInLastThreeYears: true
                lossApplication: 0
                premium: 0
              roofType: string
              highestStoryOccupied: 0
              digitalClientWorkflow: string
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 2abeee3cdb5c
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 2ad5cf27519f
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostQuoteRateDtoV3IApiResponse'
              example:
                data:
                  lessorLiability: false
                  status: NotSubmitted
                  premiumDetails:
                    totalCost: 500
                    taxes: 0
                    priceIndication: 0
                    generalLiabilityLimits: 100/500
                    medicalPayments: '1000'
                    damagesToPremisesLiabilityLimit: '500'
                    businessPersonalProperty: '100'
                    propertyDeductible: '400'
                    expansionEndorsement: Basic
                  roofType: ClayTiles
                  highestStoryOccupied: 1
                  digitalClientWorkflow: DigitalClientWorkflow
                  accountInformation:
                    quoteId: 1235677
                    masterAccountId: 23543456
                  businessName: Stark Inc
                  primaryContactInformation:
                    name: John Dou
                    phoneNumber: '5559991234'
                    email: john@test.com
                  primaryAddress:
                    line1: 800 Superior Ave
                    line2: Suit A
                    city: Cleveland
                    territory: OH
                    postalCode: '44114'
                  mailingAddress:
                    line1: 800 Superior Ave
                    line2: Suit A
                    city: Cleveland
                    territory: OH
                    postalCode: '44114'
                  effectiveDate: '2026-07-25'
                  locations:
                  - id: 1
                    propertyDeductible: $250
                    line1: 800 Superior Ave
                    line2: Suit A
                    city: Cleveland
                    territory: OH
                    postalCode: '44114'
                  fein: '123456789'
                  agentContact:
                    id: 8
                    name: Mike Jordan
                  eligibility: Eligible
                  eligibilityReasons: null
                  legalEntity: Individual
                  companyWebsite: stark-company.com
                  classCode:
                    classCodeId: null
                    classCode: '8838'
                    classDescriptionCode: null
                    personalPropertyCoverage:
                      coverageLimit: 1000
                      valuation: Replacement Cost
                    buildingCoverage:
                      coverageLimit: 2000
                      valuation: Actual Cash Value
                  annualSales: 2000
                  annualPayroll: null
                  numberOfEmployees: null
                  construction:
                    categoryCode: 1
                    categoryName: Frame
                  totalSquareFootage: 1500
                  totalSquareFootageOccupied: 1200
                  totalStories: 13
                  yearBuilt:
                    yearRoofUpdated: 2019
                    yearElectricalUpdated: 2019
                    yearPlumbingUpdated: 2019
                    yearHeatingUpdated: 2019
                    yearBuilt: 2012
                  hasCentralStationFireAlarm: true
                  hasCentralStationBurglarAlarm: true
                  isSprinkleredBuilding: true
                  hasTerrorismCoverage: true
                responseId: 478dc52749a5
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 201
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: 979a42ffe33d
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
      security:
      - apiKeyHeader: []
      - apiKeyQuery: []
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v1/quotes/{quoteId}/rate:
    get:
      tags:
      - Quotes
      summary: Retrieve quote premium information
      description: Returns premium information on quote passed
      operationId: get-api-v1-quotes-quoteid-rate
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 4e9e222d5efd
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: e5045eeb0042
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRateDtoIApiResponse'
              example:
                data:
                  taxes: 0
                  totalPremium: 1500.55
                  totalCost: 0
                responseId: 9efdadc7d503
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 200
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 39003473dcce
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
      security:
      - apiKeyHeader: []
      - apiKeyQuery: []
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v1/quotes/{quoteId}/proposal:
    get:
      tags:
      - Quotes
      summary: Retrieve quote proposal PDF
      description: This endpoint will return a byte representation of the quote proposal PDF
      operationId: get-api-v1-quotes-quoteid-proposal
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 64fd6b5448b5
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 6be9dfa72e4e
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/pdf:
              schema:
                type: string
                format: byte
              examples:
                default:
                  value: null
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: 8037241cdaf9
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: b9413040ae74
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
      security:
      - apiKeyHeader: []
      - apiKeyQuery: []
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v1/quotes/{quoteId}/terrorism-statement:
    post:
      tags:
      - Quotes
      summary: Save Terrorism Coverage Acknowledgement
      description: This endpoint is meant to be used in conjunction with the (GET) Terrorism Coverage Statement endpoint. Insureds will need to acknowledge that they have read the statement before binding.
      operationId: post-api-v1-quotes-quoteid-terrorism-statement
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PostAcknowledgementDto'
            example:
              isAcknowledged: string
          application/json:
            schema:
              $ref: '#/components/schemas/PostAcknowledgementDto'
            example:
              isAcknowledged: string
          text/json:
            schema:
              $ref: '#/components/schemas/PostAcknowledgementDto'
            example:
              isAcknowledged: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/PostAcknowledgementDto'
            example:
              isAcknowledged: string
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 38043c39e831
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 03b117a56c6b
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringIApiResponse'
              example:
                data: String
                responseId: b64a84ea2164
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 200
                isOk: true
                _v: AD
      security:
      - apiKeyHeader: []
      - apiKeyQuery: []
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v1/quotes/{quoteId}/additional-insured:
    post:
      tags:
      - Quotes
      summary: Add additional insured or interest
      description: This endpoint allows you to add additional insured or interest information to the quote.
      operationId: post-api-v1-quotes-quoteid-additional-insured
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PostAdditionalInsuredRequest'
            example:
              form: 0 = Mortgagee
              additionalInsuredName: string
              propertyDescription: string
              clause: 0 = NotApplicable
              locationId: 0
              buildings:
              - 0
              nameOfInsuredPersonOrganization: string
              leasedEquipmentDescription: string
              typeOfRisk: 1 = ApartmentAndOffice
              leasedEquipmentLocation: string
              locationAndDescriptionOfCompletedOperations: string
              stateOrPoliticalSubdivision: string
          application/json:
            schema:
              $ref: '#/components/schemas/PostAdditionalInsuredRequest'
            example:
              form: 0 = Mortgagee
              additionalInsuredName: string
              propertyDescription: string
              clause: 0 = NotApplicable
              locationId: 0
              buildings:
              - 0
              nameOfInsuredPersonOrganization: string
              leasedEquipmentDescription: string
              typeOfRisk: 1 = ApartmentAndOffice
              leasedEquipmentLocation: string
              locationAndDescriptionOfCompletedOperations: string
              stateOrPoliticalSubdivision: string
          text/json:
            schema:
              $ref: '#/components/schemas/PostAdditionalInsuredRequest'
            example:
              form: 0 = Mortgagee
              additionalInsuredName: string
              propertyDescription: string
              clause: 0 = NotApplicable
              locationId: 0
              buildings:
              - 0
              nameOfInsuredPersonOrganization: string
              leasedEquipmentDescription: string
              typeOfRisk: 1 = ApartmentAndOffice
              leasedEquipmentLocation: string
              locationAndDescriptionOfCompletedOperations: string
              stateOrPoliticalSubdivision: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/PostAdditionalInsuredRequest'
            example:
              form: 0 = Mortgagee
              additionalInsuredName: string
              propertyDescription: string
              clause: 0 = NotApplicable
              locationId: 0
              buildings:
              - 0
              nameOfInsuredPersonOrganization: string
              leasedEquipmentDescription: string
              typeOfRisk: 1 = ApartmentAndOffice
              leasedEquipmentLocation: string
              locationAndDescriptionOfCompletedOperations: string
              stateOrPoliticalSubdivision: string
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: d5c5b1fc42a4
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 6e3dca5ded0a
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAdditionalInsuredResponseIApiResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: 2948f1655a66
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 9f8eaf0b63ac
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
      security:
      - apiKeyHeader: []
      - apiKeyQuery: []
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v1/quotes/{quoteId}/prior-carrier:
    post:
      tags:
      - Quotes
      summary: Save prior carrier information
      description: This endpoint allows user to save prior carrier information to the specified quote
      operationId: post-api-v1-quotes-quoteid-prior-carrier
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CarrierRequestDto'
            example:
              hasPriorCarrier: true
              priorCarrierName: string
              effectiveDate: string
              expirationDate: string
              premium: 0
              claimInformation:
              - dateOfLoss: string
                lossDescription: string
                lossAmount: 0
                policyTermStartYear: 0
                policyTermEndYear: 0
                atFault: true
                claimType: 0 = Liability
          application/json:
            schema:
              $ref: '#/components/schemas/CarrierRequestDto'
            example:
              hasPriorCarrier: true
              priorCarrierName: string
              effectiveDate: string
              expirationDate: string
              premium: 0
              claimInformation:
              - dateOfLoss: string
                lossDescription: string
                lossAmount: 0
                policyTermStartYear: 0
                policyTermEndYear: 0
                atFault: true
                claimType: 0 = Liability
          text/json:
            schema:
              $ref: '#/components/schemas/CarrierRequestDto'
            example:
              hasPriorCarrier: true
              priorCarrierName: string
              effectiveDate: string
              expirationDate: string
              premium: 0
              claimInformation:
              - dateOfLoss: string
                lossDescription: string
                lossAmount: 0
                policyTermStartYear: 0
                policyTermEndYear: 0
                atFault: true
                claimType: 0 = Liability
          application/*+json:
            schema:
              $ref: '#/components/schemas/CarrierRequestDto'
            example:
              hasPriorCarrier: true
              priorCarrierName: string
              effectiveDate: string
              expirationDate: string
              premium: 0
              claimInformation:
              - dateOfLoss: string
                lossDescription: string
                lossAmount: 0
                policyTermStartYear: 0
                policyTermEndYear: 0
                atFault: true
                claimType: 0 = Liability
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: b721b050b038
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 8974e894b5d5
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierResponseDtoIApiResponse'
              example:
                data:
                  id: 0
                  hasPreviousClaimInLastThreeYears: true
                  claimInformation:
                  - claimInfoID: 0
                    dateOfLoss: '2026-07-23T11:04:42.0000000+00:00'
                    lossDescription: n/a
                    lossAmount: 3000
                    policyTermStartYear: 2025
                    policyTermEndYear: 2027
                    atFault: null
                    claimType: Liability
                  totalLossesInThreeYears: 0
                  totalIncurredinLastThreeYears: 0
                  hasPriorCarrier: true
                  priorCarrierName: HammerTech
                  effectiveDate: '2026-07-23'
                  expirationDate: '2026-07-23'
                  premium: 500000
                responseId: 2e532a4e2085
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 200
                isOk: true
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 367c596c88c9
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
      security:
      - apiKeyHeader: []
      - apiKeyQuery: []
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v2/quotes/{quoteId}:
    get:
      tags:
      - Quotes
      summary: Retrieve quote information
      description: Returns all currently saved quote information
      operationId: get-api-v2-quotes-quoteid
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: c49cb3763c9e
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: b6c3da01a568
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQuoteDtoV3IApiResponse'
              example:
                data:
                  locations:
                  - buildings:
                    - lessorLiability: true
                      id: 1
                      classCode:
                        classCodeId: null
                        classCode: '11011'
                        classDescriptionCode: null
                        personalPropertyCoverage:
                          coverageLimit: 1000
                          valuation: Replacement Cost
                        buildingCoverage:
                          coverageLimit: 2000
                          valuation: Actual Cash Value
                      annualSales: 10000
                      annualPayroll: null
                      numberOfEmployees: null
                      constructionCategoryCode: 1
                      totalSquareFootage: 1500
                      squareFootageOccupied: 1200
                      totalStories: 13
                      yearBuilt: 1959
                      yearRoofUpdated: 2020
                      yearElectricalUpdated: 2019
                      yearPlumbingUpdated: 2018
                      yearHeatingUpdated: 2019
                      hasCentralStationFireAlarm: true
                      hasCentralStationBurglarAlarm: false
                      isSprinkleredBuilding: true
                      roofType: ClayTiles
                      highestStoryOccupied: 3
                    propertyDeductible: '100'
                    id: 1
                    line1: 800 Superior Ave
                    line2: Suit A
                    city: Cleveland
                    territory: WA
                    postalCode: '44114'
                  status: NotSubmitted
                  accountInformation:
                    quoteId: 1234567
                    masterAccountId: 24786342
                  premiumDetails:
                    taxes: 150
                    totalPremium: 1500
                    totalCost: 1650
                  fein: '234567823'
                  businessName: Super Great Developers
                  primaryContactInformation:
                    name: Steve Everyman
                    phoneNumber: '8001234567'
                    email: Steve.Everyman@GreatDevs.com
                  primaryAddress:
                    line1: 800 Superior Ave
                    line2: Suit A
                    city: Cleveland
                    territory: OH
                    postalCode: '44114'
                  mailingAddress:
                    line1: 800 Superior Ave
                    line2: Suit A
                    city: Cleveland
                    territory: OH
                    postalCode: '44114'
                  effectiveDate: '2026-07-25'
                  agentContactId: 123
                  agentContactName: Bill Gates
                  legalEntity: Partnership
                  eligibility: Eligible
                  eligibilityReasons: null
                  hasTerrorismCoverage: false
                  companyWebsite: www.company.web.site.amtrust
                  additionalInsureds:
                  - id: 1
                    formName: 0
                    name: John Doe
                    locationNumber: 1
                    typeOfRisk: 1
                    additionalInsuredType: string
                    buildingIds:
                    - 1
                    commonOwnership: false
                    address:
                      line1: 123 Fake Street
                      line2: null
                      city: Seattle
                      territory: WA
                      postalCode: '98101'
                responseId: d3cd59c0e528
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 200
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: dba92f77c038
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
      security:
      - apiKeyHeader: []
      - apiKeyQuery: []
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v1/quotes/{quoteId}/eligibility:
    get:
      tags:
      - Quotes
      summary: Get eligibility information
      operationId: get-api-v1-quotes-quoteid-eligibility
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 2e282feea3f3
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 260b73c27386
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEligibilityResponseDtoIApiResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: 61c0df17bbdc
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 5feefdea290a
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
      security:
      - apiKeyHeader: []
      - apiKeyQuery: []
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v2/quotes/{quoteId}/rate:
    get:
      tags:
      - Quotes
      summary: Retrieve quote premium information
      description: Returns premium information on quote passed
      operationId: get-api-v2-quotes-quoteid-rate
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: ea9e1f1976bd
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: af7cd4ce00aa
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRateDtoIApiResponse'
              example:
                data:
                  taxes: 0
                  totalPremium: 1500.55
                  totalCost: 0
                responseId: a79b112c554d
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 200
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 8b86c59bcc92
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
      security:
      - apiKeyHeader: []
      - apiKeyQuery: []
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v3/quotes/{quoteId}:
    get:
      tags:
      - Quotes
      summary: Retrieve quote information
      description: Returns all currently saved quote information
      operationId: get-api-v3-quotes-quoteid
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 1e1ff4c8664d
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: c229b25b8456
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQuoteDtoV3IApiResponse'
              example:
                data:
                  locations:
                  - buildings:
                    - lessorLiability: true
                      id: 1
                      classCode:
                        classCodeId: null
                        classCode: '11011'
                        classDescriptionCode: null
                        personalPropertyCoverage:
                          coverageLimit: 1000
                          valuation: Replacement Cost
                        buildingCoverage:
                          coverageLimit: 2000
                          valuation: Actual Cash Value
                      annualSales: 10000
                      annualPayroll: null
                      numberOfEmployees: null
                      constructionCategoryCode: 1
                      totalSquareFootage: 1500
                      squareFootageOccupied: 1200
                      totalStories: 13
                      yearBuilt: 1959
                      yearRoofUpdated: 2020
                      yearElectricalUpdated: 2019
                      yearPlumbingUpdated: 2018
                      yearHeatingUpdated: 2019
                      hasCentralStationFireAlarm: true
                      hasCentralStationBurglarAlarm: false
                      isSprinkleredBuilding: true
                      roofType: ClayTiles
                      highestStoryOccupied: 3
                    propertyDeductible: '100'
                    id: 1
                    line1: 800 Superior Ave
                    line2: Suit A
                    city: Cleveland
                    territory: WA
                    postalCode: '44114'
                  status: NotSubmitted
                  accountInformation:
                    quoteId: 1234567
                    masterAccountId: 24786342
                  premiumDetails:
                    taxes: 150
                    totalPremium: 1500
                    totalCost: 1650
                  fein: '234567823'
                  businessName: Super Great Developers
                  primaryContactInformation:
                    name: Steve Everyman
                    phoneNumber: '8001234567'
                    email: Steve.Everyman@GreatDevs.com
                  primaryAddress:
                    line1: 800 Superior Ave
                    line2: Suit A
                    city: Cleveland
                    territory: OH
                    postalCode: '44114'
                  mailingAddress:
                    line1: 800 Superior Ave
                    line2: Suit A
                    city: Cleveland
                    territory: OH
                    postalCode: '44114'
                  effectiveDate: '2026-07-25'
                  agentContactId: 123
                  agentContactName: Bill Gates
                  legalEntity: Partnership
                  eligibility: Eligible
                  eligibilityReasons: null
                  hasTerrorismCoverage: false
                  companyWebsite: www.company.web.site.amtrust
                  additionalInsureds:
                  - id: 1
                    formName: 0
                    name: John Doe
                    locationNumber: 1
                    typeOfRisk: 1
                    additionalInsuredType: string
                    buildingIds:
                    - 1
                    commonOwnership: false
                    address:
                      line1: 123 Fake Street
                      line2: null
                      city: Seattle
                      territory: WA
                      postalCode: '98101'
                responseId: 032eb9067ed6
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 200
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 0736b962ebe6
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
      security:
      - apiKeyHeader: []
      - apiKeyQuery: []
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v1/quotes/rate:
    post:
      tags:
      - Quotes
      summary: Create rated quote
      description: This endpoint takes in all information necessary to return a quote and price indication
      operationId: post-api-v1-quotes-rate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/QuoteRatePostRequestV1'
            example:
              skipUWQuestions: true
              expandedResponse: true
              skipRate: true
              skipEval: true
              dba: string
              lessorLiability: true
              propertyDeductible: string
              roofType: string
              highestStoryOccupied: 0
              digitalClientWorkflow: string
              classCode:
                classCodeId: 0
                classCode: string
                classDescriptionCode: string
                personalPropertyCoverage:
                  coverageLimit: 0
                  valuation: string
                buildingCoverage:
                  coverageLimit: 0
                  valuation: string
              annualSales: 0
              annualPayroll: 0
              numberOfEmployees: 0
              constructionCategoryCode: 0
              totalSquareFootage: 0
              totalSquareFootageOccupied: 0
              totalStories: 0
              yearBuilt:
                yearBuilt: 0
                yearRoofUpdated: 0
                yearElectricalUpdated: 0
                yearPlumbingUpdated: 0
                yearHeatingUpdated: 0
              hasCentralStationFireAlarm: true
              hasCentralStationBurglarAlarm: true
              isSprinkleredBuilding: true
              underwritingQuestions:
              - questionId: string
                answer: string
              lossHistory:
                hasPriorCarrier: true
                hasZeroClaimsInLastThreeYears: true
                lossApplication: 0
                premium: 0
              masterAccountId: 0
              newMasterAccountId: true
              businessName: string
              fein: string
              primaryContactInformation:
                name: string
                phoneNumber: string
                email: string
              primaryAddress:
                line1: string
                line2: string
                city: string
                territory: string
                postalCode: string
              mailingAddress:
                line1: string
                line2: string
                city: string
                territory: string
                postalCode: string
              effectiveDate: string
              agentContactId: 0
              legalEntity: string
              companyWebsite: string
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRatePostRequestV1'
            example:
              skipUWQuestions: true
              expandedResponse: true
              skipRate: true
              skipEval: true
              dba: string
              lessorLiability: true
              propertyDeductible: string
              roofType: string
              highestStoryOccupied: 0
              digitalClientWorkflow: string
              classCode:
                classCodeId: 0
                classCode: string
                classDescriptionCode: string
                personalPropertyCoverage:
                  coverageLimit: 0
                  valuation: string
                buildingCoverage:
                  coverageLimit: 0
                  valuation: string
              annualSales: 0
              annualPayroll: 0
              numberOfEmployees: 0
              constructionCategoryCode: 0
              totalSquareFootage: 0
              totalSquareFootageOccupied: 0
              totalStories: 0
              yearBuilt:
                yearBuilt: 0
                yearRoofUpdated: 0
                yearElectricalUpdated: 0
                yearPlumbingUpdated: 0
                yearHeatingUpdated: 0
              hasCentralStationFireAlarm: true
              hasCentralStationBurglarAlarm: true
              isSprinkleredBuilding: true
              underwritingQuestions:
              - questionId: string
                answer: string
              lossHistory:
                hasPriorCarrier: true
                hasZeroClaimsInLastThreeYears: true
                lossApplication: 0
                premium: 0
              masterAccountId: 0
              newMasterAccountId: true
              businessName: string
              fein: string
              primaryContactInformation:
                name: string
                phoneNumber: string
                email: string
              primaryAddress:
                line1: string
                line2: string
                city: string
                territory: string
                postalCode: string
              mailingAddress:
                line1: string
                line2: string
                city: string
                territory: string
                postalCode: string
              effectiveDate: string
              agentContactId: 0
              legalEntity: string
              companyWebsite: string
          text/json:
            schema:
              $ref: '#/components/schemas/QuoteRatePostRequestV1'
            example:
              skipUWQuestions: true
              expandedResponse: true
              skipRate: true
              skipEval: true
              dba: string
              lessorLiability: true
              propertyDeductible: string
              roofType: string
              highestStoryOccupied: 0
              digitalClientWorkflow: string
              classCode:
                classCodeId: 0
                classCode: string
                classDescriptionCode: string
                personalPropertyCoverage:
                  coverageLimit: 0
                  valuation: string
                buildingCoverage:
                  coverageLimit: 0
                  valuation: string
              annualSales: 0
              annualPayroll: 0
              numberOfEmployees: 0
              constructionCategoryCode: 0
              totalSquareFootage: 0
              totalSquareFootageOccupied: 0
              totalStories: 0
              yearBuilt:
                yearBuilt: 0
                yearRoofUpdated: 0
                yearElectricalUpdated: 0
                yearPlumbingUpdated: 0
                yearHeatingUpdated: 0
              hasCentralStationFireAlarm: true
              hasCentralStationBurglarAlarm: true
              isSprinkleredBuilding: true
              underwritingQuestions:
              - questionId: string
                answer: string
              lossHistory:
                hasPriorCarrier: true
                hasZeroClaimsInLastThreeYears: true
                lossApplication: 0
                premium: 0
              masterAccountId: 0
              newMasterAccountId: true
              businessName: string
              fein: string
              primaryContactInformation:
                name: string
                phoneNumber: string
                email: string
              primaryAddress:
                line1: string
                line2: string
                city: string
                territory: string
                postalCode: string
              mailingAddress:
                line1: string
                line2: string
                city: string
                territory: string
                postalCode: string
              effectiveDate: string
              agentContactId: 0
              legalEntity: string
              companyWebsite: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/QuoteRatePostRequestV1'
            example:
              skipUWQuestions: true
              expandedResponse: true
              skipRate: true
              skipEval: true
              dba: string
              lessorLiability: true
              propertyDeductible: string
              roofType: string
              highestStoryOccupied: 0
              digitalClientWorkflow: string
              classCode:
                classCodeId: 0
                classCode: string
                classDescriptionCode: string
                personalPropertyCoverage:
                  coverageLimit: 0
                  valuation: string
                buildingCoverage:
                  coverageLimit: 0
                  valuation: string
              annualSales: 0
              annualPayroll: 0
              numberOfEmployees: 0
              constructionCategoryCode: 0
              totalSquareFootage: 0
              totalSquareFootageOccupied: 0
              totalStories: 0
              yearBuilt:
                yearBuilt: 0
                yearRoofUpdated: 0
                yearElectricalUpdated: 0
                yearPlumbingUpdated: 0
                yearHeatingUpdated: 0
              hasCentralStationFireAlarm: true
              hasCentralStationBurglarAlarm: true
              isSprinkleredBuilding: true
              underwritingQuestions:
              - questionId: string
                answer: string
              lossHistory:
                hasPriorCarrier: true
                hasZeroClaimsInLastThreeYears: true
                lossApplication: 0
                premium: 0
              masterAccountId: 0
              newMasterAccountId: true
              businessName: string
              fein: string
              primaryContactInformation:
                name: string
                phoneNumber: string
                email: string
              primaryAddress:
                line1: string
                line2: string
                city: string
                territory: string
                postalCode: string
              mailingAddress:
                line1: string
                line2: string
                city: string
                territory: string
                postalCode: string
              effectiveDate: string
              agentContactId: 0
              legalEntity: string
              companyWebsite: string
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 1485b858aad1
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: aceb2b705189
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostQuoteRateDtoV3IApiResponse'
              example:
                data:
                  lessorLiability: false
                  status: NotSubmitted
                  premiumDetails:
                    totalCost: 500
                    taxes: 0
                    priceIndication: 0
                    generalLiabilityLimits: 100/500
                    medicalPayments: '1000'
                    damagesToPremisesLiabilityLimit: '500'
                    businessPersonalProperty: '100'
                    propertyDeductible: '400'
                    expansionEndorsement: Basic
                  roofType: ClayTiles
                  highestStoryOccupied: 1
                  digitalClientWorkflow: DigitalClientWorkflow
                  accountInformation:
                    quoteId: 1235677
                    masterAccountId: 23543456
                  businessName: Stark Inc
                  primaryContactInformation:
                    name: John Dou
                    phoneNumber: '5559991234'
                    email: john@test.com
                  primaryAddress:
                    line1: 800 Superior Ave
                    line2: Suit A
                    city: Cleveland
                    territory: OH
                    postalCode: '44114'
                  mailingAddress:
                    line1: 800 Superior Ave
                    line2: Suit A
                    city: Cleveland
                    territory: OH
                    postalCode: '44114'
                  effectiveDate: '2026-07-25'
                  locations:
                  - id: 1
                    propertyDeductible: $250
                    line1: 800 Superior Ave
                    line2: Suit A
                    city: Cleveland
                    territory: OH
                    postalCode: '44114'
                  fein: '123456789'
                  agentContact:
                    id: 8
                    name: Mike Jordan
                  eligibility: Eligible
                  eligibilityReasons: null
                  legalEntity: Individual
                  companyWebsite: stark-company.com
                  classCode:
                    classCodeId: null
                    classCode: '8838'
                    classDescriptionCode: null
                    personalPropertyCoverage:
                      coverageLimit: 1000
                      valuation: Replacement Cost
                    buildingCoverage:
                      coverageLimit: 2000
                      valuation: Actual Cash Value
                  annualSales: 2000
                  annualPayroll: null
                  numberOfEmployees: null
                  construction:
                    categoryCode: 1
                    categoryName: Frame
                  totalSquareFootage: 1500
                  totalSquareFootageOccupied: 1200
                  totalStories: 13
                  yearBuilt:
                    yearRoofUpdated: 2019
                    yearElectricalUpdated: 2019
                    yearPlumbingUpdated: 2019
                    yearHeatingUpdated: 2019
                    yearBuilt: 2012
                  hasCentralStationFireAlarm: true
                  hasCentralStationBurglarAlarm: true
                  isSprinkleredBuilding: true
                  hasTerrorismCoverage: true
                responseId: 81b526691412
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 201
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: d185294ea3f5
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
      security:
      - apiKeyHeader: []
      - apiKeyQuery: []
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v1/quotes/{quoteId}/additional-insured/{additionalInsuredId}:
    delete:
      tags:
      - Quotes
      summary: Remove additional insured
      description: This endpoint allows users to remove an additional insured on the specific quote.
      operationId: delete-api-v1-quotes-quoteid-additional-insured-additionalinsuredid
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      - name: additionalInsuredId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: f6de569ccbd4
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 57de05d41a04
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 0bb43264d709
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
      security:
      - apiKeyHeader: []
      - apiKeyQuery: []
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v2/quotes/{quoteId}/additional-insured:
    post:
      tags:
      - Quotes
      summary: Add additional insured or interest
      description: This endpoint allows you to add additional insured or interest information to the quote. If NamedInsured and CommonOwnership are both true we will default the form. For named insured, only values ​​from the AdditionalInsuredName, DBA, CommonOwnership, locationId and buildings fields will be used, all other fields will be ignored.
      operationId: post-api-v2-quotes-quoteid-additional-insured
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PostAdditionalInsuredRequestV2'
            example:
              form: 0 = Mortgagee
              additionalInsuredName: string
              propertyDescription: string
              clause: 0 = NotApplicable
              locationId: 0
              buildings:
              - 0
              nameOfInsuredPersonOrganization: string
              leasedEquipmentDescription: string
              typeOfRisk: 1 = ApartmentAndOffice
              leasedEquipmentLocation: string
              locationAndDescriptionOfCompletedOperations: string
              stateOrPoliticalSubdivision: string
              namedInsured: true
              dba: string
              commonOwnership: true
          application/json:
            schema:
              $ref: '#/components/schemas/PostAdditionalInsuredRequestV2'
            example:
              form: 0 = Mortgagee
              additionalInsuredName: string
              propertyDescription: string
              clause: 0 = NotApplicable
              locationId: 0
              buildings:
              - 0
              nameOfInsuredPersonOrganization: string
              leasedEquipmentDescription: string
              typeOfRisk: 1 = ApartmentAndOffice
              leasedEquipmentLocation: string
              locationAndDescriptionOfCompletedOperations: string
              stateOrPoliticalSubdivision: string
              namedInsured: true
              dba: string
              commonOwnership: true
          text/json:
            schema:
              $ref: '#/components/schemas/PostAdditionalInsuredRequestV2'
            example:
              form: 0 = Mortgagee
              additionalInsuredName: string
              propertyDescription: string
              clause: 0 = NotApplicable
              locationId: 0
              buildings:
              - 0
              nameOfInsuredPersonOrganization: string
              leasedEquipmentDescription: string
              typeOfRisk: 1 = ApartmentAndOffice
              leasedEquipmentLocation: string
              locationAndDescriptionOfCompletedOperations: string
              stateOrPoliticalSubdivision: string
              namedInsured: true
              dba: string
              commonOwnership: true
          application/*+json:
            schema:
              $ref: '#/components/schemas/PostAdditionalInsuredRequestV2'
            example:
              form: 0 = Mortgagee
              additionalInsuredName: string
              propertyDescription: string
              clause: 0 = NotApplicable
              locationId: 0
              buildings:
              - 0
              nameOfInsuredPersonOrganization: string
              leasedEquipmentDescription: string
              typeOfRisk: 1 = ApartmentAndOffice
              leasedEquipmentLocation: string
              locationAndDescriptionOfCompletedOperations: string
              stateOrPoliticalSubdivision: string
              namedInsured: true
              dba: string
              commonOwnership: true
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: a52be490ad7a
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 3d3b872ac4a3
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
[...]
