{
  "openapi": "3.0.1",
  "info": {
    "title": "Digital BOP API",
    "description": "Digital BOP API allows users to create and edit Businessowners Policy (BOP) quotes",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://gateway.amtrustgroup.com/digital-bop"
    },
    {
      "url": "https://prod-apim-gw.amtrustservices.com/digital-bop"
    }
  ],
  "paths": {
    "/api/v1/agent-contacts": {
      "get": {
        "tags": [
          "Agent Contacts"
        ],
        "summary": "Retrieve all agent contacts",
        "description": "Returns all agent contact IDs, names, and emails linked to the agency authenticated",
        "operationId": "get-api-v1-agent-contacts",
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "c06a30939799",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "9fe42ed125cd",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentContactDtoIEnumerableIApiResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": 1,
                      "name": "George Washington",
                      "email": "gwashington@uspresident.gov"
                    },
                    {
                      "id": 2,
                      "name": "John Adams",
                      "email": "jadams@uspresident.gov"
                    },
                    {
                      "id": 1,
                      "name": "Thomas Jefferson",
                      "email": "tjefferson@uspresident.gov"
                    }
                  ],
                  "responseId": "71f8e87007bd",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/insured/clearance": {
      "post": {
        "tags": [
          "Insured Clearance"
        ],
        "summary": "Retrieve insured clearance",
        "description": "Returns availability of an insured to be quoted, based on name and street address",
        "operationId": "post-api-v1-insured-clearance",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PostInsuredClearanceRequestDto"
              },
              "example": {
                "name": "BOP insured",
                "address": {
                  "line1": "800 Superior Ave",
                  "line2": "Suit A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostInsuredClearanceRequestDto"
              },
              "example": {
                "name": "BOP insured",
                "address": {
                  "line1": "800 Superior Ave",
                  "line2": "Suit A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PostInsuredClearanceRequestDto"
              },
              "example": {
                "name": "BOP insured",
                "address": {
                  "line1": "800 Superior Ave",
                  "line2": "Suit A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PostInsuredClearanceRequestDto"
              },
              "example": {
                "name": "BOP insured",
                "address": {
                  "line1": "800 Superior Ave",
                  "line2": "Suit A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                }
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "ebd364d150d8",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "0a69234335a0",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "004b5d0ad76a",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostInsuredClearanceResponseDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "isAvailable": true,
                    "message": "Insured is available for BOP product"
                  },
                  "responseId": "39c78b3162f9",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/locations": {
      "post": {
        "tags": [
          "Location"
        ],
        "summary": "Add location",
        "description": "This endpoint adds a location to the quote.  Only one location per POST call is accepted",
        "operationId": "post-api-v1-quotes-quoteid-locations",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/LocationDto"
              },
              "example": {
                "propertyDeductible": "$500",
                "propertyDeductable": null,
                "line1": "800 Superior Ave",
                "line2": "Suit A",
                "city": "Cleveland",
                "territory": "OH",
                "postalCode": "44114"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationDto"
              },
              "example": {
                "propertyDeductible": "$500",
                "propertyDeductable": null,
                "line1": "800 Superior Ave",
                "line2": "Suit A",
                "city": "Cleveland",
                "territory": "OH",
                "postalCode": "44114"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationDto"
              },
              "example": {
                "propertyDeductible": "$500",
                "propertyDeductable": null,
                "line1": "800 Superior Ave",
                "line2": "Suit A",
                "city": "Cleveland",
                "territory": "OH",
                "postalCode": "44114"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LocationDto"
              },
              "example": {
                "propertyDeductible": "$500",
                "propertyDeductable": null,
                "line1": "800 Superior Ave",
                "line2": "Suit A",
                "city": "Cleveland",
                "territory": "OH",
                "postalCode": "44114"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "3196ca14e2f4",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "517272e1555c",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationGetDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "buildings": [],
                    "id": 1,
                    "propertyDeductible": "$500",
                    "line1": "800 Superior Ave",
                    "line2": "Suit A",
                    "city": "Cleveland",
                    "territory": "OH",
                    "postalCode": "44114"
                  },
                  "responseId": "08c3ee3a280b",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 201,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "406f79b62a7b",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Retrieve locations",
        "description": "Returns all currently saved locations on the quote passed, along with any class codes saved to that location",
        "operationId": "get-api-v1-quotes-quoteid-locations",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "7d02774616c2",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "fd289e0b751d",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationGetDtoIEnumerableIApiResponse"
                },
                "example": {
                  "data": [
                    {
                      "buildings": [
                        {
                          "id": 1,
                          "classCode": {
                            "classCodeId": null,
                            "classCode": "11011",
                            "classDescriptionCode": null,
                            "personalPropertyCoverage": {
                              "coverageLimit": 1000,
                              "valuation": "Replacement Cost"
                            },
                            "buildingCoverage": {
                              "coverageLimit": 2000,
                              "valuation": "Actual Cash Value"
                            }
                          },
                          "annualSales": 10000,
                          "annualPayroll": null,
                          "numberOfEmployees": null,
                          "constructionCategoryCode": 1,
                          "totalSquareFootage": 1500,
                          "squareFootageOccupied": 1200,
                          "totalStories": 13,
                          "yearBuilt": 1959,
                          "yearRoofUpdated": 2020,
                          "yearElectricalUpdated": 2019,
                          "yearPlumbingUpdated": 2018,
                          "yearHeatingUpdated": 2019,
                          "hasCentralStationFireAlarm": true,
                          "hasCentralStationBurglarAlarm": false,
                          "isSprinkleredBuilding": true,
                          "roofType": "ClayTiles",
                          "highestStoryOccupied": 3
                        }
                      ],
                      "id": 1,
                      "propertyDeductible": null,
                      "line1": "800 Superior Ave",
                      "line2": "Suit A",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    }
                  ],
                  "responseId": "f32b95309b2b",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 201,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "a6dfa728daa7",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/locations/{locationId}": {
      "patch": {
        "tags": [
          "Location"
        ],
        "summary": "Update location",
        "description": "Updates existing location information on a quote",
        "operationId": "patch-api-v1-quotes-quoteid-locations-locationid",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/JsonPatchDocument"
                }
              },
              "example": [
                {
                  "value": "800 Superior Ave",
                  "path": "/line1",
                  "op": "replace"
                },
                {
                  "value": "Suit A",
                  "path": "/line2",
                  "op": "replace"
                },
                {
                  "value": "OH",
                  "path": "/territory",
                  "op": "replace"
                }
              ]
            }
          }
        },
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "4a7bd0034b48",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "53b4b573a74a",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationPatchResponseDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "id": 1,
                    "propertyDeductible": null,
                    "line1": "800 Superior Ave",
                    "line2": "Suit A",
                    "city": "Cleveland",
                    "territory": "OH",
                    "postalCode": "44114"
                  },
                  "responseId": "7558a28c540e",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "d3438e597e07",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "30016deaaa46",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/locations/{locationId}/buildings/{buildingId}": {
      "patch": {
        "tags": [
          "Location"
        ],
        "summary": "Update building",
        "description": "Updates existing building information under a specific location, on a quote",
        "operationId": "patch-api-v1-quotes-quoteid-locations-locationid-buildings-buildingid",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "buildingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/JsonPatchDocument"
                }
              },
              "example": [
                {
                  "value": "10000",
                  "path": "/annualSales",
                  "op": "replace"
                },
                {
                  "value": "39262",
                  "path": "/classCode/classCodeId",
                  "op": "replace"
                },
                {
                  "value": "60999",
                  "path": "/classCode/classCode",
                  "op": "replace"
                },
                {
                  "value": "01",
                  "path": "/classCode/classDescriptionCode",
                  "op": "replace"
                },
                {
                  "value": "1000",
                  "path": "/classCode/personalPropertyCoverage/coverageLimit",
                  "op": "replace"
                },
                {
                  "value": "5000",
                  "path": "/classCode/buildingCoverage/coverageLimit",
                  "op": "replace"
                }
              ]
            }
          }
        },
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "6e13ed56fc0d",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "3556faf809af",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchBuildingResponseV1IApiResponse"
                },
                "example": {
                  "data": {
                    "premiumDetails": {
                      "priceIndication": 0,
                      "generalLiabilityLimits": "100/500",
                      "medicalPayments": "1000",
                      "damagesToPremisesLiabilityLimit": "500",
                      "businessPersonalProperty": "100",
                      "propertyDeductible": "400",
                      "expansionEndorsement": "Basic"
                    },
                    "id": 1,
                    "classCode": {
                      "classCodeId": null,
                      "classCode": "60999",
                      "classDescriptionCode": "01",
                      "personalPropertyCoverage": {
                        "coverageLimit": 1000,
                        "valuation": "Replacement Cost"
                      },
                      "buildingCoverage": {
                        "coverageLimit": 2000,
                        "valuation": "Actual Cash Value"
                      }
                    },
                    "annualSales": 10000,
                    "annualPayroll": null,
                    "numberOfEmployees": null,
                    "constructionCategoryCode": 1,
                    "totalSquareFootage": 1500,
                    "squareFootageOccupied": 1200,
                    "totalStories": 13,
                    "yearBuilt": 1959,
                    "yearRoofUpdated": 2020,
                    "yearElectricalUpdated": 2019,
                    "yearPlumbingUpdated": 2018,
                    "yearHeatingUpdated": 2019,
                    "hasCentralStationFireAlarm": true,
                    "hasCentralStationBurglarAlarm": false,
                    "isSprinkleredBuilding": true,
                    "roofType": null,
                    "highestStoryOccupied": null
                  },
                  "responseId": "9832be4f0495",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 201,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "43634f7e62a5",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "5dc50def78ab",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}": {
      "get": {
        "tags": [
          "Quotes"
        ],
        "summary": "Retrieve quote information",
        "description": "Returns all currently saved quote information",
        "operationId": "get-api-v1-quotes-quoteid",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "0f04770c5af9",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "24a53fede95c",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuoteDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "locations": [
                      {
                        "buildings": [
                          {
                            "id": 1,
                            "classCode": {
                              "classCodeId": null,
                              "classCode": "11011",
                              "classDescriptionCode": null,
                              "personalPropertyCoverage": {
                                "coverageLimit": 1000,
                                "valuation": "Replacement Cost"
                              },
                              "buildingCoverage": {
                                "coverageLimit": 2000,
                                "valuation": "Actual Cash Value"
                              }
                            },
                            "annualSales": 10000,
                            "annualPayroll": null,
                            "numberOfEmployees": null,
                            "constructionCategoryCode": 1,
                            "totalSquareFootage": 1500,
                            "squareFootageOccupied": 1200,
                            "totalStories": 13,
                            "yearBuilt": 1959,
                            "yearRoofUpdated": 2020,
                            "yearElectricalUpdated": 2019,
                            "yearPlumbingUpdated": 2018,
                            "yearHeatingUpdated": 2019,
                            "hasCentralStationFireAlarm": true,
                            "hasCentralStationBurglarAlarm": false,
                            "isSprinkleredBuilding": true,
                            "roofType": "ClayTiles",
                            "highestStoryOccupied": 3
                          }
                        ],
                        "id": 1,
                        "propertyDeductible": null,
                        "line1": "800 Superior Ave",
                        "line2": "Suit A",
                        "city": "Cleveland",
                        "territory": "OH",
                        "postalCode": "44114"
                      }
                    ],
                    "accountInformation": {
                      "quoteId": 1234567,
                      "masterAccountId": 24786342
                    },
                    "premiumDetails": {
                      "taxes": 0,
                      "totalPremium": 1500.55,
                      "totalCost": 0
                    },
                    "fein": "234567823",
                    "businessName": "Super Great Developers",
                    "primaryContactInformation": {
                      "name": "Steve Everyman",
                      "phoneNumber": "8001234567",
                      "email": "Steve.Everyman@GreatDevs.com"
                    },
                    "primaryAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suit A",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "mailingAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suit A",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "effectiveDate": "2026-07-25",
                    "agentContactId": 123,
                    "agentContactName": "Bill Gates",
                    "legalEntity": "Partnership",
                    "eligibility": "Eligible",
                    "eligibilityReasons": null,
                    "hasTerrorismCoverage": true,
                    "companyWebsite": "www.company.web.site.amtrust"
                  },
                  "responseId": "badcbb6e65b9",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "a1ba25139b76",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Quotes"
        ],
        "summary": "Update quote information",
        "description": "Updates basic insured level information on quote",
        "operationId": "patch-api-v1-quotes-quoteid",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/JsonPatchDocument"
                }
              },
              "example": [
                {
                  "value": "800 Superior Ave",
                  "path": "/mailingAddress/line1",
                  "op": "replace"
                },
                {
                  "value": "Suit A",
                  "path": "/mailingAddress/line2",
                  "op": "replace"
                },
                {
                  "value": "Cleveland",
                  "path": "/mailingAddress/city",
                  "op": "replace"
                }
              ]
            }
          }
        },
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "27b32e84c8d2",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "2dd0c08d3849",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchQuoteDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "premiumDetails": {
                      "taxes": 0,
                      "totalPremium": 1500.55,
                      "totalCost": 0
                    },
                    "locations": [
                      {
                        "buildings": [
                          {
                            "id": 1,
                            "classCode": {
                              "classCodeId": null,
                              "classCode": "11011",
                              "classDescriptionCode": null,
                              "personalPropertyCoverage": {
                                "coverageLimit": 1000,
                                "valuation": "Replacement Cost"
                              },
                              "buildingCoverage": {
                                "coverageLimit": 2000,
                                "valuation": "Actual Cash Value"
                              }
                            },
                            "annualSales": 10000,
                            "annualPayroll": null,
                            "numberOfEmployees": null,
                            "constructionCategoryCode": 1,
                            "totalSquareFootage": 1500,
                            "squareFootageOccupied": 1200,
                            "totalStories": 13,
                            "yearBuilt": 1959,
                            "yearRoofUpdated": 2020,
                            "yearElectricalUpdated": 2019,
                            "yearPlumbingUpdated": 2018,
                            "yearHeatingUpdated": 2019,
                            "hasCentralStationFireAlarm": true,
                            "hasCentralStationBurglarAlarm": false,
                            "isSprinkleredBuilding": true,
                            "roofType": "ClayTiles",
                            "highestStoryOccupied": 3
                          }
                        ],
                        "id": 1,
                        "propertyDeductible": null,
                        "line1": "800 Superior Ave",
                        "line2": "Suit A",
                        "city": "Cleveland",
                        "territory": "OH",
                        "postalCode": "44114"
                      }
                    ],
                    "companyWebsite": "www.company.web.site.eu",
                    "digitalClientWorkflow": "DigitalClientWorkflow",
                    "accountInformation": {
                      "quoteId": 1234567,
                      "masterAccountId": 24786342
                    },
                    "fein": "234567823",
                    "businessName": "Super Great Developers",
                    "primaryContactInformation": {
                      "name": "Steve Everyman",
                      "phoneNumber": "8001234567",
                      "email": "Steve.Everyman@GreatDevs.com"
                    },
                    "primaryAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suit A",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "mailingAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suit A",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "effectiveDate": "2026-07-25",
                    "agentContactId": 123,
                    "legalEntity": "Partnership"
                  },
                  "responseId": "f5c0edd10393",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "11cbad15dd86",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "06b20002ec8b",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Quotes"
        ],
        "summary": "Update quote information.",
        "description": "Updates information on an existing quote. <br> <br>\r\n                    __Please Note:__ entire existing quote body must be included, \r\n                    and any desired additonal/updated information should be added/changed within the body. \r\n                    If information is omitted, it will be deleted.",
        "operationId": "put-api-v1-quotes-quoteid",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRatePutRequest"
              },
              "example": {
                "skipUWQuestions": true,
                "expandedResponse": true,
                "skipRate": true,
                "skipEval": true,
                "dba": "string",
                "masterAccountId": 0,
                "numberOfEmployees": 0,
                "businessName": "string",
                "fein": "string",
                "primaryContactInformation": {
                  "name": "string",
                  "phoneNumber": "string",
                  "email": "string"
                },
                "primaryAddress": {
                  "line1": "string",
                  "line2": "string",
                  "city": "string",
                  "territory": "string",
                  "postalCode": "string"
                },
                "mailingAddress": {
                  "line1": "string",
                  "line2": "string",
                  "city": "string",
                  "territory": "string",
                  "postalCode": "string"
                },
                "effectiveDate": "string",
                "agentContactId": 0,
                "legalEntity": "string",
                "companyWebsite": "string",
                "lessorLiability": true,
                "propertyDeductible": "string",
                "classCode": {
                  "classCodeId": 0,
                  "personalPropertyCoverage": {
                    "coverageLimit": 0,
                    "valuation": "string"
                  },
                  "buildingCoverage": {
                    "coverageLimit": 0,
                    "valuation": "string"
                  }
                },
                "annualSales": 0,
                "constructionCategoryCode": 0,
                "totalSquareFootage": 0,
                "totalSquareFootageOccupied": 0,
                "totalStories": 0,
                "yearBuilt": {
                  "yearBuilt": 0,
                  "yearRoofUpdated": 0,
                  "yearElectricalUpdated": 0,
                  "yearPlumbingUpdated": 0,
                  "yearHeatingUpdated": 0
                },
                "hasCentralStationFireAlarm": true,
                "hasCentralStationBurglarAlarm": true,
                "isSprinkleredBuilding": true,
                "underwritingQuestions": [
                  {
                    "questionId": "string",
                    "answer": "string"
                  }
                ],
                "lossHistory": {
                  "hasPriorCarrier": true,
                  "hasZeroClaimsInLastThreeYears": true,
                  "lossApplication": 0,
                  "premium": 0
                },
                "roofType": "string",
                "highestStoryOccupied": 0,
                "digitalClientWorkflow": "string"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRatePutRequest"
              },
              "example": {
                "skipUWQuestions": true,
                "expandedResponse": true,
                "skipRate": true,
                "skipEval": true,
                "dba": "string",
                "masterAccountId": 0,
                "numberOfEmployees": 0,
                "businessName": "string",
                "fein": "string",
                "primaryContactInformation": {
                  "name": "string",
                  "phoneNumber": "string",
                  "email": "string"
                },
                "primaryAddress": {
                  "line1": "string",
                  "line2": "string",
                  "city": "string",
                  "territory": "string",
                  "postalCode": "string"
                },
                "mailingAddress": {
                  "line1": "string",
                  "line2": "string",
                  "city": "string",
                  "territory": "string",
                  "postalCode": "string"
                },
                "effectiveDate": "string",
                "agentContactId": 0,
                "legalEntity": "string",
                "companyWebsite": "string",
                "lessorLiability": true,
                "propertyDeductible": "string",
                "classCode": {
                  "classCodeId": 0,
                  "personalPropertyCoverage": {
                    "coverageLimit": 0,
                    "valuation": "string"
                  },
                  "buildingCoverage": {
                    "coverageLimit": 0,
                    "valuation": "string"
                  }
                },
                "annualSales": 0,
                "constructionCategoryCode": 0,
                "totalSquareFootage": 0,
                "totalSquareFootageOccupied": 0,
                "totalStories": 0,
                "yearBuilt": {
                  "yearBuilt": 0,
                  "yearRoofUpdated": 0,
                  "yearElectricalUpdated": 0,
                  "yearPlumbingUpdated": 0,
                  "yearHeatingUpdated": 0
                },
                "hasCentralStationFireAlarm": true,
                "hasCentralStationBurglarAlarm": true,
                "isSprinkleredBuilding": true,
                "underwritingQuestions": [
                  {
                    "questionId": "string",
                    "answer": "string"
                  }
                ],
                "lossHistory": {
                  "hasPriorCarrier": true,
                  "hasZeroClaimsInLastThreeYears": true,
                  "lossApplication": 0,
                  "premium": 0
                },
                "roofType": "string",
                "highestStoryOccupied": 0,
                "digitalClientWorkflow": "string"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRatePutRequest"
              },
              "example": {
                "skipUWQuestions": true,
                "expandedResponse": true,
                "skipRate": true,
                "skipEval": true,
                "dba": "string",
                "masterAccountId": 0,
                "numberOfEmployees": 0,
                "businessName": "string",
                "fein": "string",
                "primaryContactInformation": {
                  "name": "string",
                  "phoneNumber": "string",
                  "email": "string"
                },
                "primaryAddress": {
                  "line1": "string",
                  "line2": "string",
                  "city": "string",
                  "territory": "string",
                  "postalCode": "string"
                },
                "mailingAddress": {
                  "line1": "string",
                  "line2": "string",
                  "city": "string",
                  "territory": "string",
                  "postalCode": "string"
                },
                "effectiveDate": "string",
                "agentContactId": 0,
                "legalEntity": "string",
                "companyWebsite": "string",
                "lessorLiability": true,
                "propertyDeductible": "string",
                "classCode": {
                  "classCodeId": 0,
                  "personalPropertyCoverage": {
                    "coverageLimit": 0,
                    "valuation": "string"
                  },
                  "buildingCoverage": {
                    "coverageLimit": 0,
                    "valuation": "string"
                  }
                },
                "annualSales": 0,
                "constructionCategoryCode": 0,
                "totalSquareFootage": 0,
                "totalSquareFootageOccupied": 0,
                "totalStories": 0,
                "yearBuilt": {
                  "yearBuilt": 0,
                  "yearRoofUpdated": 0,
                  "yearElectricalUpdated": 0,
                  "yearPlumbingUpdated": 0,
                  "yearHeatingUpdated": 0
                },
                "hasCentralStationFireAlarm": true,
                "hasCentralStationBurglarAlarm": true,
                "isSprinkleredBuilding": true,
                "underwritingQuestions": [
                  {
                    "questionId": "string",
                    "answer": "string"
                  }
                ],
                "lossHistory": {
                  "hasPriorCarrier": true,
                  "hasZeroClaimsInLastThreeYears": true,
                  "lossApplication": 0,
                  "premium": 0
                },
                "roofType": "string",
                "highestStoryOccupied": 0,
                "digitalClientWorkflow": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRatePutRequest"
              },
              "example": {
                "skipUWQuestions": true,
                "expandedResponse": true,
                "skipRate": true,
                "skipEval": true,
                "dba": "string",
                "masterAccountId": 0,
                "numberOfEmployees": 0,
                "businessName": "string",
                "fein": "string",
                "primaryContactInformation": {
                  "name": "string",
                  "phoneNumber": "string",
                  "email": "string"
                },
                "primaryAddress": {
                  "line1": "string",
                  "line2": "string",
                  "city": "string",
                  "territory": "string",
                  "postalCode": "string"
                },
                "mailingAddress": {
                  "line1": "string",
                  "line2": "string",
                  "city": "string",
                  "territory": "string",
                  "postalCode": "string"
                },
                "effectiveDate": "string",
                "agentContactId": 0,
                "legalEntity": "string",
                "companyWebsite": "string",
                "lessorLiability": true,
                "propertyDeductible": "string",
                "classCode": {
                  "classCodeId": 0,
                  "personalPropertyCoverage": {
                    "coverageLimit": 0,
                    "valuation": "string"
                  },
                  "buildingCoverage": {
                    "coverageLimit": 0,
                    "valuation": "string"
                  }
                },
                "annualSales": 0,
                "constructionCategoryCode": 0,
                "totalSquareFootage": 0,
                "totalSquareFootageOccupied": 0,
                "totalStories": 0,
                "yearBuilt": {
                  "yearBuilt": 0,
                  "yearRoofUpdated": 0,
                  "yearElectricalUpdated": 0,
                  "yearPlumbingUpdated": 0,
                  "yearHeatingUpdated": 0
                },
                "hasCentralStationFireAlarm": true,
                "hasCentralStationBurglarAlarm": true,
                "isSprinkleredBuilding": true,
                "underwritingQuestions": [
                  {
                    "questionId": "string",
                    "answer": "string"
                  }
                ],
                "lossHistory": {
                  "hasPriorCarrier": true,
                  "hasZeroClaimsInLastThreeYears": true,
                  "lossApplication": 0,
                  "premium": 0
                },
                "roofType": "string",
                "highestStoryOccupied": 0,
                "digitalClientWorkflow": "string"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "2abeee3cdb5c",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "2ad5cf27519f",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostQuoteRateDtoV3IApiResponse"
                },
                "example": {
                  "data": {
                    "lessorLiability": false,
                    "status": "NotSubmitted",
                    "premiumDetails": {
                      "totalCost": 500,
                      "taxes": 0,
                      "priceIndication": 0,
                      "generalLiabilityLimits": "100/500",
                      "medicalPayments": "1000",
                      "damagesToPremisesLiabilityLimit": "500",
                      "businessPersonalProperty": "100",
                      "propertyDeductible": "400",
                      "expansionEndorsement": "Basic"
                    },
                    "roofType": "ClayTiles",
                    "highestStoryOccupied": 1,
                    "digitalClientWorkflow": "DigitalClientWorkflow",
                    "accountInformation": {
                      "quoteId": 1235677,
                      "masterAccountId": 23543456
                    },
                    "businessName": "Stark Inc",
                    "primaryContactInformation": {
                      "name": "John Dou",
                      "phoneNumber": "5559991234",
                      "email": "john@test.com"
                    },
                    "primaryAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suit A",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "mailingAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suit A",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "effectiveDate": "2026-07-25",
                    "locations": [
                      {
                        "id": 1,
                        "propertyDeductible": "$250",
                        "line1": "800 Superior Ave",
                        "line2": "Suit A",
                        "city": "Cleveland",
                        "territory": "OH",
                        "postalCode": "44114"
                      }
                    ],
                    "fein": "123456789",
                    "agentContact": {
                      "id": 8,
                      "name": "Mike Jordan"
                    },
                    "eligibility": "Eligible",
                    "eligibilityReasons": null,
                    "legalEntity": "Individual",
                    "companyWebsite": "stark-company.com",
                    "classCode": {
                      "classCodeId": null,
                      "classCode": "8838",
                      "classDescriptionCode": null,
                      "personalPropertyCoverage": {
                        "coverageLimit": 1000,
                        "valuation": "Replacement Cost"
                      },
                      "buildingCoverage": {
                        "coverageLimit": 2000,
                        "valuation": "Actual Cash Value"
                      }
                    },
                    "annualSales": 2000,
                    "annualPayroll": null,
                    "numberOfEmployees": null,
                    "construction": {
                      "categoryCode": 1,
                      "categoryName": "Frame"
                    },
                    "totalSquareFootage": 1500,
                    "totalSquareFootageOccupied": 1200,
                    "totalStories": 13,
                    "yearBuilt": {
                      "yearRoofUpdated": 2019,
                      "yearElectricalUpdated": 2019,
                      "yearPlumbingUpdated": 2019,
                      "yearHeatingUpdated": 2019,
                      "yearBuilt": 2012
                    },
                    "hasCentralStationFireAlarm": true,
                    "hasCentralStationBurglarAlarm": true,
                    "isSprinkleredBuilding": true,
                    "hasTerrorismCoverage": true
                  },
                  "responseId": "478dc52749a5",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 201,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "979a42ffe33d",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/rate": {
      "get": {
        "tags": [
          "Quotes"
        ],
        "summary": "Retrieve quote premium information",
        "description": "Returns premium information on quote passed",
        "operationId": "get-api-v1-quotes-quoteid-rate",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "4e9e222d5efd",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "e5045eeb0042",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRateDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "taxes": 0,
                    "totalPremium": 1500.55,
                    "totalCost": 0
                  },
                  "responseId": "9efdadc7d503",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "39003473dcce",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reference-resources/class-codes": {
      "get": {
        "tags": [
          "Reference Resources"
        ],
        "summary": "Retrieve class code information",
        "description": "This endpoint allows user to retrieve class code information based on query information below: </br>\r\n                            </br> - If no state/class code passed, endpoint will return all class codes, with information necessary to understand any state limitations that exist </br>\r\n                            </br> - If state is passed, endpoint will return only the class codes that are available in that specific state </br>\r\n                            </br> - If state and class code is passed, endpoint will return only that class code </br>",
        "operationId": "get-api-v1-reference-resources-class-codes",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "classCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "03f174f03bf4",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassCodeDtoIEnumerableIApiResponse"
                },
                "example": {
                  "data": [
                    {
                      "stateLimitation": "All states not WA",
                      "classCodeId": 5,
                      "classCode": "65121",
                      "classDescriptionCode": null,
                      "description": "Accounting Services - Office - CPAs",
                      "naics": "541211",
                      "sic": "8721",
                      "requiresPersonalPropertyCoverage": false,
                      "requiresBuildingCoverage": false
                    },
                    {
                      "stateLimitation": "WA only",
                      "classCodeId": 27,
                      "classCode": "50141",
                      "classDescriptionCode": null,
                      "description": "Bakeries - Distributors - No baking on premises",
                      "naics": "422490",
                      "sic": "5149",
                      "requiresPersonalPropertyCoverage": false,
                      "requiresBuildingCoverage": false
                    },
                    {
                      "stateLimitation": "WA only",
                      "classCodeId": 192,
                      "classCode": "33018",
                      "classDescriptionCode": null,
                      "description": "Fruits and Vegetables - no seasonal operations",
                      "naics": "445110",
                      "sic": "5411",
                      "requiresPersonalPropertyCoverage": true,
                      "requiresBuildingCoverage": false
                    }
                  ],
                  "responseId": "b7d9e462da15",
                  "timeStamp": "2026-07-23T11:04:42.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "SUCCESS",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/underwriting-questions": {
      "get": {
        "tags": [
          "Underwriting Questions"
        ],
        "summary": "Retrieve quote’s underwriting questions",
        "description": "Returns all underwriting questions applicable to quote passed",
        "operationId": "get-api-v1-quotes-quoteid-underwriting-questions",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "b3d10d5016f1",
                  "timeStamp": "2026-07-23T11:04:43.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "b3d10d5016f1",
                  "timeStamp": "2026-07-23T11:04:43.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "b3d10d5016f1",
                  "timeStamp": "2026-07-23T11:04:43.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "451859c32325",
                  "timeStamp": "2026-07-23T11:04:43.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "451859c32325",
                  "timeStamp": "2026-07-23T11:04:43.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "451859c32325",
                  "timeStamp": "2026-07-23T11:04:43.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetUnderwritingQuestionAnswerDtoIEnumerableIApiResponse"
                },
                "example": {
                  "data": [
                    {
                      "answer": "Yes",
                      "requirementConditions": null,
                      "questionId": "Bop-59999.2-2",
                      "questionType": "Radio",
                      "text": "Does applicant have sub-contractors that perform installation or repair?",
                      "potentialResponses": [
                        "Yes",
                        "No"
                      ],
                      "childQuestions": [
                        {
                          "answer": "No",
                          "requirementConditions": {
                            "conditions": [
                              {
                                "qualifyingParentAnswer": "Yes",
                                "qualifyingOperator": "="
                              }
                            ]
                          },
                          "questionId": "Bop-59999.2-3",
                          "questionType": "Radio",
                          "text": "Is cost of sub-contracting work greater than 25% of annual gross sales?",
                          "potentialResponses": [
                            "Yes",
                            "No"
                          ],
                          "childQuestions": null
                        }
                      ]
                    }
                  ],
                  "responseId": "b1f3ec92764e",
                  "timeStamp": "2026-07-23T11:04:43.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUnderwritingQuestionAnswerDtoIEnumerableIApiResponse"
                },
                "example": {
                  "data": [
                    {
                      "answer": "Yes",
                      "requirementConditions": null,
                      "questionId": "Bop-59999.2-2",
                      "questionType": "Radio",
                      "text": "Does applicant have sub-contractors that perform installation or repair?",
                      "potentialResponses": [
                        "Yes",
                        "No"
                      ],
                      "childQuestions": [
                        {
                          "answer": "No",
                          "requirementConditions": {
                            "conditions": [
                              {
                                "qualifyingParentAnswer": "Yes",
                                "qualifyingOperator": "="
                              }
                            ]
                          },
                          "questionId": "Bop-59999.2-3",
                          "questionType": "Radio",
                          "text": "Is cost of sub-contracting work greater than 25% of annual gross sales?",
                          "potentialResponses": [
                            "Yes",
                            "No"
                          ],
                          "childQuestions": null
                        }
                      ]
                    }
                  ],
                  "responseId": "b1f3ec92764e",
                  "timeStamp": "2026-07-23T11:04:43.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUnderwritingQuestionAnswerDtoIEnumerableIApiResponse"
                },
                "example": {
                  "data": [
                    {
                      "answer": "Yes",
                      "requirementConditions": null,
                      "questionId": "Bop-59999.2-2",
                      "questionType": "Radio",
                      "text": "Does applicant have sub-contractors that perform installation or repair?",
                      "potentialResponses": [
                        "Yes",
                        "No"
                      ],
                      "childQuestions": [
                        {
                          "answer": "No",
                          "requirementConditions": {
                            "conditions": [
                              {
                                "qualifyingParentAnswer": "Yes",
                                "qualifyingOperator": "="
                              }
                            ]
                          },
                          "questionId": "Bop-59999.2-3",
                          "questionType": "Radio",
                          "text": "Is cost of sub-contracting work greater than 25% of annual gross sales?",
                          "potentialResponses": [
                            "Yes",
                            "No"
                          ],
                          "childQuestions": null
                        }
                      ]
                    }
                  ],
                  "responseId": "b1f3ec92764e",
                  "timeStamp": "2026-07-23T11:04:43.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
[...]
