openapi: 3.2.0
info:
  title: Amtrust Financial Services Underwriting Questions API
  version: '1.0'
  description: 'Operations tagged Underwriting Questions across 2 of this provider''s published API definitions: amtrust-financial-services-digital-bop-api-openapi.json, amtrust-financial-services-digital-cyber-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://gateway.amtrustgroup.com/digital-bop
- url: https://prod-apim-gw.amtrustservices.com/digital-bop
- url: https://gateway.amtrustgroup.com/digital-cyber
- url: https://prod-apim-gw.amtrustservices.com/digital-cyber
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Underwriting Questions
paths:
  /api/v1/quotes/{quoteId}/underwriting-questions:
    get:
      tags:
      - Underwriting Questions
      summary: Retrieve quote’s underwriting questions
      description: Returns all underwriting questions applicable to quote passed
      operationId: get-api-v1-quotes-quoteid-underwriting-questions
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: b3d10d5016f1
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: b3d10d5016f1
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
            text/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: b3d10d5016f1
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 451859c32325
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 451859c32325
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
            text/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 451859c32325
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetUnderwritingQuestionAnswerDtoIEnumerableIApiResponse'
              example:
                data:
                - answer: 'Yes'
                  requirementConditions: null
                  questionId: Bop-59999.2-2
                  questionType: Radio
                  text: Does applicant have sub-contractors that perform installation or repair?
                  potentialResponses:
                  - 'Yes'
                  - 'No'
                  childQuestions:
                  - answer: 'No'
                    requirementConditions:
                      conditions:
                      - qualifyingParentAnswer: 'Yes'
                        qualifyingOperator: '='
                    questionId: Bop-59999.2-3
                    questionType: Radio
                    text: Is cost of sub-contracting work greater than 25% of annual gross sales?
                    potentialResponses:
                    - 'Yes'
                    - 'No'
                    childQuestions: null
                responseId: b1f3ec92764e
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 200
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
            application/json:
              schema:
                $ref: '#/components/schemas/GetUnderwritingQuestionAnswerDtoIEnumerableIApiResponse'
              example:
                data:
                - answer: 'Yes'
                  requirementConditions: null
                  questionId: Bop-59999.2-2
                  questionType: Radio
                  text: Does applicant have sub-contractors that perform installation or repair?
                  potentialResponses:
                  - 'Yes'
                  - 'No'
                  childQuestions:
                  - answer: 'No'
                    requirementConditions:
                      conditions:
                      - qualifyingParentAnswer: 'Yes'
                        qualifyingOperator: '='
                    questionId: Bop-59999.2-3
                    questionType: Radio
                    text: Is cost of sub-contracting work greater than 25% of annual gross sales?
                    potentialResponses:
                    - 'Yes'
                    - 'No'
                    childQuestions: null
                responseId: b1f3ec92764e
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 200
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
            text/json:
              schema:
                $ref: '#/components/schemas/GetUnderwritingQuestionAnswerDtoIEnumerableIApiResponse'
              example:
                data:
                - answer: 'Yes'
                  requirementConditions: null
                  questionId: Bop-59999.2-2
                  questionType: Radio
                  text: Does applicant have sub-contractors that perform installation or repair?
                  potentialResponses:
                  - 'Yes'
                  - 'No'
                  childQuestions:
                  - answer: 'No'
                    requirementConditions:
                      conditions:
                      - qualifyingParentAnswer: 'Yes'
                        qualifyingOperator: '='
                    questionId: Bop-59999.2-3
                    questionType: Radio
                    text: Is cost of sub-contracting work greater than 25% of annual gross sales?
                    potentialResponses:
                    - 'Yes'
                    - 'No'
                    childQuestions: null
                responseId: b1f3ec92764e
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 200
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: ab4b4538ea63
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: ab4b4538ea63
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
            text/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: ab4b4538ea63
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
    post:
      tags:
      - Underwriting Questions
      summary: Save quote’s underwriting question answers
      description: Saves answers to underwriting questions applicable to the quote
      operationId: post-api-v1-quotes-quoteid-underwriting-questions
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AddUnderwritingQuestionAnswerDto'
            example:
            - questionId: Bop-59999.2-1
              answer: 'No'
            - questionId: Bop-59999.2-2
              answer: 'Yes'
            - questionId: Bop-59999.2-3
              answer: 'No'
            - questionId: Bop-59999.2-4
              answer: 'Yes'
            - questionId: Bop-59999.2-5
              answer: 'No'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AddUnderwritingQuestionAnswerDto'
            example:
            - questionId: Bop-59999.2-1
              answer: 'No'
            - questionId: Bop-59999.2-2
              answer: 'Yes'
            - questionId: Bop-59999.2-3
              answer: 'No'
            - questionId: Bop-59999.2-4
              answer: 'Yes'
            - questionId: Bop-59999.2-5
              answer: 'No'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AddUnderwritingQuestionAnswerDto'
            example:
            - questionId: Bop-59999.2-1
              answer: 'No'
            - questionId: Bop-59999.2-2
              answer: 'Yes'
            - questionId: Bop-59999.2-3
              answer: 'No'
            - questionId: Bop-59999.2-4
              answer: 'Yes'
            - questionId: Bop-59999.2-5
              answer: 'No'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AddUnderwritingQuestionAnswerDto'
            example:
            - questionId: Bop-59999.2-1
              answer: 'No'
            - questionId: Bop-59999.2-2
              answer: 'Yes'
            - questionId: Bop-59999.2-3
              answer: 'No'
            - questionId: Bop-59999.2-4
              answer: 'Yes'
            - questionId: Bop-59999.2-5
              answer: 'No'
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 4ff29e032d19
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 4ff29e032d19
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
            text/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 4ff29e032d19
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: e6829db7e126
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: e6829db7e126
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
            text/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: e6829db7e126
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 97c63f731b0e
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 97c63f731b0e
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
            text/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 97c63f731b0e
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '400':
          description: Validation error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: fc5322beb138
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: fc5322beb138
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
            text/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: fc5322beb138
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  isOk:
                    type: boolean
                  httpStatusCode:
                    type: integer
                    format: int32
                  responseId:
                    type: string
                  timeStamp:
                    type: string
                    format: date-time
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        httpStatusCode:
                          type: integer
                          format: int32
                        messageCode:
                          type: string
                        isOk:
                          type: boolean
                        detail:
                          type: string
                  maxMessageIndex:
                    type: integer
                    format: int32
                  _v:
                    type: string
              example:
                isOk: true
                httpStatusCode: 200
                responseId: bf30862e05fe
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                messages:
                - httpStatusCode: 200
                  messageCode: SUCCESS
                  isOk: true
                  detail: Answers have been successfully saved to the quote
                maxMessageIndex: 0
                _v: AD
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v2/quotes/{quoteId}/underwriting-questions:
    get:
      tags:
      - Underwriting Questions
      summary: Retrieve quote's underwriting questions
      description: This endpoint will return all applicable underwriting questions, along with name, question text, and answer-type
      operationId: get-api-v2-quotes-quoteid-underwriting-questions
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse_2'
              example:
                responseId: 73aa7c8eeda2
                timeStamp: '2026-08-07T11:04:12.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse_2'
              example:
                responseId: 72b6d5ac9826
                timeStamp: '2026-08-07T11:04:12.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse_2'
              example:
                responseId: 43467ac4e7d3
                timeStamp: '2026-08-07T11:04:12.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnderwritingQuestionV2DtoIEnumerableIApiResponse'
              example:
                data:
                - name: CPL-Industry-Technology
                  text: Does the applicant provide technology services?
                  answer: 'No'
                  type: Radio
                  potentialResponses:
                  - 'Yes'
                  - 'No'
                responseId: ce362765d794
                timeStamp: '2026-08-07T11:04:12.0000000+00:00'
                httpStatusCode: 200
                isOk: true
                _v: AD
    post:
      tags:
      - Underwriting Questions
      summary: Save quote's underwriting question answers
      operationId: post-api-v2-quotes-quoteid-underwriting-questions
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostUnderwritingQuestionDto'
            example:
            - questionName: X-59999.2-1
              answer: 'No'
            - questionName: X-59999.2-2
              answer: 'Yes'
            - questionName: X-59999.2-3
              answer: 'No'
            - questionName: X-59999.2-4
              answer: 'Yes'
            - questionName: X-59999.2-5
              answer: 'No'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostUnderwritingQuestionDto'
            example:
            - questionName: X-59999.2-1
              answer: 'No'
            - questionName: X-59999.2-2
              answer: 'Yes'
            - questionName: X-59999.2-3
              answer: 'No'
            - questionName: X-59999.2-4
              answer: 'Yes'
            - questionName: X-59999.2-5
              answer: 'No'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostUnderwritingQuestionDto'
            example:
            - questionName: X-59999.2-1
              answer: 'No'
            - questionName: X-59999.2-2
              answer: 'Yes'
            - questionName: X-59999.2-3
              answer: 'No'
            - questionName: X-59999.2-4
              answer: 'Yes'
            - questionName: X-59999.2-5
              answer: 'No'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostUnderwritingQuestionDto'
            example:
            - questionName: X-59999.2-1
              answer: 'No'
            - questionName: X-59999.2-2
              answer: 'Yes'
            - questionName: X-59999.2-3
              answer: 'No'
            - questionName: X-59999.2-4
              answer: 'Yes'
            - questionName: X-59999.2-5
              answer: 'No'
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse_2'
              example:
                responseId: abc4f4dad188
                timeStamp: '2026-08-07T11:04:12.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse_2'
              example:
                responseId: 6e0879b2be41
                timeStamp: '2026-08-07T11:04:12.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse_2'
              example:
                responseId: 789631f7282f
                timeStamp: '2026-08-07T11:04:12.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse_2'
              example:
                responseId: ef3b1017ec25
                timeStamp: '2026-08-07T11:04:12.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  isOk:
                    type: boolean
                  httpStatusCode:
                    type: integer
                    format: int32
                  responseId:
                    type: string
                  timeStamp:
                    type: string
                    format: date-time
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        httpStatusCode:
                          type: integer
                          format: int32
                        messageCode:
                          type: string
                        isOk:
                          type: boolean
                        detail:
                          type: string
                  maxMessageIndex:
                    type: integer
                    format: int32
                  _v:
                    type: string
              example:
                isOk: true
                httpStatusCode: 200
                responseId: bf30862e05fe
                timeStamp: '2026-08-07T11:04:12.0000000+00:00'
                messages:
                - httpStatusCode: 200
                  messageCode: SUCCESS
                  isOk: true
                  detail: Underwriting question answers have been successfully saved
                maxMessageIndex: 0
                _v: AD
    servers:
    - url: https://gateway.amtrustgroup.com/digital-cyber
    - url: https://prod-apim-gw.amtrustservices.com/digital-cyber
components:
  schemas:
    UnauthorizedError:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        messageType:
          enum:
          - 0 = Info
          - 1 = Error
          type: integer
          format: int32
        detail:
          type:
          - string
          - 'null'
        internal:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        exception:
          $ref: '#/components/schemas/LogException'
        needsSanitization:
          type: boolean
          readOnly: true
        httpStatusCode:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
          readOnly: true
        messageCode:
          type:
          - string
          - 'null'
          readOnly: true
        title:
          type:
          - string
          - 'null'
          readOnly: true
        isOk:
          type: boolean
          readOnly: true
      additionalProperties: false
    LogException:
      type: object
      properties:
        exceptionId:
          type: string
          format: uuid
        module:
          type:
          - string
          - 'null'
        class:
          type:
          - string
          - 'null'
        targetSite:
          type:
          - string
          - 'null'
        httpWebEventCode:
          type:
          - integer
          - 'null'
          format: int32
        httpStatusValue:
          type:
          - integer
          - 'null'
          format: int32
        httpStatusCode:
          type:
          - string
          - 'null'
        httpHtmlMessage:
          type:
          - string
          - 'null'
        properties:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        innerException:
          $ref: '#/components/schemas/LogException'
        message:
          type:
          - string
          - 'null'
        source:
          type:
          - string
          - 'null'
        stackTrace:
          type:
          - string
          - 'null'
        helpLink:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
        data:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        errorCode:
          type:
          - string
          - 'null'
        exceptionType:
          type:
          - string
          - 'null'
        baseException:
          $ref: '#/components/schemas/LogException'
      additionalProperties: false
    NotFoundErrorIApiResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        correlationID:
          type:
          - string
          - 'null'
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        paging:
          $ref: '#/components/schemas/ApiPaging'
        maxMsgIndex:
          type: integer
          format: int32
          readOnly: true
        maxErrIndex:
          type: integer
          format: int32
          readOnly: true
        isOk:
          type: boolean
        apiResponseVersion:
          type:
          - string
          - 'null'
          readOnly: true
        data:
          $ref: '#/components/schemas/NotFoundError'
      additionalProperties: false
    RequirementConditions:
      type: object
      properties:
        conditions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conditions'
      additionalProperties: false
    ApiPageRequest:
      type: object
      properties:
        skip:
          type: integer
          format: int32
        take:
          type: integer
          format: int32
        count:
          type: boolean
      additionalProperties: false
    ApiPaging:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ApiPageRequest'
        response:
          $ref: '#/components/schemas/ApiPageResponse'
      additionalProperties: false
    BadRequestError:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        messageType:
          enum:
          - 0 = Info
          - 1 = Error
          type: integer
          format: int32
        internal:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        exception:
          $ref: '#/components/schemas/LogException'
        needsSanitization:
          type: boolean
          readOnly: true
        httpStatusCode:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
          readOnly: true
        messageCode:
          type:
          - string
          - 'null'
          readOnly: true
        title:
          type:
          - string
          - 'null'
          readOnly: true
        detail:
          type:
          - string
          - 'null'
          readOnly: true
        isOk:
          type: boolean
          readOnly: true
      additionalProperties: false
    ApiPageResponse:
      type: object
      properties:
        first:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        current:
          type:
          - string
          - 'null'
        next:
          type:
          - string
          - 'null'
        last:
          type:
          - string
          - 'null'
        pageSize:
          type:
          - integer
          - 'null'
          format: int32
        count:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    Conditions:
      type: object
      properties:
        qualifyingParentAnswer:
          type:
          - string
          - 'null'
        qualifyingOperator:
          type:
          - string
          - 'null'
      additionalProperties: false
    NotFoundError:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        messageType:
          enum:
          - 0 = Info
          - 1 = Error
          type: integer
          format: int32
        detail:
          type:
          - string
          - 'null'
        internal:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        exception:
          $ref: '#/components/schemas/LogException'
        needsSanitization:
          type: boolean
          readOnly: true
        httpStatusCode:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
          readOnly: true
        messageCode:
          type:
          - string
          - 'null'
          readOnly: true
        title:
          type:
          - string
          - 'null'
          readOnly: true
        isOk:
          type: boolean
          readOnly: true
      additionalProperties: false
    GetUnderwritingQuestionAnswerDto:
      type: object
      properties:
        questionId:
          type:
          - string
          - 'null'
        questionType:
          type:
          - string
          - 'null'
        text:
          type:
          - string
          - 'null'
        potentialResponses:
          type:
          - array
          - 'null'
          items:
            type: string
        childQuestions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ChildGetUnderwritingQuestionDto'
        requirementConditions:
          $ref: '#/components/schemas/RequirementConditions'
        answer:
          type:
          - string
          - 'null'
      additionalProperties: false
    ForbiddenError:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        messageType:
          enum:
          - 0 = Info
          - 1 = Error
          type: integer
          format: int32
        detail:
          type:
          - string
          - 'null'
        internal:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        exception:
          $ref: '#/components/schemas/LogException'
        needsSanitization:
          type: boolean
          readOnly: true
        httpStatusCode:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
          readOnly: true
        messageCode:
          type:
          - string
          - 'null'
          readOnly: true
        title:
          type:
          - string
          - 'null'
          readOnly: true
        isOk:
          type: boolean
          readOnly: true
      additionalProperties: false
    UnauthorizedErrorIApiResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        correlationID:
          type:
          - string
          - 'null'
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        paging:
          $ref: '#/components/schemas/ApiPaging'
        maxMsgIndex:
          type: integer
          format: int32
          readOnly: true
        maxErrIndex:
          type: integer
          format: int32
          readOnly: true
        isOk:
          type: boolean
        apiResponseVersion:
          type:
          - string
          - 'null'
          readOnly: true
        data:
          $ref: '#/components/schemas/UnauthorizedError'
      additionalProperties: false
    ForbiddenErrorIApiResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        correlationID:
          type:
          - string
          - 'null'
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        paging:
          $ref: '#/components/schemas/ApiPaging'
        maxMsgIndex:
          type: integer
          format: int32
          readOnly: true
        maxErrIndex:
          type: integer
          format: int32
          readOnly: true
        isOk:
          type: boolean
        apiResponseVersion:
          type:
          - string
          - 'null'
          readOnly: true
        data:
          $ref: '#/components/schemas/ForbiddenError'
      additionalProperties: false
    ApiMessage:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        messageCode:
          type:
          - string
          - 'null'
        messageType:
          enum:
          - 0 = Info
          - 1 = Error
          type: integer
          format: int32
        title:
          type:
          - string
          - 'null'
        detail:
          type:
          - string
          - 'null'
        internal:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        exception:
          $ref: '#/components/schemas/LogException'
        isOk:
          type: boolean
        needsSanitization:
          type: boolean
          readOnly: true
      additionalProperties: false
    AddUnderwritingQuestionAnswerDto:
      required:
      - answer
      - questionId
      type: object
      properties:
        questionId:
          minLength: 1
          type: string
        answer:
          minLength: 1
          type: string
      additionalProperties: false
    BadRequestErrorIApiResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        correlationID:
          type:
          - string
          - 'null'
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        paging:
          $ref: '#/components/schemas/ApiPaging'
        maxMsgIndex:
          type: integer
          format: int32
          readOnly: true
        maxErrIndex:
          type: integer
          format: int32
          readOnly: true
        isOk:
          type: boolean
        apiResponseVersion:
          type:
          - string
          - 'null'
          readOnly: true
        data:
          $ref: '#/components/schemas/BadRequestError'
      additionalProperties: false
    GetUnderwritingQuestionAnswerDtoIEnumerableIApiResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        correlationID:
          type:
          - string
          - 'null'
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        paging:
          $ref: '#/components/schemas/ApiPaging'
        maxMsgIndex:
          type: integer
          format: int32
          readOnly: true
        maxErrIndex:
          type: integer
          format: int32
          readOnly: true
        isOk:
          type: boolean
        apiResponseVersion:
          type:
          - string
          - 'null'
          readOnly: true
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/GetUnderwritingQuestionAnswerDto'
      additionalProperties: false
    ChildGetUnderwritingQuestionDto:
      type: object
      properties:
        answer:
          type:
          - string
          - 'null'
        questionId:
          type:
          - string
          - 'null'
        questionType:
          type:
          - string
          - 'null'
        text:
          type:
          - string
          - 'null'
        potentialResponses:
          type:
          - array
          - 'null'
          items:
            type: string
        childQuestions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ChildGetUnderwritingQuestionDto'
        requirementConditions:
          $ref: '#/components/schemas/RequirementConditions'
      additionalProperties: false
    UnauthorizedError_2:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        httpStatus:
          $ref: '#/components/schemas/HttpStatusCode'
        messageType:
          $ref: '#/components/schemas/ApiMessageType'
        detail:
          type:
          - string
          - 'null'
        internal:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        exception:
          $ref: '#/components/schemas/LogException'
        needsSanitization:
          type: boolean
          readOnly: true
        httpStatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        messageCode:
          type:
          - string
          - 'null'
          readOnly: true
        title:
          type:
          - string
          - 'null'
          readOnly: true
        isOk:
          type: boolean
          readOnly: true
      additionalProperties: false
    BadRequestErrorIApiResponse_2:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        correlationID:
          type:
          - string
          - 'null'
        httpStatus:
          $ref: '#/components/schemas/HttpStatusCode'
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage_2'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage_2'
        paging:
          $ref: '#/components/schemas/ApiPaging'
        maxMsgIndex:
          type: integer
          format: int32
          readOnly: true
        maxErrIndex:
          type: integer
          format: int32
          readOnly: true
        isOk:
          type: boolean
        apiResponseVersion:
          type:
          - string
          - 'null'
          readOnly: true
        data:
          $ref: '#/components/schemas/BadRequestError_2'
      additionalProperties: false
    ApiMessageType:
      enum:
      - 0 = Info
      - 1 = Error
      type: integer
      format: int32
    UnauthorizedErrorIApiResponse_2:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        correlationID:
          type:
          - string
          - 'null'
        httpStatus:
          $ref: '#/components/schemas/HttpStatusCode'
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage_2'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage_2'
        paging:
          $ref: '#/components/schemas/ApiPaging'
        maxMsgIndex:
          type: integer
          format: int32
          readOnly: true
        maxErrIndex:
          type: integer
          format: int32
          readOnly: true
        isOk:
          type: boolean
        apiResponseVersion:
          type:
          - string
          - 'null'
          readOnly: true
        data:
          $ref: '#/components/schemas/UnauthorizedError_2'
      additionalProperties: false
    UnderwritingQuestionV2DtoIEnumerableIApiResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        correlationID:
          type:
          - string
          - 'null'
        httpStatus:
          $ref: '#/components/schemas/HttpStatusCode'
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage_2'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage_2'
        paging:
          $ref: '#/components/schemas/ApiPaging'
        maxMsgIndex:
          type: integer
          format: int32
          readOnly: true
        maxErrIndex:
          type: integer
          format: int32
          readOnly: true
        isOk:
          type: boolean
        apiResponseVersion:
          type:
          - string
          - 'null'
          readOnly: true
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/UnderwritingQuestionV2Dto'
      additionalProperties: false
    BadRequestError_2:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        httpStatus:
          $ref: '#/components/schemas/HttpStatusCode'
        messageType:
          $ref: '#/components/schemas/ApiMessageType'
        internal:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        exception:
          $ref: '#/components/schemas/LogException'
        needsSanitization:
          type: boolean
          readOnly: true
        httpStatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        messageCode:
          type:
          - string
          - 'null'
          readOnly: true
        title:
          type:
          - string
          - 'null'
          readOnly: true
        detail:
          type:
          - string
          - 'null'
          readOnly: true
        isOk:
          type: boolean
          readOnly: true
      additionalProperties: false
    ForbiddenErrorIApiResponse_2:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        correlationID:
          type:
          - string
          - 'null'
        httpStatus:
          $ref: '#/components/schemas/HttpStatusCode'
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage_2'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage_2'
        paging:
          $ref: '#/components/schemas/ApiPaging'
        maxMsgIndex:
          type: integer
          format: int32
          readOnly: true
        maxErrIndex:
          type: integer
          format: int32
          readOnly: true
        isOk:
          type: boolean
        apiResponseVersion:
          type:
          - string
          - 'null'
          readOnly: true
        data:
          $ref: '#/components/schemas/ForbiddenError_2'
      additionalProperties: false
    NotFoundErrorIApiResponse_2:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        correlationID:
          type:
          - string
          - 'null'
        httpStatus:
          $ref: '#/components/schemas/HttpStatusCode'
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage_2'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage_2'
        paging:
          $ref: '#/components/schemas/ApiPaging'
        maxMsgIndex:
          type: integer
          format: int32
          readOnly: true
        maxErrIndex:
          type: integer
          format: int32
          readOnly: true
        isOk:
          type: boolean
        apiResponseVersion:
          type:
          - string
          - 'null'
          readOnly: true
        data:
          $ref: '#/components/schemas/NotFoundError_2'
      additionalProperties: false
    ApiMessage_2:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        httpStatus:
          $ref: '#/components/schemas/HttpStatusCode'
        messageCode:
          type:
          - string
          - 'null'
        messageType:
          $ref: '#/components/schemas/ApiMessageType'
        title:
          type:
          - string
          - 'null'
        detail:
          type:
          - string
          - 'null'
        internal:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        exception:
          $ref: '#/components/schemas/LogException'
        isOk:
          type: boolean
        needsSanitization:
          type: boolean
          readOnly: true
      additionalProperties: false
    NotFoundError_2:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        httpStatus:
          $ref: '#/components/schemas/HttpStatusCode'
        messageType:
          $ref: '#/components/schemas/ApiMessageType'
        detail:
          type:
          - string
          - 'null'
        internal:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        exception:
          $ref: '#/components/schemas/LogException'
        needsSanitization:
          type: boolean
          readOnly: true
        httpStatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        messageCode:
          type:
          - string
          - 'null'
          readOnly: true
        title:
          type:
          - string
          - 'null'
          readOnly: true
        isOk:
          type: boolean
          readOnly: true
      additionalProperties: false
    UnderwritingQuestionV2Dto:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        text:
          type:
          - string
          - 'null'
        answer:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        potentialResponses:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    PostUnderwritingQuestionDto:
      required:
      - answer
      - questionName
      type: object
      properties:
        questionName:
          minLength: 1
          type: string
        answer:
          minLength: 1
          type: string
      additionalProperties: false
    HttpStatusCode:
      enum:
      - 100 = Continue
      - 101 = SwitchingProtocols
      - 102 = Processing
      - 103 = EarlyHints
      - 200 = OK
      - 201 = Created
      - 202 = Accepted
      - 203 = NonAuthoritativeInformation
      - 204 = NoContent
      - 205 = ResetContent
      - 206 = PartialContent
      - 207 = MultiStatus
      - 208 = AlreadyReported
      - 226 = IMUsed
      - 300 = MultipleChoices
      - 300 = Ambiguous
      - 301 = MovedPermanently
      - 301 = Moved
      - 302 = Found
      - 302 = Redirect
      - 303 = SeeOther
      - 303 = RedirectMethod
      - 304 = NotModified
      - 305 = UseProxy
      - 306 = Unused
      - 307 = TemporaryRedirect
      - 307 = RedirectKeepVerb
      - 308 = PermanentRedirect
      - 400 = BadRequest
      - 401 = Unauthorized
      - 402 = PaymentRequired
      - 403 = Forbidden
      - 404 = NotFound
      - 405 = MethodNotAllowed
      - 406 = NotAcceptable
      - 407 = ProxyAuthenticationRequired
      - 408 = RequestTimeout
      - 409 = Conflict
      - 410 = Gone
      - 411 = LengthRequired
      - 412 = PreconditionFailed
      - 413 = RequestEntityTooLarge
      - 414 = RequestUriTooLong
      - 415 = UnsupportedMediaType
      - 416 = RequestedRangeNotSatisfiable
      - 417 = ExpectationFailed
      - 421 = MisdirectedRequest
      - 422 = UnprocessableEntity
      - 422 = UnprocessableContent
      - 423 = Locked
      - 424 = FailedDependency
      - 426 = UpgradeRequired
      - 428 = PreconditionRequired
      - 429 = TooManyRequests
      - 431 = RequestHeaderFieldsTooLarge
      - 451 = UnavailableForLegalReasons
      - 500 = InternalServerError
      - 501 = NotImplemented
      - 502 = BadGateway
      - 503 = ServiceUnavailable
      - 504 = GatewayTimeout
      - 505 = HttpVersionNotSupported
      - 506 = VariantAlsoNegotiates
      - 507 = InsufficientStorage
      - 508 = LoopDetected
      - 510 = NotExtended
      - 511 = NetworkAuthenticationRequired
      type: integer
      format: int32
    ForbiddenError_2:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        httpStatus:
          $ref: '#/components/schemas/HttpStatusCode'
        messageType:
          $ref: '#/components/schemas/ApiMessageType'
        detail:
          type:
          - string
          - 'null'
        internal:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        exception:
          $ref: '#/components/schemas/LogException'
        needsSanitization:
          type: boolean
          readOnly: true
        httpStatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        messageCode:
          type:
          - string
          - 'null'
          readOnly: true
        title:
          type:
          - string
          - 'null'
          readOnly: true
        isOk:
          type: boolean
          readOnly: true
      additionalProperties: false
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: subscriber_id
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
x-refined-from:
- amtrust-financial-services-digital-bop-api-openapi.json
- amtrust-financial-services-digital-cyber-api-openapi.json
