openapi: 3.2.0
info:
  title: Amtrust Financial Services Location API
  version: '1.0'
  description: 'Operations tagged Location across 3 of this provider''s published API definitions: amtrust-financial-services-digital-bop-api-openapi.json, amtrust-financial-services-digital-es-api-openapi.json, amtrust-financial-services-digital-pac-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://gateway.amtrustgroup.com/digital-bop
- url: https://prod-apim-gw.amtrustservices.com/digital-bop
- url: https://gateway.amtrustgroup.com/digital-es
- url: https://prod-apim-gw.amtrustservices.com/digital-es
- url: https://gateway.amtrustgroup.com/digital-pac
- url: https://prod-apim-gw.amtrustservices.com/digital-pac
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Location
paths:
  /api/v1/quotes/{quoteId}/locations:
    post:
      tags:
      - Location
      summary: Add location
      description: This endpoint adds a location to the quote. Only one location per POST call is accepted
      operationId: post-api-v1-quotes-quoteid-locations
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/LocationDto'
            example:
              propertyDeductible: $500
              propertyDeductable: null
              line1: 800 Superior Ave
              line2: Suit A
              city: Cleveland
              territory: OH
              postalCode: '44114'
          application/json:
            schema:
              $ref: '#/components/schemas/LocationDto'
            example:
              propertyDeductible: $500
              propertyDeductable: null
              line1: 800 Superior Ave
              line2: Suit A
              city: Cleveland
              territory: OH
              postalCode: '44114'
          text/json:
            schema:
              $ref: '#/components/schemas/LocationDto'
            example:
              propertyDeductible: $500
              propertyDeductable: null
              line1: 800 Superior Ave
              line2: Suit A
              city: Cleveland
              territory: OH
              postalCode: '44114'
          application/*+json:
            schema:
              $ref: '#/components/schemas/LocationDto'
            example:
              propertyDeductible: $500
              propertyDeductable: null
              line1: 800 Superior Ave
              line2: Suit A
              city: Cleveland
              territory: OH
              postalCode: '44114'
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 3196ca14e2f4
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 517272e1555c
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationGetDtoIApiResponse'
              example:
                data:
                  buildings: []
                  id: 1
                  propertyDeductible: $500
                  line1: 800 Superior Ave
                  line2: Suit A
                  city: Cleveland
                  territory: OH
                  postalCode: '44114'
                responseId: 08c3ee3a280b
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 201
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: 406f79b62a7b
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
    get:
      tags:
      - Location
      summary: Retrieve locations
      description: Returns all currently saved locations on the quote passed, along with any class codes saved to that location
      operationId: get-api-v1-quotes-quoteid-locations
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 7d02774616c2
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: fd289e0b751d
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationGetDtoIEnumerableIApiResponse'
              example:
                data:
                - buildings:
                  - id: 1
                    classCode:
                      classCodeId: null
                      classCode: '11011'
                      classDescriptionCode: null
                      personalPropertyCoverage:
                        coverageLimit: 1000
                        valuation: Replacement Cost
                      buildingCoverage:
                        coverageLimit: 2000
                        valuation: Actual Cash Value
                    annualSales: 10000
                    annualPayroll: null
                    numberOfEmployees: null
                    constructionCategoryCode: 1
                    totalSquareFootage: 1500
                    squareFootageOccupied: 1200
                    totalStories: 13
                    yearBuilt: 1959
                    yearRoofUpdated: 2020
                    yearElectricalUpdated: 2019
                    yearPlumbingUpdated: 2018
                    yearHeatingUpdated: 2019
                    hasCentralStationFireAlarm: true
                    hasCentralStationBurglarAlarm: false
                    isSprinkleredBuilding: true
                    roofType: ClayTiles
                    highestStoryOccupied: 3
                  id: 1
                  propertyDeductible: null
                  line1: 800 Superior Ave
                  line2: Suit A
                  city: Cleveland
                  territory: OH
                  postalCode: '44114'
                responseId: f32b95309b2b
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 201
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: a6dfa728daa7
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v1/quotes/{quoteId}/locations/{locationId}:
    patch:
      tags:
      - Location
      summary: Update location
      description: Updates existing location information on a quote
      operationId: patch-api-v1-quotes-quoteid-locations-locationid
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: locationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/JsonPatchDocument'
            example:
            - value: 800 Superior Ave
              path: /line1
              op: replace
            - value: Suit A
              path: /line2
              op: replace
            - value: OH
              path: /territory
              op: replace
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 4a7bd0034b48
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 53b4b573a74a
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationPatchResponseDtoIApiResponse'
              example:
                data:
                  id: 1
                  propertyDeductible: null
                  line1: 800 Superior Ave
                  line2: Suit A
                  city: Cleveland
                  territory: OH
                  postalCode: '44114'
                responseId: 7558a28c540e
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 200
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: d3438e597e07
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: 30016deaaa46
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
    get:
      tags:
      - Location
      summary: Retrieve location
      description: Returns specific location information tied to ID passed
      operationId: get-api-v1-quotes-quoteid-locations-locationid
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      - name: locationId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse_2'
              example:
                responseId: 29e689f91cf9
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse_2'
              example:
                responseId: e5ee3da8258e
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationGetResponseIApiResponse'
              example:
                data:
                  id: 0
                  line1: 800 Superior Ave
                  line2: Suite A
                  city: Cleveland
                  territory: OH
                  postalCode: '44114'
                  classCodes:
                  - classCode: 15061
                    exposure: 75000
                  - classCode: 43840
                    exposure: 75000
                  - classCode: 44311
                    exposure: 10000
                  hail: null
                  wildfire: null
                  locationScheduleOnFile: false
                responseId: a88cf4ae1860
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 201
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse_2'
              example:
                responseId: 337a0f0edd2b
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
    delete:
      tags:
      - Location
      summary: Remove existing location
      description: 'This endpoint will allow user to remove a location from the quote.


        Removing the location will also remove all class codes linked to that location


        **Please note:** The first location cannot be removed. The PATCH endpoint can be used to edit the first location information'
      operationId: delete-api-v1-quotes-quoteid-locations-locationid
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      - name: locationId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse_2'
              example:
                responseId: 82492343d32f
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse_2'
              example:
                responseId: 566663841e66
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse_2'
              example:
                responseId: e732e08508dd
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse_2'
              example:
                responseId: 4fa9804f5875
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  isOk:
                    type: boolean
                  httpStatusCode:
                    type: integer
                    format: int32
                  responseId:
                    type: string
                  timeStamp:
                    type: string
                    format: date-time
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        httpStatusCode:
                          type: integer
                          format: int32
                        messageCode:
                          type: string
                        isOk:
                          type: boolean
                        detail:
                          type: string
                  maxMessageIndex:
                    type: integer
                    format: int32
                  _v:
                    type: string
              example:
                isOk: true
                httpStatusCode: 200
                responseId: bf30862e05fe
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                messages:
                - httpStatusCode: 200
                  messageCode: SUCCESS
                  isOk: true
                  detail: Location ID <id> has been successfully removed from the quote
                maxMessageIndex: 0
                _v: AD
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v1/quotes/{quoteId}/locations/{locationId}/buildings/{buildingId}:
    patch:
      tags:
      - Location
      summary: Update building
      description: Updates existing building information under a specific location, on a quote
      operationId: patch-api-v1-quotes-quoteid-locations-locationid-buildings-buildingid
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: locationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: buildingId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/JsonPatchDocument'
            example:
            - value: '10000'
              path: /annualSales
              op: replace
            - value: '39262'
              path: /classCode/classCodeId
              op: replace
            - value: '60999'
              path: /classCode/classCode
              op: replace
            - value: '01'
              path: /classCode/classDescriptionCode
              op: replace
            - value: '1000'
              path: /classCode/personalPropertyCoverage/coverageLimit
              op: replace
            - value: '5000'
              path: /classCode/buildingCoverage/coverageLimit
              op: replace
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 6e13ed56fc0d
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 3556faf809af
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchBuildingResponseV1IApiResponse'
              example:
                data:
                  premiumDetails:
                    priceIndication: 0
                    generalLiabilityLimits: 100/500
                    medicalPayments: '1000'
                    damagesToPremisesLiabilityLimit: '500'
                    businessPersonalProperty: '100'
                    propertyDeductible: '400'
                    expansionEndorsement: Basic
                  id: 1
                  classCode:
                    classCodeId: null
                    classCode: '60999'
                    classDescriptionCode: '01'
                    personalPropertyCoverage:
                      coverageLimit: 1000
                      valuation: Replacement Cost
                    buildingCoverage:
                      coverageLimit: 2000
                      valuation: Actual Cash Value
                  annualSales: 10000
                  annualPayroll: null
                  numberOfEmployees: null
                  constructionCategoryCode: 1
                  totalSquareFootage: 1500
                  squareFootageOccupied: 1200
                  totalStories: 13
                  yearBuilt: 1959
                  yearRoofUpdated: 2020
                  yearElectricalUpdated: 2019
                  yearPlumbingUpdated: 2018
                  yearHeatingUpdated: 2019
                  hasCentralStationFireAlarm: true
                  hasCentralStationBurglarAlarm: false
                  isSprinkleredBuilding: true
                  roofType: null
                  highestStoryOccupied: null
                responseId: 9832be4f0495
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 201
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 43634f7e62a5
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: 5dc50def78ab
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v2/quotes/{quoteId}/locations/{locationId}/buildings:
    post:
      tags:
      - Location
      summary: Save building to location
      description: Adds building information to specific location, under the quote
      operationId: post-api-v2-quotes-quoteid-locations-locationid-buildings
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: locationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PostBuildingRequestV2'
            example:
              roofType: AsphaltShingles
              highestStoryOccupied: 1
              classCode:
                classCodeId: 1101
                classCode: null
                classDescriptionCode: null
                classCodeSuffix: null
                personalPropertyCoverage:
                  coverageLimit: 1000
                  valuation: Replacement Cost
                buildingCoverage:
                  coverageLimit: 2000
                  valuation: Actual Cash Value
              annualSales: 10000
              annualPayroll: null
              numberOfEmployees: null
              constructionCategoryCode: 1
              totalSquareFootage: 1500
              squareFootageOccupied: 1200
              totalStories: 13
              yearBuilt: 1959
              yearRoofUpdated: 2020
              yearElectricalUpdated: 2019
              yearPlumbingUpdated: 2018
              yearHeatingUpdated: 2019
              hasCentralStationFireAlarm: true
              hasCentralStationBurglarAlarm: false
              isSprinkleredBuilding: true
          application/json:
            schema:
              $ref: '#/components/schemas/PostBuildingRequestV2'
            example:
              roofType: AsphaltShingles
              highestStoryOccupied: 1
              classCode:
                classCodeId: 1101
                classCode: null
                classDescriptionCode: null
                classCodeSuffix: null
                personalPropertyCoverage:
                  coverageLimit: 1000
                  valuation: Replacement Cost
                buildingCoverage:
                  coverageLimit: 2000
                  valuation: Actual Cash Value
              annualSales: 10000
              annualPayroll: null
              numberOfEmployees: null
              constructionCategoryCode: 1
              totalSquareFootage: 1500
              squareFootageOccupied: 1200
              totalStories: 13
              yearBuilt: 1959
              yearRoofUpdated: 2020
              yearElectricalUpdated: 2019
              yearPlumbingUpdated: 2018
              yearHeatingUpdated: 2019
              hasCentralStationFireAlarm: true
              hasCentralStationBurglarAlarm: false
              isSprinkleredBuilding: true
          text/json:
            schema:
              $ref: '#/components/schemas/PostBuildingRequestV2'
            example:
              roofType: AsphaltShingles
              highestStoryOccupied: 1
              classCode:
                classCodeId: 1101
                classCode: null
                classDescriptionCode: null
                classCodeSuffix: null
                personalPropertyCoverage:
                  coverageLimit: 1000
                  valuation: Replacement Cost
                buildingCoverage:
                  coverageLimit: 2000
                  valuation: Actual Cash Value
              annualSales: 10000
              annualPayroll: null
              numberOfEmployees: null
              constructionCategoryCode: 1
              totalSquareFootage: 1500
              squareFootageOccupied: 1200
              totalStories: 13
              yearBuilt: 1959
              yearRoofUpdated: 2020
              yearElectricalUpdated: 2019
              yearPlumbingUpdated: 2018
              yearHeatingUpdated: 2019
              hasCentralStationFireAlarm: true
              hasCentralStationBurglarAlarm: false
              isSprinkleredBuilding: true
          application/*+json:
            schema:
              $ref: '#/components/schemas/PostBuildingRequestV2'
            example:
              roofType: AsphaltShingles
              highestStoryOccupied: 1
              classCode:
                classCodeId: 1101
                classCode: null
                classDescriptionCode: null
                classCodeSuffix: null
                personalPropertyCoverage:
                  coverageLimit: 1000
                  valuation: Replacement Cost
                buildingCoverage:
                  coverageLimit: 2000
                  valuation: Actual Cash Value
              annualSales: 10000
              annualPayroll: null
              numberOfEmployees: null
              constructionCategoryCode: 1
              totalSquareFootage: 1500
              squareFootageOccupied: 1200
              totalStories: 13
              yearBuilt: 1959
              yearRoofUpdated: 2020
              yearElectricalUpdated: 2019
              yearPlumbingUpdated: 2018
              yearHeatingUpdated: 2019
              hasCentralStationFireAlarm: true
              hasCentralStationBurglarAlarm: false
              isSprinkleredBuilding: true
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 02b4c0a27892
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 0cd3bcc9472b
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostBuildingResponseV2IApiResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: fbc77c115f03
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v2/quotes/{quoteId}/locations/{locationId}/buildings/{buildingId}:
    patch:
      tags:
      - Location
      summary: Update building
      description: Updates existing building information under a specific location, on a quote
      operationId: patch-api-v2-quotes-quoteid-locations-locationid-buildings-buildingid
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: locationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: buildingId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/JsonPatchDocument'
            example:
            - value: '10000'
              path: /annualSales
              op: replace
            - value: '39262'
              path: /classCode/classCodeId
              op: replace
            - value: '60999'
              path: /classCode/classCode
              op: replace
            - value: '01'
              path: /classCode/classDescriptionCode
              op: replace
            - value: '1000'
              path: /classCode/personalPropertyCoverage/coverageLimit
              op: replace
            - value: '5000'
              path: /classCode/buildingCoverage/coverageLimit
              op: replace
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 981338ce63f4
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 04531baa8fef
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchBuildingResponseV2IApiResponse'
              example:
                data:
                  lessorLiability: true
                  premiumDetails:
                    priceIndication: 0
                    generalLiabilityLimits: 100/500
                    medicalPayments: '1000'
                    damagesToPremisesLiabilityLimit: '500'
                    businessPersonalProperty: '100'
                    propertyDeductible: '400'
                    expansionEndorsement: Basic
                  id: 1
                  classCode:
                    classCodeId: null
                    classCode: '60999'
                    classDescriptionCode: '01'
                    personalPropertyCoverage:
                      coverageLimit: 1000
                      valuation: Replacement Cost
                    buildingCoverage:
                      coverageLimit: 2000
                      valuation: Actual Cash Value
                  annualSales: 10000
                  annualPayroll: null
                  numberOfEmployees: null
                  constructionCategoryCode: 1
                  totalSquareFootage: 1500
                  squareFootageOccupied: 1200
                  totalStories: 13
                  yearBuilt: 1959
                  yearRoofUpdated: 2020
                  yearElectricalUpdated: 2019
                  yearPlumbingUpdated: 2018
                  yearHeatingUpdated: 2019
                  hasCentralStationFireAlarm: true
                  hasCentralStationBurglarAlarm: false
                  isSprinkleredBuilding: true
                  roofType: null
                  highestStoryOccupied: null
                responseId: 1f1c9c5985b5
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 201
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 460528ef66ba
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: 512b568864c1
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v2/quotes/{quoteId}/locations:
    get:
      tags:
      - Location
      summary: Retrieve locations
      description: Returns all currently saved locations on the quote passed, along with any class codes saved to that location
      operationId: get-api-v2-quotes-quoteid-locations
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 3439762cd06b
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: d48c4ab16b3b
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationGetDtoV2IEnumerableIApiResponse'
              example:
                data:
                - buildings:
                  - lessorLiability: true
                    id: 1
                    classCode:
                      classCodeId: null
                      classCode: '11011'
                      classDescriptionCode: null
                      personalPropertyCoverage:
                        coverageLimit: 1000
                        valuation: Replacement Cost
                      buildingCoverage:
                        coverageLimit: 2000
                        valuation: Actual Cash Value
                    annualSales: 10000
                    annualPayroll: null
                    numberOfEmployees: null
                    constructionCategoryCode: 1
                    totalSquareFootage: 1500
                    squareFootageOccupied: 1200
                    totalStories: 13
                    yearBuilt: 1959
                    yearRoofUpdated: 2020
                    yearElectricalUpdated: 2019
                    yearPlumbingUpdated: 2018
                    yearHeatingUpdated: 2019
                    hasCentralStationFireAlarm: true
                    hasCentralStationBurglarAlarm: false
                    isSprinkleredBuilding: true
                    roofType: ClayTiles
                    highestStoryOccupied: 3
                  propertyDeductible: null
                  id: 1
                  line1: 800 Superior Ave
                  line2: Suit A
                  city: Cleveland
                  territory: OH
                  postalCode: '44114'
                responseId: 2530ac565b29
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 201
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 83ef91f42692
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v3/quotes/{quoteId}/locations/{locationId}/buildings:
    post:
      tags:
      - Location
      summary: Save building to location
      description: Adds building information to specific location, under the quote
      operationId: post-api-v3-quotes-quoteid-locations-locationid-buildings
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: locationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PostBuildingRequestV3'
            example:
              lessorLiability: null
              roofType: AsphaltShingles
              highestStoryOccupied: 1
              classCode:
                classCodeId: 1101
                classCode: null
                classDescriptionCode: null
                classCodeSuffix: null
                personalPropertyCoverage:
                  coverageLimit: 1000
                  valuation: Replacement Cost
                buildingCoverage:
                  coverageLimit: 2000
                  valuation: Actual Cash Value
              annualSales: 10000
              annualPayroll: null
              numberOfEmployees: null
              constructionCategoryCode: 1
              totalSquareFootage: 1500
              squareFootageOccupied: 1200
              totalStories: 13
              yearBuilt: 1959
              yearRoofUpdated: 2020
              yearElectricalUpdated: 2019
              yearPlumbingUpdated: 2018
              yearHeatingUpdated: 2019
              hasCentralStationFireAlarm: true
              hasCentralStationBurglarAlarm: false
              isSprinkleredBuilding: true
          application/json:
            schema:
              $ref: '#/components/schemas/PostBuildingRequestV3'
            example:
              lessorLiability: null
              roofType: AsphaltShingles
              highestStoryOccupied: 1
              classCode:
                classCodeId: 1101
                classCode: null
                classDescriptionCode: null
                classCodeSuffix: null
                personalPropertyCoverage:
                  coverageLimit: 1000
                  valuation: Replacement Cost
                buildingCoverage:
                  coverageLimit: 2000
                  valuation: Actual Cash Value
              annualSales: 10000
              annualPayroll: null
              numberOfEmployees: null
              constructionCategoryCode: 1
              totalSquareFootage: 1500
              squareFootageOccupied: 1200
              totalStories: 13
              yearBuilt: 1959
              yearRoofUpdated: 2020
              yearElectricalUpdated: 2019
              yearPlumbingUpdated: 2018
              yearHeatingUpdated: 2019
              hasCentralStationFireAlarm: true
              hasCentralStationBurglarAlarm: false
              isSprinkleredBuilding: true
          text/json:
            schema:
              $ref: '#/components/schemas/PostBuildingRequestV3'
            example:
              lessorLiability: null
              roofType: AsphaltShingles
              highestStoryOccupied: 1
              classCode:
                classCodeId: 1101
                classCode: null
                classDescriptionCode: null
                classCodeSuffix: null
                personalPropertyCoverage:
                  coverageLimit: 1000
                  valuation: Replacement Cost
                buildingCoverage:
                  coverageLimit: 2000
                  valuation: Actual Cash Value
              annualSales: 10000
              annualPayroll: null
              numberOfEmployees: null
              constructionCategoryCode: 1
              totalSquareFootage: 1500
              squareFootageOccupied: 1200
              totalStories: 13
              yearBuilt: 1959
              yearRoofUpdated: 2020
              yearElectricalUpdated: 2019
              yearPlumbingUpdated: 2018
              yearHeatingUpdated: 2019
              hasCentralStationFireAlarm: true
              hasCentralStationBurglarAlarm: false
              isSprinkleredBuilding: true
          application/*+json:
            schema:
              $ref: '#/components/schemas/PostBuildingRequestV3'
            example:
              lessorLiability: null
              roofType: AsphaltShingles
              highestStoryOccupied: 1
              classCode:
                classCodeId: 1101
                classCode: null
                classDescriptionCode: null
                classCodeSuffix: null
                personalPropertyCoverage:
                  coverageLimit: 1000
                  valuation: Replacement Cost
                buildingCoverage:
                  coverageLimit: 2000
                  valuation: Actual Cash Value
              annualSales: 10000
              annualPayroll: null
              numberOfEmployees: null
              constructionCategoryCode: 1
              totalSquareFootage: 1500
              squareFootageOccupied: 1200
              totalStories: 13
              yearBuilt: 1959
              yearRoofUpdated: 2020
              yearElectricalUpdated: 2019
              yearPlumbingUpdated: 2018
              yearHeatingUpdated: 2019
              hasCentralStationFireAlarm: true
              hasCentralStationBurglarAlarm: false
              isSprinkleredBuilding: true
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: ec5d9681b441
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 8e1458b4ab09
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostBuildingResponseV3IApiResponse'
              example:
                data:
                  id: 1
                  classCode:
                    classCodeId: null
                    classCode: '11011'
                    classDescriptionCode: null
                    classCodeSuffix: null
                    personalPropertyCoverage:
                      coverageLimit: 1000
                      valuation: Replacement Cost
                    buildingCoverage:
                      coverageLimit: 2000
                      valuation: Actual Cash Value
                  annualSales: 10000
                  annualPayroll: null
                  numberOfEmployees: null
                  constructionCategoryCode: 1
                  totalSquareFootage: 1500
                  squareFootageOccupied: 1200
                  totalStories: 13
                  yearBuilt: 1959
                  yearRoofUpdated: 2020
                  yearElectricalUpdated: 2019
                  yearPlumbingUpdated: 2018
                  yearHeatingUpdated: 2019
                  hasCentralStationFireAlarm: true
                  hasCentralStationBurglarAlarm: false
                  isSprinkleredBuilding: true
                  roofType: AsphaltShingles
                  highestStoryOccupied: 1
                  lessorLiability: true
                  premiumDetails:
                    priceIndication: 0
                    generalLiabilityLimits: 100/500
                    medicalPayments: '1000'
                    damagesToPremisesLiabilityLimit: '500'
                    businessPersonalProperty: '100'
                    propertyDeductible: '400'
                    expansionEndorsement: Basic
                responseId: 563e17c30aee
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 201
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: b2f6b54f0c84
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v1/quotes/{quoteId}/locations/{locationId}/class-codes:
    post:
      tags:
      - Location
      summary: Save class code to location
      description: Saves class code(s) to specific Location ID passed, under specified quote
      operationId: post-api-v1-quotes-quoteid-locations-locationid-class-codes
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      - name: locationId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ClassCodeDto'
            example:
            - classCode: 15061
              exposure: 7500
            - classCode: 43840
              exposure: 7500
            - classCode: 44311
              exposure: 10000
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ClassCodeDto'
            example:
            - classCode: 15061
              exposure: 7500
            - classCode: 43840
              exposure: 7500
            - classCode: 44311
              exposure: 10000
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ClassCodeDto'
            example:
            - classCode: 15061
              exposure: 7500
            - classCode: 43840
              exposure: 7500
            - classCode: 44311
              exposure: 10000
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ClassCodeDto'
            example:
            - classCode: 15061
              exposure: 7500
            - classCode: 43840
              exposure: 7500
            - classCode: 44311
              exposure: 10000
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse_2'
              example:
                responseId: eb3bb02fed50
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse_2'
              example:
                responseId: a41567899616
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassCodeResponseDtoIEnumerableIApiResponse'
              example:
                data:
                - classCode: 15061
                  exposure: 7500
                - classCode: 43840
                  exposure: 7500
                - classCode: 15061
                  exposure: 7500
                responseId: de61b0b9a5e1
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 201
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse_2'
              example:
                responseId: 732c9e1208a7
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
    servers:
    - url: https://gateway.amtrustgroup.com/digital-es
    - url: https://prod-apim-gw.amtrustservices.com/digital-es
  /api/v2/quotes/{quoteId}/locations/{locationId}/commercial-property:
    post:
      tags:
      - Location
      summary: Add Commercial Property
      description: Adds commercial property coverage to a specific location
      operationId: post-api-v2-quotes-quoteid-locations-locationid-commercial-property
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      - name: locationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PostCommercialPropertyDtoV2'
            example:
              cpDeductible: $500
              windHailDeductible: AOP
              protectionClass: 1Y - 5Y
              buildings:
              - id: 0
                classCodeID: 128
                description: Candy store
                construction: 1
                totalSquareFootage: 2
                yearBuilt: 2018
                yearRoofUpdated: null
                yearElectricalUpdated: null
                yearPlumbingUpdated: null
                yearHeatingUpdated: null
                numberOfStories: 2
                coinsurance: '90'
                sprinkleredBuilding: 'Yes'
                causeOfLoss: Special (Including Theft)
                clayConcreteExteriorWalls: null
                groupIIConstruction: null
                coveragesContainer:
                  building:
                    buildingType: Building
                    limit: 10000
                    coinsurance: '90'
                    buildingValuation: ActualCashValue
                  contents:
                    personalProperty:
                      limit: 10000
                      coinsurance: '90'
                    personalPropertyOfOthers:
                      alarmConnection: CentralStationWithKeys
                      personalPropertyValuation: ReplacementExcludingStock
                      watchman: SignalToCentralStation
                      limit: 10000
                      coinsurance: '90'
                  businessIncomeWithExtraExpense:
                    coverageBasis: MaximumPeriodOfIndemnity
                    limit: 10000
                    monthlyLimitation: NotApplicable
                    typeOfRisk: MercantileAndNonManufacturing
                    coinsurance: '80'
          application/json:
            schema:
              $ref: '#/components/schemas/PostCommercialPropertyDtoV2'
            example:
              cpDeductible: $500
              windHailDeductible: AOP
              protectionClass: 1Y - 5Y
              buildings:
              - id: 0
                classCodeID: 128
                description: Candy store
                construction: 1
                totalSquareFootage: 2
                yearBuilt: 2018
                yearRoofUpdated: null
                yearElectricalUpdated: null
                yearPlumbingUpdated: null
                yearHeatingUpdated: null
                numberOfStories: 2
                coinsurance: '90'
                sprinkleredBuilding: 'Yes'
                causeOfLoss: Special (Including Theft)
                clayConcreteExteriorWalls: null
                groupIIConstruction: null
                coveragesContainer:
                  building:
                    buildingType: Building
                    limit: 10000
                    coinsurance: '90'
                    buildingValuation: ActualCashValue
                  contents:
                    personalProperty:
                      limit: 10000
                      coinsurance: '90'
                    personalPropertyOfOthers:
                      alarmConnection: CentralStationWithKeys
                      personalPropertyValuation: ReplacementExcludingStock
                      watchman: SignalToCentralStation
                      limit: 10000
                      coinsurance: '90'
                  businessIncomeWithExtraExpense:
                    coverageBasis: MaximumPeriodOfIndemnity
                    limit: 10000
                    monthlyLimitation: NotApplicable
                    typeOfRisk: MercantileAndNonManufacturing
                    coinsurance: '80'
          text/json:
            schema:
              $ref: '#/components/schemas/PostCommercialPropertyDtoV2'
            example:
              cpDeductible: $500
              windHailDeductible: AOP
              protectionClass: 1Y - 5Y
              buildings:
              - id: 0
                classCodeID: 128
                description: Candy store
                construction: 1
                totalSquareFootage: 2
                yearBuilt: 2018
                yearRoofUpdated: null
                yearElectricalUpdated: null
                yearPlumbingUpdated: null
                yearHeatingUpdated: null
                numberOfStories: 2
                coinsurance: '90'
                sprinkleredBuilding: 'Yes'
                causeOfLoss: Special (Including Theft)
                clayConcreteExteriorWalls: null
                groupIIConstruction: null
                coveragesContainer:
                  building:
                    buildingType: Building
                    limit: 10000
                    coinsurance: '90'
                    buildingValuation: ActualCashValue
                  contents:
                    personalProperty:
                      limit: 10000
                      coinsurance: '90'
                    personalPropertyOfOthers:
                      alarmConnection: CentralStationWithKeys
                      personalPropertyValuation: ReplacementExcludingStock
                      watchman: SignalToCentralStation
                      limit: 10000
                      coinsurance: '90'
                  businessIncomeWithExtraExpense:
                    coverageBasis: MaximumPeriodOfIndemnity
                    limit: 10000
                    monthlyLimitation: NotApplicable
                    typeOfRisk: MercantileAndNonManufacturing
                    coinsurance: '80'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PostCommercialPropertyDtoV2'
            example:
              cpDeductible: $500
              windHailDeductible: AOP
              protectionClass: 1Y - 5Y
              buildings:
              - id: 0
                classCodeID: 128
                description: Candy store
                construction: 1
                totalSquareFootage: 2
                yearBuilt: 2018
                yearRoofUpdated: null
                yearElectricalUpdated: null
                yearPlumbingUpdated: null
                yearHeatingUpdated: null
                numberOfStories: 2
                coinsurance: '90'
                sprinkleredBuilding: 'Yes'
                causeOfLoss: Special (Including Theft)
                clayConcreteExteriorWalls: null
                groupIIConstruction: null
                coveragesContainer:
                  building:
                    buildingType: Building
                    limit: 10000
                    coinsurance: '90'
                    buildingValuation: ActualCashValue
                  contents:
                    personalProperty:
                      limit: 10000
                      coinsurance: '90'
                    personalPropertyOfOthers:
                      alarmConnection: CentralStationWithKeys
                      personalPropertyValuation: ReplacementExcludingStock
                      watchman: SignalToCentralStation
                      limit: 10000
                      coinsurance: '90'
                  businessIncomeWithExtraExpense:
                    coverageBasis: MaximumPeriodOfIndemnity
                    limit: 10000
                    monthlyLimitation: NotApplicable
                    typeOfRisk: MercantileAndNonManufacturing
                    coinsurance: '80'
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse_2'
              example:
                responseId: 472f30efef88
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse_2'
              example:
                responseId: 43c529728b42
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCommercialPropertyResponseDtoV2IApiResponse'
              example:
                data:
                  buildings:
                  - coveragesContainer:
                      contents:
                        personalPropertyOfOthers:
                          alarmConnection: CentralStationWithKeys
                          watchman: SignalToCentralStation
                          personalPropertyValuation: ReplacementExcludingStock
                          limit: 10000
                          coinsurance: '90'
                          causeOfLoss: Special (Including Theft)
                        personalProperty:
                          limit: 10000
                          coinsurance: '90'
                          causeOfLoss: Special (Including Theft)
                      building:
                        buildingType: Building
                        limit: 10000
                        causeOfLoss: Special (Excluding Theft)
                        coinsurance: '90'
                        buildingValuation: ActualCashValue
                      businessIncomeWithExtraExpense:
                        coverageBasis: MaximumPeriodOfIndemnity
                        limit: 10000
                        monthlyLimitation: NotApplicable
                        typeOfRisk: MercantileAndNonManufacturing
                        causeOfLoss: Special (Including Theft)
                        coinsurance: '100'
                    id: 645093
                    classCode: '7074'
                    description: Candy store
                    construction: 1
                    totalSquareFootage: 2
                    yearBuilt: 2018
                    numberOfStories: 2
                    coinsurance: '90'
                    sprinkleredBuilding: 'Yes'
                    causeOfLoss: Special (Excluding Theft)
                    ratingPlan: Specific
                    specificGroupLossCostBuilding: 0.25
                    specificGroupLossCostContents: 0.25
                  quoteId: 983428
                  masterAccountId: 32529301
                  locationId: 1
                  priceComponents:
                    glPremium: 1200
                    propertyPremium: 1389
                    totalPremium: 3067
                    fees: 478
                  deductible: 500
                  generalLiabilityLimits:
                    liabilityOccurrence: 200,000
                    generalAggregate: 200,000
                    productsAggregate: 200,000
                    personalAdvAndInjury: 100,000
                    medicalExpenses: 300,000
                    damagesToPremisesRentedToYou: 100,000
                  packageModification: Not Applicable
                  cpDeductible: $500
                  windHailDeductible: AOP
                  protectionClass: 1X-5X
                responseId: 4e2164adb5f6
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 201
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse_2'
              example:
                responseId: 6aa3cd4a771a
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse_2'
              example:
                responseId: 6855ec2c16dd
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
    servers:
    - url: https://gateway.amtrustgroup.com/digital-es
    - url: https://prod-apim-gw.amtrustservices.com/digital-es
  /api/v2/quotes/{quoteId}/locations/{locationId}/commercial-property/{buildingId}:
    patch:
      tags:
      - Location
      summary: Update Commercial Property
      description: 'This endpoint updates the commercial property information

        The commercial property ids can be located in the GET Quote Information response.


        A quote is no longer editable if it meets one of the following criteria:


        In a Declined status


        Underwriter has approved


        Is Bound


        Effective Date is greater than 120 days from the current date and not bound'
      operationId: patch-api-v2-quotes-quoteid-locations-locationid-commercial-property-buildin
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      - name: locationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: buildingId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JsonPatchDocument'
            example:
            - op: string
              value: string
              path: string
              from: string
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse_2'
              example:
                responseId: be466997f89e
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse_2'
              example:
                responseId: cdabe95155f9
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCommercialPropertyResponseDtoV2IApiResponse'
              example:
                data:
                  buildings:
                  - coveragesContainer:
                      contents:
                        personalPropertyOfOthers:
                          alarmConnection: CentralStationWithKeys
                          watchman: SignalToCentralStation
                          personalPropertyValuation: ReplacementExcludingStock
                          limit: 10000
                          coinsurance: '90'
                          causeOfLoss: Special (Including Theft)
                        personalProperty:
                          limit: 10000
                          coinsurance: '90'
                          causeOfLoss: Special (Including Theft)
                      building:
                        buildingType: Building
                        limit: 10000
                        causeOfLoss: Special (Excluding Theft)
                        coinsurance: '90'
                        buildingValuation: ActualCashValue
                      businessIncomeWithExtraExpense:
                        coverageBasis: MaximumPeriodOfIndemnity
                        limit: 10000
                        monthlyLimitation: NotApplicable
                        typeOfRisk: MercantileAndNonManufacturing
                        causeOfLoss: Special (Including Theft)
                        coinsurance: '100'
                    id: 645093
                    classCode: '7074'
                    description: Candy store
                    construction: 1
                    totalSquareFootage: 2
                    yearBuilt: 2018
                    numberOfStories: 2
                    coinsurance: '90'
                    sprinkleredBuilding: 'Yes'
                    causeOfLoss: Special (Excluding Theft)
                    ratingPlan: Specific
                    specificGroupLossCostBuilding: 0.25
                    specificGroupLossCostContents: 0.25
                  quoteId: 983428
                  masterAccountId: 32529301
                  locationId: 1
                  priceComponents:
                    glPremium: 1200
                    propertyPremium: 1389
                    totalPremium: 3067
                    fees: 478
                  deductible: 500
                  generalLiabilityLimits:
                    liabilityOccurrence: 200,000
                    generalAggregate: 200,000
                    productsAggregate: 200,000
                    personalAdvAndInjury: 100,000
                    medicalExpenses: 300,000
                    damagesToPremisesRentedToYou: 100,000
                  packageModification: Not Applicable
                  cpDeductible: $500
                  windHailDeductible: AOP
                  protectionClass: 1X-5X
                responseId: 2b16a6bd6ac2
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 201
                isOk: true
                messages:
                - httpStatusCode: 200
                  messageCode: Deeplink
                  title: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342
                  isOk: true
                maxMessageIndex: 0
                _v: AD
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse_2'
              example:
                responseId: 03f13bf8c255
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse_2'
              example:
                responseId: e5e4918ab3ca
                timeStamp: '2026-07-15T11:55:58.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
    servers:
    - url: https://gateway.amtrustgroup.com/digital-es
    - url: https://prod-apim-gw.amtrustservices.com/digital-es
  /api/v1/quotes/{quoteId}/locations/{locationId}/commercial-property:
    post:
      tags:
      - Location
      summary: Add Commercial Property
      description: This endpoint saves commercial property coverage to the location
      operationId: post-api-v1-quotes-quoteid-locations-locationid-commercial-property
      parameters:
      - name: quoteId
        in: path
        description: Format - int32.
        required: true
        schema:
          type: integer
      - name: locationId
        in: path
        description: Format - int32.
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PostCommercialPropertyDto'
            example:
              deductible: 500
              buildings:
              - classCode: '0074'
                description: Candy Store
                construction: 1
                totalSquareFootage: 2
                yearBuilt: 2018
                yearWiringUpdated: 0
                yearPlumbingUpdated: 0
                yearHeatingUpdated: 0
                yearRoofingUpdated: 0
                roofType: 0
                numberOfStories: 2
                coinsurance: '80'
                causeOfLoss: Special - Including Theft
                sprinkleredBuilding: 'No'
                isVacantOrPartiallyVacant: 'No'
                coveragesContainer:
                  building:
                    buildingType: Building
                    limit: 10000
                    coinsurance: '90'
                    buildingValuation: ActualCashValue
                    isApplicantOnlyBuildingOccupant: 'No'
                    allOccupantslListedInClassList: null
                    any20PercentOccupant: null
                    listNotIncludedOccupantsInClassList: null
                  contens:
                    personalProperty:
                      limit: 10000
                      coinsurance: '90'
                    personalPropertyOfOthers:
                      alarmConnection: CentralStationWithKeys
                      alarmProtection: Low
                      personalPropertyValuation: ReplacementExcludingStock
                      limit: 10000
                      coinsurance: '90'
          application/json:
            schema:
              $ref: '#/components/schemas/PostCommercialPropertyDto'
            example:
              deductible: 500
              buildings:
              - classCode: '0074'
                description: Candy Store
                construction: 1
                totalSquareFootage: 2
                yearBuilt: 2018
                yearWiringUpdated: 0
                yearPlumbingUpdated: 0
                yearHeatingUpdated: 0
                yearRoofingUpdated: 0
                roofType: 0
                numberOfStories: 2
                coinsurance: '80'
                causeOfLoss: Special - Including Theft
                sprinkleredBuilding: 'No'
                isVacantOrPartiallyVacant: 'No'
                coveragesContainer:
                  building:
                    buildingType: Building
                    limit: 10000
                    coinsurance: '90'
                    buildingValuation: ActualCashValue
                    isApplicantOnlyBuildingOccupant: 'No'
                    allOccupantslListedInClassList: null
                    any20PercentOccupant: null
                    listNotIncludedOccupantsInClassList: null
                  contens:
                    personalProperty:
                      limit: 10000
                      coinsurance: '90'
                    personalPropertyOfOthers:
                      alarmConnection: CentralStationWithKeys
                      alarmProtection: Low
                      personalPropertyValuation: ReplacementExcludingStock
                      limit: 10000
                      coinsurance: '90'
          text/json:
            schema:
              $ref: '#/components/schemas/PostCommercialPropertyDto'
            example:
              deductible: 500
              buildings:
              - classCode: '0074'
                description: Candy Store
                construction: 1
                totalSquareFootage: 2
                yearBuilt: 2018
                yearWiringUpdated: 0
                yearPlumbingUpdated: 0
                yearHeatingUpdated: 0
                yearRoofingUpdated: 0
                roofType: 0
                numberOfStories: 2
                coinsurance: '80'
                causeOfLoss: Special - Including Theft
                sprinkleredBuilding: 'No'
                isVacantOrPartiallyVacant: 'No'
                coveragesContainer:
                  building:
                    buildingType: Building
                    limit: 10000
                    coinsurance: '90'
                    buildingValuation: ActualCashValue
                    isApplicantOnlyBuildingOccupant: 'No'
                    allOccupantslListedInClassList: null
                    any20PercentOccupant: null
                    listNotIncludedOccupantsInClassList: null
                  contens:
                    personalProperty:
                      limit: 10000
                      coinsurance: '90'
                    personalPropertyOfOthers:
                      alarmConnection: CentralStationWithKeys
                      alarmProtection: Low
                      personalPropertyValuation: ReplacementExcludingStock
                      limit: 10000
                      coinsurance: '90'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PostCommercialPropertyDto'
            example:
              deductible: 500
              buildings:
              - classCode: '0074'
                description: Candy Store
                construction: 1
                totalSquareFootage: 2
                yearBuilt: 2018
                yearWiringUpdated: 0
                yearPlumbingUpdated: 0
                yearHeatingUpdated: 0
                yearRoofingUpdated: 0
                roofType: 0
                numberOfStories: 2
                coinsurance: '80'
                causeOfLoss: Special - Including Theft
                sprinkleredBuilding: 'No'
                isVacantOrPartiallyVacant: 'No'
                coveragesContainer:
                  building:
                    buildingType: Building
                    limit: 10000
                    coinsurance: '90'
                    buildingValuation: ActualCashValue
                    isApplicantOnlyBuildingOccupant: 'No'
                    allOccupantslListedInClassList: null
                    any20PercentOccupant: null
                    listNotIncludedOccupantsInClassList: null
                  contens:
                    personalProperty:
                      limit: 10000
                      coinsurance: '90'
                    personalPropertyOfOthers:
                      alarmConnection: CentralStationWithKeys
                      alarmProtection: Low
                      personalPropertyValuation: ReplacementExcludingStock
                      limit: 10000
                      coinsurance: '90'
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse_3'
              example:
                responseId: dc3d2507dd92
                timeStamp: '2023-08-25T01:04:41.7323934+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse_3'
              example:
                responseId: 20a0e0d7baac
                timeStamp: '2023-08-25T01:04:41.7325004+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommercialPropertyResponseDtoIApiResponse'
              example:
                data:
                  quoteId: 983428
                  masterAccountId: 32529301
                  locationId: 1
                  locationAddress:
                    line1: 41 Madison Ave
                    line2: Suite A
                    city: New York
                    territory: NY
                    postalCode: '10010'
                  protectionClass: 1X-5X
                  deductible: 500
                  buildings:
                  - buildingId: 0
                    classCode: '0074'
                    classCodeDescription: null
                    description: Candy Store
                    construction: 1
                    totalSquareFootage: 2
                    yearBuilt: 2018
                    yearWiringUpdated: 0
                    yearPlumbingUpdated: 0
                    yearHeatingUpdated: 0
                    yearRoofingUpdated: 0
                    roofType: 0
                    numberOfStories: 2
                    coinsurance: null
                    causeOfLoss: Special - Including Theft
                    sprinkleredBuilding: 'No'
                    specificGroupLossCostBuilding: 0
                    specificGroupLossCostContents: 0
                    isVacantOrPartiallyVacant: false
                    coveragesContainer:
                      building:
                        buildingType: Building
                        limit: 10000
                        couseOfLouse: Special - Including Theft
                        coinsurance: '90'
                        buildingValuation: ActualCashValue
                      contents:
                        personalProperty:
                          limit: 10000
                          coinsurance: '90'
                          causeOfLoss: Special - Including Theft
                        personalPropertyOfOthers:
                          alarmConnection: CentralStationWithKeys
                          alarmProtection: Low
                          personalPropertyValuation: ReplacementExcludingStock
[...]
