{
  "openapi": "3.0.1",
  "info": {
    "title": "Digital Cyber API",
    "description": "Digital Cyber API allows partners to create, edit, and bind Cyber quotes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://gateway.amtrustgroup.com/digital-cyber"
    },
    {
      "url": "https://prod-apim-gw.amtrustservices.com/digital-cyber"
    }
  ],
  "paths": {
    "/api/v1/agent-contacts": {
      "get": {
        "tags": [
          "Agent Contacts"
        ],
        "summary": "Retrieve all agent contacts",
        "description": "Returns all agent contact IDs, names, and emails linked to the agency authenticated",
        "operationId": "get-api-v1-agent-contacts",
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "f341faa25c4b",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "abe5bea6bd89",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentContactDtoIEnumerableIApiResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": 1,
                      "name": "Agent Name",
                      "email": "agent@email.com"
                    },
                    {
                      "id": 2,
                      "name": "Other Agent",
                      "email": "other.agent@email.com"
                    },
                    {
                      "id": 3,
                      "name": "Third Agent",
                      "email": "third.agent@email.com"
                    }
                  ],
                  "responseId": "bef6b92eb0ec",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/insured/clearance": {
      "post": {
        "tags": [
          "Insured Clearance"
        ],
        "summary": "Retrieve insured clearance",
        "description": "<p>Returns availability of an insured to be quoted</p> <p>Please note:  Insured Name <u>and</u> Insured Address must be sent in</p>",
        "operationId": "post-api-v1-insured-clearance",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PostInsuredClearanceRequestDto"
              },
              "example": {
                "name": "Insured Name",
                "address": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostInsuredClearanceRequestDto"
              },
              "example": {
                "name": "Insured Name",
                "address": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PostInsuredClearanceRequestDto"
              },
              "example": {
                "name": "Insured Name",
                "address": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PostInsuredClearanceRequestDto"
              },
              "example": {
                "name": "Insured Name",
                "address": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                }
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "272e4b907253",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "274ed0253431",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "f5eb07e10bee",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostInsuredClearanceResponseDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "isAvailable": true,
                    "message": "Insured is available for Cyber product"
                  },
                  "responseId": "7f18db48a255",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 201,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://online-uat.amtrustservices.com/ANANexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes": {
      "post": {
        "tags": [
          "Quote"
        ],
        "summary": "Create a rated Quote",
        "operationId": "post-api-v1-quotes",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PostQuoteRequestDto"
              },
              "example": {
                "agentContactId": 1,
                "naicsCode": "921110",
                "paymentPlanId": 13,
                "masterAccountId": 0,
                "digitalClientWorkflow": null,
                "businessName": "Business Inc.",
                "primaryAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "mailingAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite B",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "fein": "123456789",
                "effectiveDate": "2026-08-08",
                "expectedGrossAnnualRevenue": 150000,
                "policyLimits": "100000/2500",
                "insuredContact": {
                  "name": "Insured Name",
                  "phone": "202-555-0112",
                  "email": "insured@email.com"
                },
                "companyWebsite": null,
                "newMasterAccountId": false
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostQuoteRequestDto"
              },
              "example": {
                "agentContactId": 1,
                "naicsCode": "921110",
                "paymentPlanId": 13,
                "masterAccountId": 0,
                "digitalClientWorkflow": null,
                "businessName": "Business Inc.",
                "primaryAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "mailingAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite B",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "fein": "123456789",
                "effectiveDate": "2026-08-08",
                "expectedGrossAnnualRevenue": 150000,
                "policyLimits": "100000/2500",
                "insuredContact": {
                  "name": "Insured Name",
                  "phone": "202-555-0112",
                  "email": "insured@email.com"
                },
                "companyWebsite": null,
                "newMasterAccountId": false
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PostQuoteRequestDto"
              },
              "example": {
                "agentContactId": 1,
                "naicsCode": "921110",
                "paymentPlanId": 13,
                "masterAccountId": 0,
                "digitalClientWorkflow": null,
                "businessName": "Business Inc.",
                "primaryAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "mailingAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite B",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "fein": "123456789",
                "effectiveDate": "2026-08-08",
                "expectedGrossAnnualRevenue": 150000,
                "policyLimits": "100000/2500",
                "insuredContact": {
                  "name": "Insured Name",
                  "phone": "202-555-0112",
                  "email": "insured@email.com"
                },
                "companyWebsite": null,
                "newMasterAccountId": false
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PostQuoteRequestDto"
              },
              "example": {
                "agentContactId": 1,
                "naicsCode": "921110",
                "paymentPlanId": 13,
                "masterAccountId": 0,
                "digitalClientWorkflow": null,
                "businessName": "Business Inc.",
                "primaryAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "mailingAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite B",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "fein": "123456789",
                "effectiveDate": "2026-08-08",
                "expectedGrossAnnualRevenue": 150000,
                "policyLimits": "100000/2500",
                "insuredContact": {
                  "name": "Insured Name",
                  "phone": "202-555-0112",
                  "email": "insured@email.com"
                },
                "companyWebsite": null,
                "newMasterAccountId": false
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "ad6060d3b5c9",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "f09bf48f6d9b",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "8699f49cb7db",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostQuoteResponseDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "quoteId": 123456,
                    "masterAccountId": 24786342,
                    "agentContact": {
                      "id": 1,
                      "name": "Agent Name",
                      "email": "agent@email.com"
                    },
                    "premium": 5000,
                    "premiumDetails": {
                      "finalPremium": 5000,
                      "cityTax": null,
                      "countyTax": null,
                      "stateTax": null,
                      "premiumOverrideAdjustment": null
                    },
                    "eligibility": "Refer",
                    "invoicingSchedule": [
                      {
                        "amount": 3000,
                        "description": "Annual Premium",
                        "premiumAmount": 3000,
                        "date": "2026-08-08",
                        "premiumDueDate": "2026-09-07",
                        "isDownPayment": true
                      }
                    ],
                    "naicsCode": null,
                    "businessName": "Business Inc.",
                    "primaryAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suite A",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "mailingAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suite B",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "fein": "123456789",
                    "effectiveDate": "2026-08-08",
                    "expectedGrossAnnualRevenue": 150000,
                    "policyLimits": "100000/2500",
                    "insuredContact": {
                      "name": "Insured Name",
                      "phone": "202-555-0112",
                      "email": "insured@email.com"
                    },
                    "companyWebsite": "CompanyWebsite.com",
                    "newMasterAccountId": false
                  },
                  "responseId": "203617c80296",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 201,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://online-uat.amtrustservices.com/ANANexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "4ec1649ae663",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}": {
      "get": {
        "tags": [
          "Quote"
        ],
        "summary": "Retrieve quote information",
        "operationId": "get-api-v1-quotes-quoteid",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "236ea282a72f",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "cfab9b9bfc3f",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "caaaef62a96d",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "78d5a29d39fa",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuoteResponseDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "quoteId": 123456,
                    "masterAccountId": 24786342,
                    "effectivedate": "2026-08-07",
                    "businessName": "Business Inc.",
                    "primaryAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suite A",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "mailingAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suite B",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "fein": "123456789",
                    "agentContact": {
                      "id": 1,
                      "name": "Agent",
                      "email": "agent@email.com"
                    },
                    "insuredContact": {
                      "name": "Contact",
                      "firstName": "Contact",
                      "lastName": "",
                      "phoneNumber": "1234567890",
                      "email": "insured@email.com"
                    },
                    "expectedGrossRevenue": 1000,
                    "policyLimits": "250,000.00/2,500.00",
                    "premium": 5000,
                    "premiumDetails": {
                      "finalPremium": 5000,
                      "cityTax": null,
                      "countyTax": null,
                      "stateTax": null,
                      "premiumOverrideAdjustment": null
                    },
                    "eligibility": "Refer",
                    "quoteStatus": "Not Submitted",
                    "companyWebsite": "www.companywebsite.com",
                    "naicsCode": null
                  },
                  "responseId": "8c91d810dcc1",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://online-uat.amtrustservices.com/ANANexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Quote"
        ],
        "summary": "Update quote information",
        "operationId": "patch-api-v1-quotes-quoteid",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              },
              "example": [
                {
                  "value": "800 Superior Ave",
                  "path": "/mailingAddress/line1",
                  "op": "replace"
                },
                {
                  "value": "Suit A",
                  "path": "/mailingAddress/line2",
                  "op": "replace"
                },
                {
                  "value": "Cleveland",
                  "path": "/mailingAddress/city",
                  "op": "replace"
                },
                {
                  "value": "Insured Name",
                  "path": "/insuredContact/name",
                  "op": "replace"
                }
              ]
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              },
              "example": [
                {
                  "value": "800 Superior Ave",
                  "path": "/mailingAddress/line1",
                  "op": "replace"
                },
                {
                  "value": "Suit A",
                  "path": "/mailingAddress/line2",
                  "op": "replace"
                },
                {
                  "value": "Cleveland",
                  "path": "/mailingAddress/city",
                  "op": "replace"
                },
                {
                  "value": "Insured Name",
                  "path": "/insuredContact/name",
                  "op": "replace"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              },
              "example": [
                {
                  "value": "800 Superior Ave",
                  "path": "/mailingAddress/line1",
                  "op": "replace"
                },
                {
                  "value": "Suit A",
                  "path": "/mailingAddress/line2",
                  "op": "replace"
                },
                {
                  "value": "Cleveland",
                  "path": "/mailingAddress/city",
                  "op": "replace"
                },
                {
                  "value": "Insured Name",
                  "path": "/insuredContact/name",
                  "op": "replace"
                }
              ]
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              },
              "example": [
                {
                  "value": "800 Superior Ave",
                  "path": "/mailingAddress/line1",
                  "op": "replace"
                },
                {
                  "value": "Suit A",
                  "path": "/mailingAddress/line2",
                  "op": "replace"
                },
                {
                  "value": "Cleveland",
                  "path": "/mailingAddress/city",
                  "op": "replace"
                },
                {
                  "value": "Insured Name",
                  "path": "/insuredContact/name",
                  "op": "replace"
                }
              ]
            }
          }
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "e802db88652f",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "f6ae0d5273fe",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "7cc56b00e5ce",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchQuoteResponseDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "quoteId": 123456,
                    "masterAccountId": 24786342,
                    "effectivedate": "2026-08-07",
                    "businessName": "Business Inc.",
                    "primaryAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suite A",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "mailingAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suite B",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "fein": "123456789",
                    "agentContact": {
                      "id": 1,
                      "name": "Agent",
                      "email": "agent@email.com"
                    },
                    "insuredContact": {
                      "name": "Contact",
                      "firstName": "Contact",
                      "lastName": "",
                      "phoneNumber": "1234567890",
                      "email": "insured@email.com"
                    },
                    "expectedGrossAnnualRevenue": 1000,
                    "policyLimits": "250,000.00/2,500.00",
                    "premium": 5000,
                    "eligibility": "Refer",
                    "companyWebsite": null,
                    "quoteStatus": "Not Submitted",
                    "digitalClientWorkflow": "DigitalClientWorkflow",
                    "naicsCode": null
                  },
                  "responseId": "f68afe2c3ef9",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://online-uat.amtrustservices.com/ANANexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "28972f9c5188",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Quote"
        ],
        "summary": "Update quote information",
        "operationId": "put-api-v1-quotes-quoteid",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQuoteRequestDto"
              },
              "example": {
                "businessName": "string",
                "effectiveDate": "string",
                "mailingAddress": {
                  "line1": "string",
                  "line2": "string",
                  "city": "string",
                  "territory": "string",
                  "postalCode": "string"
                },
                "primaryAddress": {
                  "line1": "string",
                  "line2": "string",
                  "city": "string",
                  "territory": "string",
                  "postalCode": "string"
                },
                "fein": "string",
                "agentContactId": 0,
                "insuredContact": {
                  "name": "string",
                  "phone": "string",
                  "email": "string"
                },
                "expectedGrossAnnualRevenue": 0,
                "policyLimits": "string",
                "companyWebsite": "string",
                "naicsCode": "string",
                "digitalClientWorkflow": "string"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQuoteRequestDto"
              },
              "example": {
                "businessName": "string",
                "effectiveDate": "string",
                "mailingAddress": {
                  "line1": "string",
                  "line2": "string",
                  "city": "string",
                  "territory": "string",
                  "postalCode": "string"
                },
                "primaryAddress": {
                  "line1": "string",
                  "line2": "string",
                  "city": "string",
                  "territory": "string",
                  "postalCode": "string"
                },
                "fein": "string",
                "agentContactId": 0,
                "insuredContact": {
                  "name": "string",
                  "phone": "string",
                  "email": "string"
                },
                "expectedGrossAnnualRevenue": 0,
                "policyLimits": "string",
                "companyWebsite": "string",
                "naicsCode": "string",
                "digitalClientWorkflow": "string"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQuoteRequestDto"
              },
              "example": {
                "businessName": "string",
                "effectiveDate": "string",
                "mailingAddress": {
                  "line1": "string",
                  "line2": "string",
                  "city": "string",
                  "territory": "string",
                  "postalCode": "string"
                },
                "primaryAddress": {
                  "line1": "string",
                  "line2": "string",
                  "city": "string",
                  "territory": "string",
                  "postalCode": "string"
                },
                "fein": "string",
                "agentContactId": 0,
                "insuredContact": {
                  "name": "string",
                  "phone": "string",
                  "email": "string"
                },
                "expectedGrossAnnualRevenue": 0,
                "policyLimits": "string",
                "companyWebsite": "string",
                "naicsCode": "string",
                "digitalClientWorkflow": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQuoteRequestDto"
              },
              "example": {
                "businessName": "string",
                "effectiveDate": "string",
                "mailingAddress": {
                  "line1": "string",
                  "line2": "string",
                  "city": "string",
                  "territory": "string",
                  "postalCode": "string"
                },
                "primaryAddress": {
                  "line1": "string",
                  "line2": "string",
                  "city": "string",
                  "territory": "string",
                  "postalCode": "string"
                },
                "fein": "string",
                "agentContactId": 0,
                "insuredContact": {
                  "name": "string",
                  "phone": "string",
                  "email": "string"
                },
                "expectedGrossAnnualRevenue": 0,
                "policyLimits": "string",
                "companyWebsite": "string",
                "naicsCode": "string",
                "digitalClientWorkflow": "string"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "7aa09fcb3091",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "d5a9bead3cb7",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "6de022f9d46f",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchQuoteResponseDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "quoteId": 123456,
                    "masterAccountId": 24786342,
                    "effectivedate": "2026-08-07",
                    "businessName": "Business Inc.",
                    "primaryAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suite A",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "mailingAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suite B",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "fein": "123456789",
                    "agentContact": {
                      "id": 1,
                      "name": "Agent",
                      "email": "agent@email.com"
                    },
                    "insuredContact": {
                      "name": "Contact",
                      "firstName": "Contact",
                      "lastName": "",
                      "phoneNumber": "1234567890",
                      "email": "insured@email.com"
                    },
                    "expectedGrossAnnualRevenue": 1000,
                    "policyLimits": "250,000.00/2,500.00",
                    "premium": 5000,
                    "eligibility": "Refer",
                    "companyWebsite": null,
                    "quoteStatus": "Not Submitted",
                    "digitalClientWorkflow": "DigitalClientWorkflow",
                    "naicsCode": null
                  },
                  "responseId": "c2dabf2bf781",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://online-uat.amtrustservices.com/ANANexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "bff29ad80d04",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/proposal": {
      "get": {
        "tags": [
          "Quote"
        ],
        "summary": "Retrieve quote proposal PDF",
        "description": "This endpoint will return a byte representation of the Cyber quote proposal",
        "operationId": "get-api-v1-quotes-quoteid-proposal",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "eb7602b168b5",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "73edf70fd459",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "fc2fcb202387",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "example": "string"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "6b3cb7f93264",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reference-resources/limits-retention": {
      "get": {
        "tags": [
          "Reference Resources"
        ],
        "summary": "Retrieve available policy limits and retention",
        "operationId": "get-api-v1-reference-resources-limits-retention",
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "9281b14fa57c",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringIEnumerableIApiResponse"
                },
                "example": {
                  "data": [
                    "First value",
                    "Second value",
                    "Third value"
                  ],
                  "responseId": "16d3c4ae95b2",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reference-resources/class-codes": {
      "get": {
        "tags": [
          "Reference Resources"
        ],
        "summary": "Retrieve class code information",
        "description": "<p> This endpoint will return all class codes, descriptions, and NAICS that are applicable in the state passed, under the Cyber product.  Effective date is optional.  If no date is passed, response will default to return today's results</p><p> Please note: Cyber Create Quote endpoint requires NAICS code sent, in place of class code</p>",
        "operationId": "get-api-v1-reference-resources-class-codes-state-state",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "b4597c6e913d",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetClassCodesResponseDtoIEnumerableIApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/payment-plans": {
      "get": {
        "tags": [
          "Quote"
        ],
        "summary": "Retrieve available payment plans",
        "description": "Retrieve all payment plans available to quote, separated by billing type",
        "operationId": "get-api-v1-quotes-quoteid-payment-plans",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "609a6b101011",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "6d93f514a407",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "c66cfcd6fddd",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "c129a218db0e",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentPlanResponseDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "direct": [
                      {
                        "id": 1,
                        "downpaymentPercent": 100,
                        "numberOfPayments": 0,
                        "description": "Pay In Full",
                        "downpaymentDueDateDays": 15,
                        "invoiceDueDateDays": 0,
                        "paymentFrequency": null,
                        "billingType": null,
                        "invoiceSchedule": [
                          {
                            "amount": 100,
                            "description": "Downpayment",
                            "date": "2026-08-07T11:04:11.0000000+00:00",
                            "downpayment": true,
                            "premAmount": 100,
                            "premDueDate": "2026-09-07T11:04:11.0000000+00:00"
                          }
                        ]
                      }
                    ],
                    "agency": [
                      {
                        "id": 1,
                        "downpaymentPercent": 100,
                        "numberOfPayments": 0,
                        "description": "Pay In Full",
                        "downpaymentDueDateDays": 15,
                        "invoiceDueDateDays": 0,
                        "paymentFrequency": null,
                        "billingType": null,
                        "invoiceSchedule": [
                          {
                            "amount": 100,
                            "description": "Downpayment",
                            "date": "2026-08-07T11:04:11.0000000+00:00",
                            "downpayment": true,
                            "premAmount": 100,
                            "premDueDate": "2026-09-07T11:04:11.0000000+00:00"
                          }
                        ]
                      }
                    ]
                  },
                  "responseId": "7601059d4821",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://online-uat.amtrustservices.com/ANANexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Quote"
        ],
        "summary": "Save payment plan",
        "description": "This endpoint allows user to save the selected payment plan to an existing quote",
        "operationId": "post-api-v1-quotes-quoteid-payment-plans",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentPlanDto"
              },
              "example": {
                "id": 13
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentPlanDto"
              },
              "example": {
                "id": 13
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentPlanDto"
              },
              "example": {
                "id": 13
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentPlanDto"
              },
              "example": {
                "id": 13
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "d2d82dba081d",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "6b45baed4769",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "e389b6d7f9ec",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "206c1c047d54",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringIApiResponse"
                },
                "example": {
                  "data": "String",
                  "responseId": "a6f72d095728",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/terrorism-statement": {
      "post": {
        "tags": [
          "Quote"
        ],
        "summary": "Save Terrorism Coverage Acknowledgement",
        "description": "This endpoint is meant to be used in conjunction with the (GET) Terrorism Coverage Statement endpoint. Insureds will need to acknowledge that they have read the statement before binding. This acknowledgement is only required for quotes with OH exposure.",
        "operationId": "post-api-v1-quotes-quoteid-terrorism-statement",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PostTerrorismCoverageDto"
              },
              "example": {
                "isAcknowledged": "string"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostTerrorismCoverageDto"
              },
              "example": {
                "isAcknowledged": "string"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PostTerrorismCoverageDto"
              },
              "example": {
                "isAcknowledged": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PostTerrorismCoverageDto"
              },
              "example": {
                "isAcknowledged": "string"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "7c3e91454831",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "272d66a9c08f",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "21b96bec6d7b",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "7e2330dcba49",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTerrorismCoverageDtoIApiResponse"
                },
                "examples": {
                  "Success Example": {
                    "value": {
                      "data": {
                        "isAcknowledged": "True"
                      },
                      "responseId": "6fac003fe953",
                      "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                      "httpStatusCode": 201,
                      "isOk": true,
                      "messages": [
                        {
                          "httpStatusCode": 200,
                          "detail": "Acknowledgement saved successfully!",
                          "isOk": true
                        }
                      ],
                      "maxMessageIndex": 0,
                      "_v": "AD"
                    }
                  },
                  "Non-Success Example": {
                    "value": {
                      "data": {
                        "isAcknowledged": "False"
                      },
                      "responseId": "1d7e7f5f7643",
                      "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                      "httpStatusCode": 201,
                      "isOk": true,
                      "messages": [
                        {
                          "httpStatusCode": 200,
                          "detail": "Disclosure must be acknowledged before quote can be bound.",
                          "isOk": true
                        }
                      ],
                      "maxMessageIndex": 0,
                      "_v": "AD"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reference-resources/terrorism-statement": {
      "get": {
        "tags": [
          "Reference Resources"
        ],
        "summary": "Retrieve Terrorism Coverage Acknowledgement Statement",
        "description": "This endpoint is meant to be used in conjunction with the (POST) Terrorism Acknowledgement endpoint. Insureds will need to acknowledge that they have read the statement before binding. This is only required in the state of Ohio.",
        "operationId": "get-api-v1-reference-resources-terrorism-statement",
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "ee0acce66469",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringIApiResponse"
                },
                "example": {
                  "data": "String",
                  "responseId": "e2f6433a0741",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/policies/{policyNum}/document": {
      "get": {
        "tags": [
          "Policy"
        ],
        "summary": "Retrieve policy document",
        "description": "This endpoint will return the policy document PDF in raw byte format",
        "operationId": "get-api-v1-policies-policynum-document",
        "parameters": [
          {
            "name": "policyNum",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "b97356c87c50",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "23f6f1866cbd",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "901eb27b07fb",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "example": "string"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "e86731776366",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/policies/{policy}/PaymentPlans/DirectDebit": {
      "post": {
        "tags": [
          "Payment Plans"
        ],
        "summary": "Save Direct Debit Information",
        "description": "Allows user to save their bank account information for direct debit payments",
        "operationId": "post-api-v1-policies-policy-paymentplans-directdebit",
        "parameters": [
          {
            "name": "policy",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PostDirectDebitRequest"
              },
              "example": {
                "nameOnAccount": "Business Bank Account",
                "routingNumber": "011111037",
                "accountNumber": "123453211111",
                "email": "business@email.com",
                "accountType": "1"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostDirectDebitRequest"
              },
              "example": {
                "nameOnAccount": "Business Bank Account",
                "routingNumber": "011111037",
                "accountNumber": "123453211111",
                "email": "business@email.com",
                "accountType": "1"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PostDirectDebitRequest"
              },
              "example": {
                "nameOnAccount": "Business Bank Account",
                "routingNumber": "011111037",
                "accountNumber": "123453211111",
                "email": "business@email.com",
                "accountType": "1"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PostDirectDebitRequest"
              },
              "example": {
                "nameOnAccount": "Business Bank Account",
                "routingNumber": "011111037",
                "accountNumber": "123453211111",
                "email": "business@email.com",
                "accountType": "1"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "464fc4fe9dd5",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "c4333d970215",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "f2bd3e6f1816",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostDirectDebitResponseIApiResponse"
                },
                "example": {
                  "data": {
                    "nameOnAccount": "Business Bank Account",
                    "accountNumber": "123453211111",
                    "routingNumber": "011111037",
                    "email": "business@email.com",
                    "accountType": 1,
                    "bankName": "Bank name"
                  },
                  "responseId": "9fb19da1d83b",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 201,
                  "isOk": true,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/policies/{policy}/PaymentPlans/DirectDebit/Documents": {
      "post": {
        "tags": [
          "Payment Plans"
        ],
        "summary": "Upload Direct Debit Documents",
        "description": "Allows user to upload the EFT form and/or the voided check necessary to use direct debit as a payment plan",
        "operationId": "post-api-v1-policies-policy-paymentplans-directdebit-documents",
        "parameters": [
          {
            "name": "policy",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PostDirectDebitDocRequest"
              },
              "example": {
                "displayName": "Name of document",
                "windowsFileType": "file type",
                "fileData": null
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostDirectDebitDocRequest"
              },
              "example": {
                "displayName": "Name of document",
                "windowsFileType": "file type",
                "fileData": null
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PostDirectDebitDocRequest"
              },
              "example": {
                "displayName": "Name of document",
                "windowsFileType": "file type",
                "fileData": null
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PostDirectDebitDocRequest"
              },
              "example": {
                "displayName": "Name of document",
                "windowsFileType": "file type",
                "fileData": null
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "0f116902a2f8",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "cfcc16e55bd3",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "e4b174aff42d",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostDirectDebitDocResponseIApiResponse"
                },
                "example": {
                  "data": {
                    "libraryId": 123456
                  },
                  "responseId": "f72cc4755c47",
                  "timeStamp": "2026-08-07T11:04:11.0000000+00:00",
                  "httpStatusCode": 201,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://online-uat.amtrustservices.com/ANANexus/AccountManagement/24786342",
                      "isOk": true
                    },
                    {
                      "httpStatusCode": 200,
                      "detail": "Documentation Saved",
[...]
