openapi: 3.2.0
info:
  title: Digital WC Workers Comp-Specialty Programs API
  description: Digital WC API allows users to create, edit, and bind Worker’s Compensation (WC) quotes
  version: '1.0'
servers:
- url: https://gateway.amtrustgroup.com/DigitalAPI
- url: https://prod-apim-gw.amtrustservices.com/DigitalAPI
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Workers Comp-Specialty Programs
paths:
  /api/v1/specialty-program/quote:
    post:
      tags:
      - Workers Comp-Specialty Programs
      summary: Creates a specialty program quote.
      description: 'Create a quote.


        __•__ If you have not specifically been told to use this endpoint, please do not map. This is for Specialty Programs'
      operationId: post-api-v1-specialty-program-quote
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/QuoteSpecialtyPostModel'
            example:
              Quote:
                MasterAccountId: 0
                BillType: 0 = A
                EffectiveDate: string
                ExpirationDate: string
                Fein: string
                PrimaryAddress:
                  Line1: string
                  Line2: string
                  City: string
                  State: string
                  Zip: string
                MailingAddress:
                  Line1: string
                  Line2: string
                  City: string
                  State: string
                  Zip: string
                BusinessName: string
                DBA: string
                ContactInformation:
                  FirstName: string
                  LastName: string
                  Email: string
                  Phone: string
                  AgentContactId: 0
                NatureOfBusiness: string
                LegalEntity: 0
                YearsInBusiness: 0
                ExpiredPremium: 0
                IsNonProfit: true
                IsIncumbentAgent: true
                CompanyWebsiteAddress: string
                ClassCodes:
                - ClassCode: string
                  ClassDescriptionCode: string
                  State: string
                  Payroll: 0
                  FullTimeEmployees: 0
                  PartTimeEmployees: 0
                RatingZip: string
                UnemploymentId: string
                PayrollCompanyId: 0
                LiabilityLimits: string
                FirmId: string
                AdditionalCoverages:
                - Coverage: string
                  State: string
                  Limit: string
                  Period: string
                  AnnualPayroll: string
              LoadQuestions: true
              Questions:
              - QuestionId: 0
                AnswerValue: string
              Modifiers:
              - State: string
                Modifiers: {}
              LoadRateSummary: true
              PricingTiers:
              - TierId: 0
                State: string
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteSpecialtyPostModel'
            example:
              Quote:
                MasterAccountId: 0
                BillType: 0 = A
                EffectiveDate: string
                ExpirationDate: string
                Fein: string
                PrimaryAddress:
                  Line1: string
                  Line2: string
                  City: string
                  State: string
                  Zip: string
                MailingAddress:
                  Line1: string
                  Line2: string
                  City: string
                  State: string
                  Zip: string
                BusinessName: string
                DBA: string
                ContactInformation:
                  FirstName: string
                  LastName: string
                  Email: string
                  Phone: string
                  AgentContactId: 0
                NatureOfBusiness: string
                LegalEntity: 0
                YearsInBusiness: 0
                ExpiredPremium: 0
                IsNonProfit: true
                IsIncumbentAgent: true
                CompanyWebsiteAddress: string
                ClassCodes:
                - ClassCode: string
                  ClassDescriptionCode: string
                  State: string
                  Payroll: 0
                  FullTimeEmployees: 0
                  PartTimeEmployees: 0
                RatingZip: string
                UnemploymentId: string
                PayrollCompanyId: 0
                LiabilityLimits: string
                FirmId: string
                AdditionalCoverages:
                - Coverage: string
                  State: string
                  Limit: string
                  Period: string
                  AnnualPayroll: string
              LoadQuestions: true
              Questions:
              - QuestionId: 0
                AnswerValue: string
              Modifiers:
              - State: string
                Modifiers: {}
              LoadRateSummary: true
              PricingTiers:
              - TierId: 0
                State: string
          text/json:
            schema:
              $ref: '#/components/schemas/QuoteSpecialtyPostModel'
            example:
              Quote:
                MasterAccountId: 0
                BillType: 0 = A
                EffectiveDate: string
                ExpirationDate: string
                Fein: string
                PrimaryAddress:
                  Line1: string
                  Line2: string
                  City: string
                  State: string
                  Zip: string
                MailingAddress:
                  Line1: string
                  Line2: string
                  City: string
                  State: string
                  Zip: string
                BusinessName: string
                DBA: string
                ContactInformation:
                  FirstName: string
                  LastName: string
                  Email: string
                  Phone: string
                  AgentContactId: 0
                NatureOfBusiness: string
                LegalEntity: 0
                YearsInBusiness: 0
                ExpiredPremium: 0
                IsNonProfit: true
                IsIncumbentAgent: true
                CompanyWebsiteAddress: string
                ClassCodes:
                - ClassCode: string
                  ClassDescriptionCode: string
                  State: string
                  Payroll: 0
                  FullTimeEmployees: 0
                  PartTimeEmployees: 0
                RatingZip: string
                UnemploymentId: string
                PayrollCompanyId: 0
                LiabilityLimits: string
                FirmId: string
                AdditionalCoverages:
                - Coverage: string
                  State: string
                  Limit: string
                  Period: string
                  AnnualPayroll: string
              LoadQuestions: true
              Questions:
              - QuestionId: 0
                AnswerValue: string
              Modifiers:
              - State: string
                Modifiers: {}
              LoadRateSummary: true
              PricingTiers:
              - TierId: 0
                State: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/QuoteSpecialtyPostModel'
            example:
              Quote:
                MasterAccountId: 0
                BillType: 0 = A
                EffectiveDate: string
                ExpirationDate: string
                Fein: string
                PrimaryAddress:
                  Line1: string
                  Line2: string
                  City: string
                  State: string
                  Zip: string
                MailingAddress:
                  Line1: string
                  Line2: string
                  City: string
                  State: string
                  Zip: string
                BusinessName: string
                DBA: string
                ContactInformation:
                  FirstName: string
                  LastName: string
                  Email: string
                  Phone: string
                  AgentContactId: 0
                NatureOfBusiness: string
                LegalEntity: 0
                YearsInBusiness: 0
                ExpiredPremium: 0
                IsNonProfit: true
                IsIncumbentAgent: true
                CompanyWebsiteAddress: string
                ClassCodes:
                - ClassCode: string
                  ClassDescriptionCode: string
                  State: string
                  Payroll: 0
                  FullTimeEmployees: 0
                  PartTimeEmployees: 0
                RatingZip: string
                UnemploymentId: string
                PayrollCompanyId: 0
                LiabilityLimits: string
                FirmId: string
                AdditionalCoverages:
                - Coverage: string
                  State: string
                  Limit: string
                  Period: string
                  AnnualPayroll: string
              LoadQuestions: true
              Questions:
              - QuestionId: 0
                AnswerValue: string
              Modifiers:
              - State: string
                Modifiers: {}
              LoadRateSummary: true
              PricingTiers:
              - TierId: 0
                State: string
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 36595a13af6d
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - MessageCode: ERR-NOTAUTHORIZED
                  Title: Bearer token is not authorized
                  httpStatusCode: 401
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: cc643deacabd
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - MessageCode: ERR-FORBIDDEN
                  Title: The token provided does not have permissions for the requested action
                  httpStatusCode: 403
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteSpecialtyReturnModelBaseResponse'
              example:
                Data:
                  EffectiveDate: '2026-08-13T11:08:11.0000000+00:00'
                  ExpirationDate: null
                  Fein: 070818854
                  FirmId: '0'
                  PrimaryAddress:
                    Line1: 4th
                    Line2: ''
                    City: Florida
                    State: FL
                    Zip: '94022'
                  MailingAddress:
                    Line1: 4th
                    Line2: ''
                    City: Florida
                    State: FL
                    Zip: '94022'
                  BusinessName: Stark Industries
                  DBA: ''
                  ContactInformation:
                    FirstName: Pepper
                    LastName: Potts-Stark
                    Email: IronLove3000@mail.com
                    Phone: '1112224444'
                    AgentContactId: 406102
                    AgentContactName: Test Tester AH
                  NatureOfBusiness: Defense
                  LegalEntity: 3
                  YearsInBusiness: 5
                  ExpiredPremium: 0
                  IsNonProfit: false
                  CompanyWebsiteAddress: ''
                  RatingZip: ''
                  PayrollCompanyId: 0
                  UnemploymentId: ''
                  AccountInformation:
                    QuoteId: 1
                    MasterAccountId: 1
                    GoverningState: FL
                    Status: Refer Eligible
                    AccountUrl: https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/1
                    Carrier: Technology Insurance Company, Inc.
                  PremiumDetails:
                    PriceIndication: 1122
                    StateTaxes: 0
                    LimitPerAccident: 100000
                    BodilyInjuryFromDiseasePolicyLimit: 500000
                    BodilyInjuryFromDiseasePerEmployeeLimit: 100000
                    LiabilityLimits: 100/500/100
                  ClassCodes:
                  - IndexId: 8530395
                    ClassCode: '9082'
                    ClassDescriptionCode: '00'
                    State: FL
                    Payroll: '65000'
                    FullTimeEmployees: 2
                    PartTimeEmployees: 0
                    HttpStatusCode: 200
                    StatusCode: '200'
                    Service: null
                    Message: ok
                    AdditionalMessages: []
                  Eligibility:
                    Eligibility: Refer
                    Details:
                    - Type: ClassCodes
                      Eligibility: BindEligible
                    - Type: Questions
                      Eligibility: Refer
                    - Type: Territory
                      Eligibility: BindEligible
                    - Type: Modifiers
                      Eligibility: BindEligible
                  Questions:
                  - Id: 1
                    Question: Does business have more than 50 people working at one location at a time?
                    QuestionType: bool
                    DropdownOptions: []
                    ParentQuestionId: 0
                    ParentAnswerToShow: null
                    Answer: null
                  AdditionalCoverages: null
                  RatingSummary:
                  - GovState: null
                    ModelType: Discount
                    ItemType: ExpConstant1
                    ClassCode: 0900
                    Description: Expense Constant
                    Premium: 100
                    Year: 1
                    Rate: 0
                    Exposure: 0
                  PricingTiers: []
                StatusCode: 201
                Exception: null
                Message: null
                AdditionalMessages: []
                Errors: {}
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: c2039a2b0b67
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - MessageCode: ERR-ValidationErr
                  Title: Validation Error
                  Detail: Validation detail message
                  httpStatusCode: 400
                  isOk: false
                maxErrorIndex: 0
                _v: AD
  /api/v1/specialty-program/quote/{quoteId}:
    patch:
      tags:
      - Workers Comp-Specialty Programs
      summary: Updates the majority of fields on a specialty program quote
      description: You can update majority of fields on a quote
      operationId: patch-api-v1-specialty-program-quote-quoteid
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
            example:
            - value: Stark
              path: /BusinessName
              op: replace
            - value: '15'
              path: /YearsInBusiness
              op: replace
            - value: '12'
              path: /LegalEntity
              op: replace
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
            example:
            - value: Stark
              path: /BusinessName
              op: replace
            - value: '15'
              path: /YearsInBusiness
              op: replace
            - value: '12'
              path: /LegalEntity
              op: replace
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
            example:
            - value: Stark
              path: /BusinessName
              op: replace
            - value: '15'
              path: /YearsInBusiness
              op: replace
            - value: '12'
              path: /LegalEntity
              op: replace
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
            example:
            - value: Stark
              path: /BusinessName
              op: replace
            - value: '15'
              path: /YearsInBusiness
              op: replace
            - value: '12'
              path: /LegalEntity
              op: replace
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 07b03a2c9b60
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - MessageCode: ERR-NOTAUTHORIZED
                  Title: Bearer token is not authorized
                  httpStatusCode: 401
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 020dd1fe51d0
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - MessageCode: ERR-FORBIDDEN
                  Title: The token provided does not have permissions for the requested action
                  httpStatusCode: 403
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchQuoteSpecialtyReturnModelBaseResponse'
              example:
                StatusCode: 100 = Continue
                Message: string
                AdditionalMessages:
                - string
                Errors: {}
                Data:
                  EffectiveDate: string
                  ExpirationDate: string
                  Fein: string
                  FirmId: string
                  PrimaryAddress:
                    Line1: string
                    Line2: string
                    City: string
                    State: string
                    Zip: string
                  MailingAddress:
                    Line1: string
                    Line2: string
                    City: string
                    State: string
                    Zip: string
                  BusinessName: string
                  DBA: string
                  ContactInformation:
                    FirstName: string
                    LastName: string
                    Email: string
                    Phone: string
                    AgentContactId: 0
                    AgentContactName: string
                  NatureOfBusiness: string
                  LegalEntity: 0
                  YearsInBusiness: 0
                  ExpiredPremium: 0
                  IsNonProfit: true
                  IsIncumbentAgent: true
                  CompanyWebsiteAddress: string
                  RatingZip: string
                  PayrollCompanyId: 0
                  UnemploymentId: string
                  AccountInformation:
                    QuoteId: 0
                    MasterAccountId: 0
                    GoverningState: string
                    Status: string
                    AccountUrl: string
                    Carrier: string
                  PremiumDetails:
                    PriceIndication: 0
                    StateTaxes: 0
                    LimitPerAccident: 0
                    BodilyInjuryFromDiseasePolicyLimit: 0
                    BodilyInjuryFromDiseasePerEmployeeLimit: 0
                    LiabilityLimits: string
                  ClassCodes:
                  - HttpStatusCode: 100 = Continue
                    StatusCode: string
                    Service: string
                    Message: string
                    AdditionalMessages:
                    - string
                    IndexId: 0
                    ClassCode: string
                    ClassDescriptionCode: string
                    State: string
                    Payroll: string
                    FullTimeEmployees: 0
                    PartTimeEmployees: 0
                  Eligibility:
                    Eligibility: string
                    Details:
                    - Type: string
                      Eligibility: string
                  Modifiers:
                  - State: string
                    Modifiers:
                    - Id: string
                      Value: string
                      ModifierUiInformation:
                        Description: string
                        RegexFormatting: string
                        ModifierType: string
                        OnlyAvailableValues:
                        - 0
                        MinValue: 0
                        MaxValue: 0
                      ExcludingModifier:
                        Id: string
                        Description: string
                        Value: string
                      State: string
                  AdditionalCoverages:
                  - Coverage: string
                    State: string
                    Limit: string
                    Period: string
                    AnnualPayroll: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: 70408743bfee
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - MessageCode: ERR-ValidationErr
                  Title: Validation Error
                  Detail: Validation detail message
                  httpStatusCode: 400
                  isOk: false
                maxErrorIndex: 0
                _v: AD
  /api/v1/specialty-program/firms/{state}:
    get:
      tags:
      - Workers Comp-Specialty Programs
      summary: Shows all available firms in a specific state
      description: This endpoint will show all available firms in a specific state
      operationId: get-api-v1-specialty-program-firms-state
      parameters:
      - name: state
        in: path
        required: true
        schema:
          type: string
      - name: effectiveDate
        in: query
        description: Query will use the current date if unsent.
        schema:
          type: string
          format: date-time
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 54e0b64e4957
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - MessageCode: ERR-NOTAUTHORIZED
                  Title: Bearer token is not authorized
                  httpStatusCode: 401
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: fc616c24825e
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - MessageCode: ERR-FORBIDDEN
                  Title: The token provided does not have permissions for the requested action
                  httpStatusCode: 403
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFirmResponseDtoIEnumerableBaseResponse'
              example:
                Data:
                - FirmId: 1
                  FirmName: AmTrust Test Firm 1
                  FirmNameShort: ATF1
                  AuthorizedState: AL
                - FirmId: 2
                  FirmName: AmTrust Test Firm 2
                  FirmNameShort: ATF2
                  AuthorizedState: AL
                - FirmId: 3
                  FirmName: AmTrust Test Firm 3
                  FirmNameShort: ATF3
                  AuthorizedState: AL
                StatusCode: 200
                Exception: null
                Message: OK
                AdditionalMessages: []
                Errors: {}
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorBaseResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorBaseResponse'
        '424':
          description: An internal dependency has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedDependencyErrorBaseResponse'
  /api/v1/specialty-program/quotes/{quoteId}/firms:
    get:
      tags:
      - Workers Comp-Specialty Programs
      summary: Shows all available firms for the specified quote
      description: This endpoint will show all available firms for this quote
      operationId: get-api-v1-specialty-program-quotes-quoteid-firms
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 447d929c2d60
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - MessageCode: ERR-NOTAUTHORIZED
                  Title: Bearer token is not authorized
                  httpStatusCode: 401
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 1605d8130fd6
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - MessageCode: ERR-FORBIDDEN
                  Title: The token provided does not have permissions for the requested action
                  httpStatusCode: 403
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFirmResponseDtoIEnumerableBaseResponse'
              example:
                Data:
                - FirmId: 1
                  FirmName: AmTrust Test Firm 1
                  FirmNameShort: ATF1
                  AuthorizedState: AL
                - FirmId: 2
                  FirmName: AmTrust Test Firm 2
                  FirmNameShort: ATF2
                  AuthorizedState: AL
                - FirmId: 3
                  FirmName: AmTrust Test Firm 3
                  FirmNameShort: ATF3
                  AuthorizedState: AL
                StatusCode: 200
                Exception: null
                Message: OK
                AdditionalMessages: []
                Errors: {}
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorBaseResponse'
        '424':
          description: An internal dependency has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedDependencyErrorBaseResponse'
  /api/v1/specialty-program/quotes/{quoteId}:
    get:
      tags:
      - Workers Comp-Specialty Programs
      summary: Retrieves all currently saved information on a specified specialty program quote
      description: Retrieves all currently saved information on a specified quote, including (but not limited to) class codes, mailing/primary addresses, current eligibility, price indication, etc…
      operationId: get-api-v1-specialty-program-quotes-quoteid
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: loadQuestions
        in: query
        description: Set to "true" to return all questions associated with the created quote
        schema:
          type: boolean
          default: false
      - name: loadRateSummary
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: c932b646511d
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - MessageCode: ERR-NOTAUTHORIZED
                  Title: Bearer token is not authorized
                  httpStatusCode: 401
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 156d934f8203
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - MessageCode: ERR-FORBIDDEN
                  Title: The token provided does not have permissions for the requested action
                  httpStatusCode: 403
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQuoteSpecialtyReturnModelBaseResponse'
              example:
                Data:
                  ForeignVoluntaryCoverage: null
                  SpecificWaivers: null
                  AdditionalInformation: null
                  Dividends: null
                  QuoteStatus: null
                  EffectiveDate: null
                  ExpirationDate: null
                  Fein: null
                  FirmId: null
                  PrimaryAddress: null
                  MailingAddress: null
                  BusinessName: null
                  DBA: null
                  ContactInformation: null
                  NatureOfBusiness: null
                  LegalEntity: 0
                  YearsInBusiness: 0
                  ExpiredPremium: null
                  IsNonProfit: null
                  CompanyWebsiteAddress: null
                  RatingZip: null
                  PayrollCompanyId: null
                  UnemploymentId: null
                  AccountInformation: null
                  PremiumDetails: null
                  ClassCodes: null
                  Eligibility:
                    Eligibility: null
                    Details: []
                  Questions: null
                  AdditionalCoverages: null
                  RatingSummary: []
                  PricingTiers: []
                StatusCode: 200
                Exception: null
                Message: null
                AdditionalMessages: []
                Errors: {}
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorBaseResponse'
        '424':
          description: An internal dependency has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedDependencyErrorBaseResponse'
    put:
      tags:
      - Workers Comp-Specialty Programs
      summary: Updates a specialty program quote.
      description: 'Use this to update the quote


        Please be aware if a field that is on the quote is not included in the

        request body it will remain as is. We will NOT delete the information

        previously included.'
      operationId: put-api-v1-specialty-program-quotes-quoteid
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      - name: includeEligibility
        in: query
        schema:
          type: boolean
          default: false
      - name: loadRateSummary
        in: query
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/QuoteSpecialtyPutModel'
            example:
              EffectiveDate: string
              Fein: string
              PrimaryAddress:
                Line1: string
                Line2: string
                City: string
                State: string
                Zip: string
              MailingAddress:
                Line1: string
                Line2: string
                City: string
                State: string
                Zip: string
              ClassCodes:
              - IndexId: 0
                ClassCode: string
                ClassDescriptionCode: string
                State: string
                Payroll: string
                FullTimeEmployees: 0
                PartTimeEmployees: 0
              BusinessName: string
              DBA: string
              ContactInformation:
                FirstName: string
                LastName: string
                Email: string
                Phone: string
                AgentContactId: 0
                AgentContactName: string
              NatureOfBusiness: string
              LegalEntity: 0
              YearsInBusiness: 0
              ExpiredPremium: 0
              IsNonProfit: true
              IsIncumbantAgent: true
              CompanyWebsiteAddress: string
              RatingZip: string
              LiabilityLimits: string
              UnemploymentId: string
              DigitalClientWorkflow: string
              ExpirationDate: string
              FirmId: string
              AdditionalCoverages:
              - Coverage: string
                State: string
                Limit: string
                Period: string
                AnnualPayroll: string
              MasterAccountId: 0
              BillType: 0 = A
              PayrollCompanyId: 0
              StateModifiers:
              - State: string
                Modifiers: {}
              PricingTiers:
              - TierId: 0
                State: string
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteSpecialtyPutModel'
            example:
              EffectiveDate: string
              Fein: string
              PrimaryAddress:
                Line1: string
                Line2: string
                City: string
                State: string
                Zip: string
              MailingAddress:
                Line1: string
                Line2: string
                City: string
                State: string
                Zip: string
              ClassCodes:
              - IndexId: 0
                ClassCode: string
                ClassDescriptionCode: string
                State: string
                Payroll: string
                FullTimeEmployees: 0
                PartTimeEmployees: 0
              BusinessName: string
              DBA: string
              ContactInformation:
                FirstName: string
                LastName: string
                Email: string
                Phone: string
                AgentContactId: 0
                AgentContactName: string
              NatureOfBusiness: string
              LegalEntity: 0
              YearsInBusiness: 0
              ExpiredPremium: 0
              IsNonProfit: true
              IsIncumbantAgent: true
              CompanyWebsiteAddress: string
              RatingZip: string
              LiabilityLimits: string
              UnemploymentId: string
              DigitalClientWorkflow: string
              ExpirationDate: string
              FirmId: string
              AdditionalCoverages:
              - Coverage: string
                State: string
                Limit: string
                Period: string
                AnnualPayroll: string
              MasterAccountId: 0
              BillType: 0 = A
              PayrollCompanyId: 0
              StateModifiers:
              - State: string
                Modifiers: {}
              PricingTiers:
              - TierId: 0
                State: string
          text/json:
            schema:
              $ref: '#/components/schemas/QuoteSpecialtyPutModel'
            example:
              EffectiveDate: string
              Fein: string
              PrimaryAddress:
                Line1: string
                Line2: string
                City: string
                State: string
                Zip: string
              MailingAddress:
                Line1: string
                Line2: string
                City: string
                State: string
                Zip: string
              ClassCodes:
              - IndexId: 0
                ClassCode: string
                ClassDescriptionCode: string
                State: string
                Payroll: string
                FullTimeEmployees: 0
                PartTimeEmployees: 0
              BusinessName: string
              DBA: string
              ContactInformation:
                FirstName: string
                LastName: string
                Email: string
                Phone: string
                AgentContactId: 0
                AgentContactName: string
              NatureOfBusiness: string
              LegalEntity: 0
              YearsInBusiness: 0
              ExpiredPremium: 0
              IsNonProfit: true
              IsIncumbantAgent: true
              CompanyWebsiteAddress: string
              RatingZip: string
              LiabilityLimits: string
              UnemploymentId: string
              DigitalClientWorkflow: string
              ExpirationDate: string
              FirmId: string
              AdditionalCoverages:
              - Coverage: string
                State: string
                Limit: string
                Period: string
                AnnualPayroll: string
              MasterAccountId: 0
              BillType: 0 = A
              PayrollCompanyId: 0
              StateModifiers:
              - State: string
                Modifiers: {}
              PricingTiers:
              - TierId: 0
                State: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/QuoteSpecialtyPutModel'
            example:
              EffectiveDate: string
              Fein: string
              PrimaryAddress:
                Line1: string
                Line2: string
                City: string
                State: string
                Zip: string
              MailingAddress:
                Line1: string
                Line2: string
                City: string
                State: string
                Zip: string
              ClassCodes:
              - IndexId: 0
                ClassCode: string
                ClassDescriptionCode: string
                State: string
                Payroll: string
                FullTimeEmployees: 0
                PartTimeEmployees: 0
              BusinessName: string
              DBA: string
              ContactInformation:
                FirstName: string
                LastName: string
                Email: string
                Phone: string
                AgentContactId: 0
                AgentContactName: string
              NatureOfBusiness: string
              LegalEntity: 0
              YearsInBusiness: 0
              ExpiredPremium: 0
              IsNonProfit: true
              IsIncumbantAgent: true
              CompanyWebsiteAddress: string
              RatingZip: string
              LiabilityLimits: string
              UnemploymentId: string
              DigitalClientWorkflow: string
              ExpirationDate: string
              FirmId: string
              AdditionalCoverages:
              - Coverage: string
                State: string
                Limit: string
                Period: string
                AnnualPayroll: string
              MasterAccountId: 0
              BillType: 0 = A
              PayrollCompanyId: 0
              StateModifiers:
              - State: string
                Modifiers: {}
              PricingTiers:
              - TierId: 0
                State: string
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 2dd908a0110c
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - MessageCode: ERR-NOTAUTHORIZED
                  Title: Bearer token is not authorized
                  httpStatusCode: 401
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: f368ae898010
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - MessageCode: ERR-FORBIDDEN
                  Title: The token provided does not have permissions for the requested action
                  httpStatusCode: 403
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecialtyQuoteApiReturnModel'
              example:
                HttpStatusCode: 100 = Continue
                StatusCode: string
                Service: string
                Message: string
                AdditionalMessages:
                - string
                EffectiveDate: string
                Fein: string
                PrimaryAddress:
                  Line1: string
                  Line2: string
                  City: string
                  State: string
                  Zip: string
                MailingAddress:
                  Line1: string
                  Line2: string
                  City: string
                  State: string
                  Zip: string
                ClassCodes:
                - HttpStatusCode: 100 = Continue
                  StatusCode: string
                  Service: string
                  Message: string
                  AdditionalMessages:
                  - string
                  IndexId: 0
                  ClassCode: string
                  ClassDescriptionCode: string
                  State: string
                  Payroll: string
                  FullTimeEmployees: 0
                  PartTimeEmployees: 0
                BusinessName: string
                DBA: string
                ContactInformation:
                  FirstName: string
                  LastName: string
                  Email: string
                  Phone: string
                  AgentContactId: 0
                  AgentContactName: string
                NatureOfBusiness: string
                LegalEntity: 0
                LiabilityLimits: string
                YearsInBusiness: 0
                ExpiredPremium: 0
                IsNonProfit: true
                IsIncumbantAgent: true
                CompanyWebsiteAddress: string
                EstimatedAnnualPremium: 0
                GoverningState: string
                MasterAccountId: 0
                RatingZip: string
                UnemploymentId: string
                Eligibility:
                  Eligibility: string
                  Details:
                  - Type: string
                    Eligibility: string
                  QuoteStatus: string
                DigitalClientWorkflow: string
                RatingSummary:
                - GovState: string
                  ModelType: string
                  ItemType: string
                  ClassCode: string
                  Description: string
                  Premium: 0
                  Year: 0
                  Rate: 0
                  Exposure: 0
                ExpirationDate: string
                FirmId: string
                AdditionalCoverages:
                - Coverage: string
                  State: string
                  Limit: string
                  Period: string
                  AnnualPayroll: string
                PayrollCompanyId: 0
                StateModifiers:
                - State: string
                  Modifiers:
                  - Id: string
                    Value: string
                    ModifierUiInformation:
                      Description: string
                      RegexFormatting: string
                      ModifierType: string
                      OnlyAvailableValues:
                      - 0
                      MinValue: 0
                      MaxValue: 0
                    ExcludingModifier:
                      Id: string
                      Description: string
                      Value: string
                    State: string
                PricingTiers:
                - TierId: 0
                  State: string
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 08803cb50d30
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - MessageCode: ERR-ItemNotFound
                  Title: Item was not found
                  httpStatusCode: 404
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: c0e6ddf93461
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - MessageCode: ERR-ValidationErr
                  Title: Validation Error
                  Detail: Validation detail message
                  httpStatusCode: 400
                  isOk: false
                maxErrorIndex: 0
                _v: AD
    patch:
      tags:
      - Workers Comp-Specialty Programs
      summary: Partially updates the majority of fields on a specialty program quote
      description: You can update majority of fields on a quote
      operationId: patch-api-v1-specialty-program-quotes-quoteid
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
            example:
            - value: Stark
              path: /BusinessName
              op: replace
            - value: '15'
              path: /YearsInBusiness
              op: replace
            - value: '12'
              path: /LegalEntity
              op: replace
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
            example:
            - value: Stark
              path: /BusinessName
              op: replace
            - value: '15'
              path: /YearsInBusiness
              op: replace
            - value: '12'
              path: /LegalEntity
              op: replace
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
            example:
            - value: Stark
              path: /BusinessName
              op: replace
            - value: '15'
              path: /YearsInBusiness
              op: replace
            - value: '12'
              path: /LegalEntity
              op: replace
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
            example:
            - value: Stark
              path: /BusinessName
              op: replace
            - value: '15'
              path: /YearsInBusiness
              op: replace
            - value: '12'
              path: /LegalEntity
              op: replace
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: b6d8b340a6c5
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - MessageCode: ERR-NOTAUTHORIZED
                  Title: Bearer token is not authorized
                  httpStatusCode: 401
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 8e29d793b95a
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - MessageCode: ERR-FORBIDDEN
                  Title: The token provided does not have permissions for the requested action
                  httpStatusCode: 403
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchQuoteSpecialtyReturnModelV2BaseResponse'
              example:
                StatusCode: 100 = Continue
                Message: string
                AdditionalMessages:
                - string
                Errors: {}
                Data:
                  EffectiveDate: string
                  ExpirationDate: string
                  Fein: string
                  PrimaryAddress:
                    Line1: string
                    Line2: string
                    City: string
                    State: string
                    Zip: string
                  MailingAddress:
                    Line1: string
                    Line2: string
                    City: string
                    State: string
                    Zip: string
                  BusinessName: string
                  DBA: string
                  ContactInformation:
                    FirstName: string
                    LastName: string
                    Email: string
                    Phone: string
                    AgentContactId: 0
                    AgentContactName: string
                  NatureOfBusiness: string
                  LegalEntity: 0
                  YearsInBusiness: 0
                  ExpiredPremium: 0
                  IsNonProfit: true
                  IsIncumbentAgent: true
                  CompanyWebsiteAddress: string
                  RatingZip: string
                  PayrollCompanyId: 0
                  UnemploymentId: string
                  AccountInformation:
                    QuoteId: 0
                    MasterAccountId: 0
                    GoverningState: string
                    Status: string
                    AccountUrl: string
                    Carrier: string
                  PremiumDetails:
                    PriceIndication: 0
                    StateTaxes: 0
                    LimitPerAccident: 0
                    BodilyInjuryFromDiseasePolicyLimit: 0
                    BodilyInjuryFromDiseasePerEmployeeLimit: 0
                    LiabilityLimits: string
                  ClassCodes:
                  - HttpStatusCode: 100 = Continue
                    StatusCode: string
                    Service: string
                    Message: string
                    AdditionalMessages:
                    - string
                    IndexId: 0
                    ClassCode: string
                    ClassDescriptionCode: string
                    State: string
                    Payroll: string
                    FullTimeEmployees: 0
                    PartTimeEmployees: 0
                  Eligibility:
                    Eligibility: string
                    Details:
                    - Type: string
                      Eligibility: string
                  Questions:
                  - Id: 0
                    Question: string
                    QuestionType: string
                    DropdownOptions:
                    - Key: string
                      Text: string
                    ParentQuestionId: 0
                    ParentAnswerToShow: string
                    Answer: string
                  FirmId: string
                  ExperienceModifier:
                  - State: string
                    Modifiers:
                    - Id: string
                      Value: string
                      ModifierUiInformation:
                        Description: string
                        RegexFormatting: string
                        ModifierType: string
                        OnlyAvailableValues:
                        - 0
                        MinValue: 0
                        MaxValue: 0
                      ExcludingModifier:
                        Id: string
                        Description: string
                        Value: string
                      State: string
                  DigitalClientWorkflow: string
                  SpousesNames:
                    Spouse1: string
                    Spouse2: string
                  AdditionalCoverages:
                  - Coverage: string
                    State: string
                    Limit: string
                    Period: string
                    AnnualPayroll: string
                  Modifiers:
                  - State: string
                    Modifiers:
                    - Id: string
                      Value: string
                      ModifierUiInformation:
                        Description: string
                        RegexFormatting: string
                        ModifierType: string
                        OnlyAvailableValues:
                        - 0
                        MinValue: 0
                        MaxValue: 0
                      ExcludingModifier:
                        Id: string
                        Description: string
                        Value: string
                      State: string
                  RatingSummary:
                  - GovState: string
                    ModelType: string
                    ItemType: string
                    ClassCode: string
                    Description: string
                    Premium: 0
                    Year: 0
                    Rate: 0
                    Exposure: 0
                  PricingTiers:
                  - TierId: 0
                    State: string
                  AdditionalInformation:
                    Officers:
                    - Id: 0
                      Name: string
                      EndorsementId: string
                      Type: string
                      State: string
                      OwnershipPercent: 0
                      FormType: string
                      DateOfBirth: string
                      OfficeHeld: string
                      AnnualCompensation: 0
                    AdditionalInsureds:
                    - Id: 0
                      Name: string
                      TaxId: string
                      State: string
                      LegalEntity: 0
                      DbaName: string
                      UnemploymentId: string
                      AdditionalLocations:
                      - Id: 0
                        Address1: string
                        Address2: string
                        City: string
                        State: string
                        Zip: string
                        TotalEmployeeNumber: 0
                        NoSpecificLocation: true
                    AdditionalPrimaryInsuredLocations:
                    - Id: 0
                      Address1: string
                      Address2: string
                      City: string
                      State: string
                      Zip: string
                      TotalEmployeeNumber: 0
                      NoSpecificLocation: true
                    ThirdPartyNotices:
                    - IndexId: 0
                      FirstName: string
                      LastName: string
                      Address1: string
                      Address2: string
                      City: string
                      State: string
                      Zip: string
                  QuoteStatus: string
                  ClosedDate: string
                  ForeignVoluntaryCoverage:
                  - IndexId: 0
                    GovState: string
                    Employee: string
                    Location: string
                    WcLaw: string
                  SpecificWaivers:
                  - StartDate: string
                    Name: string
                    Address: string
                    City: string
                    State: string
                    Zip: string
                    ClassCode: string
                    GovState: string
                    JobDescription: string
                    Payroll: 0
                    IndexId: 0
                    EndDate: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: 4e744a721e8f
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - MessageCode: ERR-ValidationErr
                  Title: Validation Error
                  Detail: Validation detail message
                  httpStatusCode: 400
                  isOk: false
                maxErrorIndex: 0
                _v: AD
  /api/v1/specialty-program/classcodes/information/{states}:
    get:
      tags:
      - Workers Comp-Specialty Programs
      summary: Provides a list of class codes in each state along with the firms and net rate…
      description: This endpoint will provide you with a list of class codes in each state along with the firms and net rate for the class codes
      operationId: get-api-v1-specialty-program-classcodes-information-states
      parameters:
      - name: states
        in: path
        required: true
        schema:
          type: string
      - name: classcode
        in: query
        schema:
          type: string
      - name: effectiveDate
        in: query
        schema:
          type: string
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 50521080ae09
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - MessageCode: ERR-NOTAUTHORIZED
                  Title: Bearer token is not authorized
                  httpStatusCode: 401
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: b2351522d81e
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - MessageCode: ERR-FORBIDDEN
                  Title: The token provided does not have permissions for the requested action
                  httpStatusCode: 403
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClassCodeWithFirmResponseBaseResponse'
              example:
                StatusCode: 100 = Continue
                Message: string
                AdditionalMessages:
                - string
                Errors: {}
                Data:
                  ClassCodes:
                  - State: string
                    ClassCode: string
                    Information:
                    - DescriptionCode: string
                      NaicsDescription: string
                      NaicsCode: string
                      SicCode: string
                    AvailableFirms:
                    - FirmId: 0
                      BaseRate: 0
                  Firms:
                  - FirmId: 0
                    FirmName: string
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorBaseResponse'
        '424':
          description: An internal dependency has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedDependencyErrorBaseResponse'
  /api/v1/specialty-program/quotes/{quoteId}/available-liability-limits:
    get:
      tags:
      - Workers Comp-Specialty Programs
      summary: Retrieves the available liability limit options for the specialty program quote…
      description: Retrieves the available liability limit options for the quote specified by the quote ID
      operationId: get-api-v1-specialty-program-quotes-quoteid-available-liability-limits
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 5fc401203d4f
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - MessageCode: ERR-NOTAUTHORIZED
                  Title: Bearer token is not authorized
                  httpStatusCode: 401
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 0e743a7d23eb
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - MessageCode: ERR-FORBIDDEN
                  Title: The token provided does not have permissions for the requested action
                  httpStatusCode: 403
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringListBaseResponse'
              example:
                StatusCode: 100 = Continue
                Message: string
                AdditionalMessages:
                - string
                Errors: {}
                Data:
                - string
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorBaseResponse'
        '424':
          description: An internal dependency has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedDependencyErrorBaseResponse'
  /api/v1/specialty-program/quotes/{quoteId}/submitToUnderwriter:
    post:
      tags:
      - Workers Comp-Specialty Programs
      summary: Submit to underwriter
      description: 'This endpoint can be used to submit quotes to the underwriter.


        This endpoint allows Managing General Agents (MGAs) to reserve accounts/block the market for quotes they want to proceed with.


        Note that this endpoint is for #WC - Specialty Programs only.'
      operationId: post-api-v1-specialty-program-quotes-quoteid-submittounderwriter
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SpecialtySubmitToUnderwriterModel'
            example:
              NoteToUnderwriter: string
              AgentNeedByDate: string
          application/json:
            schema:
              $ref: '#/components/schemas/SpecialtySubmitToUnderwriterModel'
            example:
              NoteToUnderwriter: string
              AgentNeedByDate: string
          text/json:
            schema:
              $ref: '#/components/schemas/SpecialtySubmitToUnderwriterModel'
            example:
              NoteToUnderwriter: string
              AgentNeedByDate: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/SpecialtySubmitToUnderwriterModel'
            example:
              NoteToUnderwriter: string
              AgentNeedByDate: string
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 7bbd06c084f2
                timeStamp: '2026-08-13T11:08:12.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - MessageCode: ERR-NOTAUTHORIZED
                  Title: Bearer token is not authorized
                  httpStatusCode: 401
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: a19a1766ec14
                timeStamp: '2026-08-13T11:08:12.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - MessageCode: ERR-FORBIDDEN
                  Title: The token provided does not have permissions for the requested action
                  httpStatusCode: 403
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitToUnderwriterResponseModelBaseResponse'
              example:
                StatusCode: 100 = Continue
                Message: string
                AdditionalMessages:
                - string
                Errors: {}
                Data:
                  MasterAccountId: 0
                  SubmittedDate: string
                  BusinessName: string
                  QuoteInformation:
                    QuoteId: 0
                    Product: string
                    EffectiveDate: string
                    Premium: 0
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 1ac5f1123820
                timeStamp: '2026-08-13T11:08:12.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - MessageCode: ERR-ItemNotFound
                  Title: Item was not found
                  httpStatusCode: 404
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: 8f1a2589c67d
                timeStamp: '2026-08-13T11:08:12.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - MessageCode: ERR-ValidationErr
                  Title: Validation Error
                  Detail: Validation detail message
                  httpStatusCode: 400
                  isOk: false
                maxErrorIndex: 0
                _v: AD
  /api/v2/specialty-program/quotes/{quoteId}/PaymentPlans:
    get:
      tags:
      - Workers Comp-Specialty Programs
      summary: Retrieves payment plans available for selection on the specified quote.
      description: If you plan to map direct debit payment plan options, please refer to Save Direct Debit information and Direct Debit Terms and Agreements endpoint documentation. Please note that is endpoint only saves payment plan information and does not save information related to making a payment.
      operationId: get-api-v2-specialty-program-quotes-quoteid-paymentplans
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 99416eaf03bb
                timeStamp: '2026-08-13T11:08:12.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - MessageCode: ERR-NOTAUTHORIZED
                  Title: Bearer token is not authorized
                  httpStatusCode: 401
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 99243765496c
                timeStamp: '2026-08-13T11:08:12.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - MessageCode: ERR-ItemNotFound
                  Title: Item was not found
                  httpStatusCode: 404
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: c4d3ddf262a6
                timeStamp: '2026-08-13T11:08:12.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - MessageCode: ERR-ValidationErr
                  Title: Validation Error
                  Detail: Validation detail message
                  httpStatusCode: 400
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentPlanResponseV2BaseResponse'
              example:
                StatusCode: 100 = Continue
                Message: string
                AdditionalMessages:
                - string
                Errors: {}
                Data:
                  Direct:
                  - IsCurrentPaymentPlan: true
                    PaymentPlan: 0 = None
                    PaymentPlanDescription: string
                    PaymentPlanId: 0
                    PayrollCompanyId: 0
                    NumberPayments: 0
                    TotalCost: 0
                    TotalPremium: 0
                    TotalStateTaxes: 0
                    TotalBillingFees: 0
                    DepositPercent: 0
                    DownPayment: 0
                    IsDirectDebit: true
                    Message: string
                    Invoices:
                    - PremiumAmount: 0
                      Taxes: 0
                      Fees: 0
                      TotalBillAmount: 0
                      BillDate: string
                      DueDate: string
                      IsDownPayment: true
                  Agency:
                  - IsCurrentPaymentPlan: true
                    PaymentPlan: 0 = None
                    PaymentPlanDescription: string
                    PaymentPlanId: 0
                    PayrollCompanyId: 0
                    NumberPayments: 0
                    TotalCost: 0
                    TotalPremium: 0
                    TotalStateTaxes: 0
                    TotalBillingFees: 0
                    DepositPercent: 0
                    DownPayment: 0
                    IsDirectDebit: true
                    Message: string
                    Invoices:
                    - PremiumAmount: 0
                      Taxes: 0
                      Fees: 0
                      TotalBillAmount: 0
                      BillDate: string
                      DueDate: string
                      IsDownPayment: true
  /api/v1/specialty-program/affirmation:
    get:
      tags:
      - Workers Comp-Specialty Programs
      summary: Retrieves the affirmation statement that will need to be displayed to agents…
      description: 'Retrieves the affirmation statement that will need to be displayed to agents prior to binding the quote to a policy


        This can be called in conjunction with the V2 Bind endpoint; the actual submission of affirmation will occur in the V2 Quote Bind endpoint.


        __Please note:__ If you are already presenting a statement of affirmation to your agents/users, you do not need to use this endpoint. This is only for partners who do not currently have their own statement in place'
      operationId: get-api-v1-specialty-program-affirmation
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 821a5b8c6042
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - MessageCode: ERR-NOTAUTHORIZED
                  Title: Bearer token is not authorized
                  httpStatusCode: 401
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 90e083d6cbb3
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - MessageCode: ERR-FORBIDDEN
                  Title: The token provided does not have permissions for the requested action
                  httpStatusCode: 403
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringBaseResponse'
              example:
                StatusCode: 100 = Continue
                Message: string
                AdditionalMessages:
                - string
                Errors: {}
                Data: string
  /api/v1/specialty-program/contacts/agents:
    get:
      tags:
      - Workers Comp-Specialty Programs
      summary: Retrieves agent information associated with an email address passed in the…
      description: 'Retrieves agent information associated with an email address passed in the query string.


        __Note:__ This endpoint is only available to agencies granted permission.'
      operationId: get-api-v1-specialty-program-contacts-agents
      parameters:
      - name: emailAddress
        in: query
        schema:
          type: string
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: f16b4a7a1774
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - MessageCode: ERR-NOTAUTHORIZED
                  Title: Bearer token is not authorized
                  httpStatusCode: 401
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 50c05d7d3d78
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - MessageCode: ERR-FORBIDDEN
                  Title: The token provided does not have permissions for the requested action
                  httpStatusCode: 403
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentInfoReturnModelIEnumerableBaseResponse'
              example:
                StatusCode: 100 = Continue
                Message: string
                AdditionalMessages:
                - string
                Errors: {}
                Data:
                - AgentId: 0
                  AgentName: string
  /api/v2/specialty-program/fein/validation:
    post:
      tags:
      - Workers Comp-Specialty Programs
      summary: Optional but recommended endpoint to determine a FEIN's availability for use on…
      description: This endpoint is optional, but recommended, and can be used to determine a FEIN's availability for use on a quote.
      operationId: post-api-v2-specialty-program-fein-validation
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FeinPostModel'
            example:
              Fein: string
              QuoteId: 0
          application/json:
            schema:
              $ref: '#/components/schemas/FeinPostModel'
            example:
              Fein: string
              QuoteId: 0
          text/json:
            schema:
              $ref: '#/components/schemas/FeinPostModel'
            example:
              Fein: string
              QuoteId: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/FeinPostModel'
            example:
              Fein: string
              QuoteId: 0
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 027527a08a94
                timeStamp: '2026-08-13T11:08:12.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - MessageCode: ERR-NOTAUTHORIZED
                  Title: Bearer token is not authorized
                  httpStatusCode: 401
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: afb691f9326b
                timeStamp: '2026-08-13T11:08:12.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - MessageCode: ERR-FORBIDDEN
                  Title: The token provided does not have permissions for the requested action
                  httpStatusCode: 403
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanBaseResponse'
              example:
                StatusCode: 100 = Continue
                Message: string
                AdditionalMessages:
                - string
                Errors: {}
                Data: true
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: fd33a3bd895e
                timeStamp: '2026-08-13T11:08:12.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - MessageCode: ERR-ValidationErr
                  Title: Validation Error
                  Detail: Validation detail message
                  httpStatusCode: 400
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 6e88df1fe0fb
                timeStamp: '2026-08-13T11:08:12.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - MessageCode: ERR-ItemNotFound
                  Title: Item was not found
                  httpStatusCode: 404
                  isOk: false
                maxErrorIndex: 0
                _v: AD
  /api/v1/specialty-program/payment-plans/payroll-companies:
    get:
      tags:
      - Workers Comp-Specialty Programs
      summary: Retrieves all payroll companies currently available to the agency associated…
      description: Retrieves all payroll companies currently available to the agency associated with the current authentication token.
      operationId: get-api-v1-specialty-program-payment-plans-payroll-companies
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 17e9330109a3
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - MessageCode: ERR-NOTAUTHORIZED
                  Title: Bearer token is not authorized
                  httpStatusCode: 401
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: ea2fd790549b
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - MessageCode: ERR-FORBIDDEN
                  Title: The token provided does not have permissions for the requested action
                  httpStatusCode: 403
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPayrollCompaniesResponseIListBaseResponse'
              example:
                StatusCode: 100 = Continue
                Message: string
                AdditionalMessages:
                - string
                Errors: {}
                Data:
                - PayrollCompanyId: 0
                  PayrollCompanyName: string
  /api/v1/specialty-program/policies/{policy}:
    get:
      tags:
      - Workers Comp-Specialty Programs
      summary: Returns basic policy information on the requested policy number
      description: Returns basic policy information on requested policy number.
      operationId: get-api-v1-specialty-program-policies-policy
      parameters:
      - name: policy
        in: path
        required: true
        schema:
          type: string
      - name: loadRateSummary
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 83df077fca0f
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - MessageCode: ERR-NOTAUTHORIZED
                  Title: Bearer token is not authorized
                  httpStatusCode: 401
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 1eedfffd245f
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - MessageCode: ERR-FORBIDDEN
                  Title: The token provided does not have permissions for the requested action
                  httpStatusCode: 403
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyInformationResponseBaseResponse'
              example:
                StatusCode: 100 = Continue
                Message: string
                AdditionalMessages:
                - string
                Errors: {}
                Data:
                  MasterAccountId: 0
                  Policy: string
                  PolicyId: 0
                  Quote: string
                  Premium: string
                  DBA: string
                  BusinessName: string
                  PrimaryAddress:
                    Line1: string
                    Line2: string
                    City: string
                    State: string
                    Zip: string
                  MailingAddress:
                    Line1: string
                    Line2: string
                    City: string
                    State: string
                    Zip: string
                  Fein: string
                  EffectiveDate: string
                  ExpirationDate: string
                  InsuredContact:
                    Name: string
                    Phone: string
                    Email: string
                  LegalEntity: string
                  PolicyStatus: string
                  StateTaxes: 0
                  EstimatedAnnual: 0
                  EarnedPremium: string
                  RatingZip: string
                  CancelInformation:
                    CancelDate: string
                    CancelReason: string
                    ShortRate: true
                  CompanyWebsite: string
                  CarrierName: string
                  ClassCodes:
                  - ClassCode: string
                    DescriptionCode: string
                    State: string
                    Payroll: 0
                    FTEmployees: 0
                    PTEmployees: 0
                    Rate: 0
                    Premium: 0
                  Officers:
                  - Name: string
                    EndorsementId: string
                    Type: string
                    State: string
                    OwnershipPercent: 0
                    FormType: string
                    OfficerDOB: string
                    OfficeHeld: string
                    AnnualCompensation: 0
                  StopGapCoverages:
                  - CoverageName: string
                    State: string
                    Limit: string
                    Period: string
                    AnnualPayroll: string
                  Partners:
                  - FirstName: string
                    LastName: string
                    Organization: string
                  Limits:
                  - LiabilityLimits:
                      LimitPerAccident: 0
                      BodilyInjuryFromDiseasePolicyLimit: 0
                      BodilyInjuryFromDiseasePerEmployeeLimit: 0
                      LiabilityLimits: string
                  AdditionalInsureds:
                  - Id: 0
                    NamedInsuredId: 0
                    Name: string
                    Dba: string
                    Fein: string
                    LegalEntity: 0
                    UnemploymentNumber: string
                    Line1: string
                    Line2: string
                    City: string
                    State: string
                    Zip: string
                    EmployeeCount: 0
                  PrimaryInsuredAdditionalLocations:
                  - LocationNumber: 0
                    Line1: string
                    Line2: string
                    City: string
                    State: string
                    Zip: string
                    EmployeeCount: 0
                  AdditionalLocations:
                  - LocationNumber: 0
                    Line1: string
                    Line2: string
                    City: string
                    State: string
                    Zip: string
                    EmployeeCount: 0
                    NameInsured: string
                  RatingSummary:
                  - GovState: string
                    ModelType: string
                    ItemType: string
                    ClassCode: string
                    Description: string
                    Premium: 0
                    Year: 0
                    Rate: 0
                    Exposure: 0
                  SpecificWaivers:
                  - StartDate: string
                    Name: string
                    Address: string
                    City: string
                    State: string
                    Zip: string
                    ClassCode: string
                    GovState: string
                    JobDescription: string
                    Payroll: 0
                    IndexId: 0
                    EndDate: string
                  NonRenewalDate: string
                  NonRenewalReason: string
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 507423c1c03b
                timeStamp: '2026-08-13T11:08:11.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - MessageCode: ERR-ItemNotFound
                  Title: Item was not found
                  httpStatusCode: 404
                  isOk: false
                maxErrorIndex: 0
                _v: AD
  /api/v1/specialty-program/policies/{policy}/available-documents:
    get:
      tags:
      - Workers Comp-Specialty Programs
      summary: Retrieves a list of all available policy documents currently available for…
      description: Retrieves a list of all available policy documents that are currently available for viewing under the given policy number.
      operationId: get-api-v1-specialty-program-policies-policy-available-documents
      parameters:
      - name: policy
        in: path
        required: true
[...]
