openapi: 3.2.0
info:
  title: Amtrust Financial Services Terms of Agreement API
  version: '1.0'
  description: 'Operations tagged Terms of Agreement across 2 of this provider''s published API definitions: amtrust-financial-services-digital-bop-api-openapi.json, amtrust-financial-services-digital-cyber-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://gateway.amtrustgroup.com/digital-bop
- url: https://prod-apim-gw.amtrustservices.com/digital-bop
- url: https://gateway.amtrustgroup.com/digital-cyber
- url: https://prod-apim-gw.amtrustservices.com/digital-cyber
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Terms of Agreement
paths:
  /api/v1/terms-of-agreement:
    get:
      tags:
      - Terms of Agreement
      summary: Retrieve Terms of Agreement Statement
      description: 'This endpoint is meant to be used in conjunction with the (POST) Terms of Agreement endpoint. Insureds will need to acknowledge that they have read the statement before entering the Direct Debit information. Endpoint Summary: Retrieve Terms of Agreement Statement'
      operationId: get-api-v1-terms-of-agreement
      parameters:
      - name: api-version
        in: query
        schema:
          type: string
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: e60be2ece3bf
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 0beec75dd605
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
              example: string
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v1/terms-of-agreement/{quoteId}:
    post:
      tags:
      - Terms of Agreement
      summary: Save Terms of Agreement acknowledgement
      description: This endpoint is meant to be used in conjunction with the (GET) Terms of Agreement endpoint. Insureds will need to acknowledge that they have red the statement in order to submit their Direct Debit Information.
      operationId: post-api-v1-terms-of-agreement-quoteid
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: api-version
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TermsOfAgreementRequest'
            example:
              isAcknowledged: true
          application/json:
            schema:
              $ref: '#/components/schemas/TermsOfAgreementRequest'
            example:
              isAcknowledged: true
          text/json:
            schema:
              $ref: '#/components/schemas/TermsOfAgreementRequest'
            example:
              isAcknowledged: true
          application/*+json:
            schema:
              $ref: '#/components/schemas/TermsOfAgreementRequest'
            example:
              isAcknowledged: true
      responses:
        '401':
          description: Bad or expired token. To resolve this error, generate a new or refreshed token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse'
              example:
                responseId: 39a17716af90
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: The authenticated user or client does not have required permissions to complete this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse'
              example:
                responseId: 3c83b5d21167
                timeStamp: '2026-07-23T11:04:42.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermsOfAgreementDtoApiResponse'
              examples:
                'True':
                  value:
                    data:
                      isAcknowledged: true
                    responseId: 01a28a8f053a
                    timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                    httpStatusCode: 200
                    isOk: true
                    messages:
                    - httpStatusCode: 200
                      detail: Acknowledgement saved successfully!
                      isOk: true
                    maxMessageIndex: 0
                    _v: AD
                'False':
                  value:
                    data:
                      isAcknowledged: false
                    responseId: ef2b9ac5425f
                    timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                    httpStatusCode: 200
                    isOk: true
                    messages:
                    - httpStatusCode: 200
                      detail: Disclosure must be acknowledged before quote can be bound
                      isOk: true
                    maxMessageIndex: 0
                    _v: AD
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse'
              example:
                responseId: 88c93ab314e7
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorIApiResponse'
              example:
                responseId: 6afc68ae9755
                timeStamp: '2026-07-23T11:04:43.0000000+00:00'
                httpStatusCode: 404
                isOk: false
                errors:
                - httpStatusCode: 404
                  messageCode: ERR-ItemNotFound
                  title: Item was not found
                  isOk: false
                maxErrorIndex: 0
                _v: AD
    servers:
    - url: https://gateway.amtrustgroup.com/digital-bop
    - url: https://prod-apim-gw.amtrustservices.com/digital-bop
  /api/v1/quotes/{quoteId}/terms-of-agreement:
    post:
      tags:
      - Terms of Agreement
      summary: Save Terms of Agreement Acknowledgement
      description: This endpoint is meant to be used in conjunction with the (GET) Terms of Agreement endpoint. Insureds will need to acknowledge that they have read the statement before entering the Direct Debit information.
      operationId: post-api-v1-quotes-quoteid-terms-of-agreement
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          minimum: 1.0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TermsOfAgreementDto_2'
            example:
              isAcknowledged: string
          application/json:
            schema:
              $ref: '#/components/schemas/TermsOfAgreementDto_2'
            example:
              isAcknowledged: string
          text/json:
            schema:
              $ref: '#/components/schemas/TermsOfAgreementDto_2'
            example:
              isAcknowledged: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/TermsOfAgreementDto_2'
            example:
              isAcknowledged: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorIApiResponse_2'
              example:
                responseId: 7a2275f0b7b3
                timeStamp: '2026-08-07T11:04:11.0000000+00:00'
                httpStatusCode: 401
                isOk: false
                errors:
                - httpStatusCode: 401
                  messageCode: ERR-NOTAUTHORIZED
                  title: Bearer token is not authorized
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorIApiResponse_2'
              example:
                responseId: 860fc9bc33cd
                timeStamp: '2026-08-07T11:04:11.0000000+00:00'
                httpStatusCode: 403
                isOk: false
                errors:
                - httpStatusCode: 403
                  messageCode: ERR-FORBIDDEN
                  title: The token provided does not have permissions for the requested action
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorIApiResponse_2'
              example:
                responseId: 63f69576ac17
                timeStamp: '2026-08-07T11:04:11.0000000+00:00'
                httpStatusCode: 400
                isOk: false
                errors:
                - httpStatusCode: 400
                  messageCode: ERR-ValidationErr
                  title: Validation Error
                  detail: Validation detail message
                  isOk: false
                maxErrorIndex: 0
                _v: AD
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringIApiResponse'
              example:
                data: String
                responseId: 85fa7bb36d66
                timeStamp: '2026-08-07T11:04:11.0000000+00:00'
                httpStatusCode: 200
                isOk: true
                _v: AD
    servers:
    - url: https://gateway.amtrustgroup.com/digital-cyber
    - url: https://prod-apim-gw.amtrustservices.com/digital-cyber
components:
  schemas:
    ApiPageRequest:
      type: object
      properties:
        skip:
          type: integer
          format: int32
        take:
          type: integer
          format: int32
        count:
          type: boolean
      additionalProperties: false
    UnauthorizedError:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        messageType:
          enum:
          - 0 = Info
          - 1 = Error
          type: integer
          format: int32
        detail:
          type:
          - string
          - 'null'
        internal:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        exception:
          $ref: '#/components/schemas/LogException'
        needsSanitization:
          type: boolean
          readOnly: true
        httpStatusCode:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
          readOnly: true
        messageCode:
          type:
          - string
          - 'null'
          readOnly: true
        title:
          type:
          - string
          - 'null'
          readOnly: true
        isOk:
          type: boolean
          readOnly: true
      additionalProperties: false
    TermsOfAgreementDto:
      type: object
      properties:
        isAcknowledged:
          type: boolean
      additionalProperties: false
    ApiPaging:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ApiPageRequest'
        response:
          $ref: '#/components/schemas/ApiPageResponse'
      additionalProperties: false
    BadRequestErrorIApiResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        correlationID:
          type:
          - string
          - 'null'
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        paging:
          $ref: '#/components/schemas/ApiPaging'
        maxMsgIndex:
          type: integer
          format: int32
          readOnly: true
        maxErrIndex:
          type: integer
          format: int32
          readOnly: true
        isOk:
          type: boolean
        apiResponseVersion:
          type:
          - string
          - 'null'
          readOnly: true
        data:
          $ref: '#/components/schemas/BadRequestError'
      additionalProperties: false
    TermsOfAgreementDtoApiResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        apiResponseVersion:
          type:
          - string
          - 'null'
          readOnly: true
        timestamp:
          type: string
          format: date-time
        correlationID:
          type:
          - string
          - 'null'
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        isOk:
          type: boolean
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        maxMsgIndex:
          type: integer
          format: int32
          readOnly: true
        maxErrIndex:
          type: integer
          format: int32
          readOnly: true
        paging:
          $ref: '#/components/schemas/ApiPaging'
        data:
          $ref: '#/components/schemas/TermsOfAgreementDto'
      additionalProperties: false
    UnauthorizedErrorIApiResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        correlationID:
          type:
          - string
          - 'null'
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        paging:
          $ref: '#/components/schemas/ApiPaging'
        maxMsgIndex:
          type: integer
          format: int32
          readOnly: true
        maxErrIndex:
          type: integer
          format: int32
          readOnly: true
        isOk:
          type: boolean
        apiResponseVersion:
          type:
          - string
          - 'null'
          readOnly: true
        data:
          $ref: '#/components/schemas/UnauthorizedError'
      additionalProperties: false
    ApiPageResponse:
      type: object
      properties:
        first:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        current:
          type:
          - string
          - 'null'
        next:
          type:
          - string
          - 'null'
        last:
          type:
          - string
          - 'null'
        pageSize:
          type:
          - integer
          - 'null'
          format: int32
        count:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    BadRequestError:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        messageType:
          enum:
          - 0 = Info
          - 1 = Error
          type: integer
          format: int32
        internal:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        exception:
          $ref: '#/components/schemas/LogException'
        needsSanitization:
          type: boolean
          readOnly: true
        httpStatusCode:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
          readOnly: true
        messageCode:
          type:
          - string
          - 'null'
          readOnly: true
        title:
          type:
          - string
          - 'null'
          readOnly: true
        detail:
          type:
          - string
          - 'null'
          readOnly: true
        isOk:
          type: boolean
          readOnly: true
      additionalProperties: false
    LogException:
      type: object
      properties:
        exceptionId:
          type: string
          format: uuid
        module:
          type:
          - string
          - 'null'
        class:
          type:
          - string
          - 'null'
        targetSite:
          type:
          - string
          - 'null'
        httpWebEventCode:
          type:
          - integer
          - 'null'
          format: int32
        httpStatusValue:
          type:
          - integer
          - 'null'
          format: int32
        httpStatusCode:
          type:
          - string
          - 'null'
        httpHtmlMessage:
          type:
          - string
          - 'null'
        properties:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        innerException:
          $ref: '#/components/schemas/LogException'
        message:
          type:
          - string
          - 'null'
        source:
          type:
          - string
          - 'null'
        stackTrace:
          type:
          - string
          - 'null'
        helpLink:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
        data:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        errorCode:
          type:
          - string
          - 'null'
        exceptionType:
          type:
          - string
          - 'null'
        baseException:
          $ref: '#/components/schemas/LogException'
      additionalProperties: false
    ForbiddenErrorIApiResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        correlationID:
          type:
          - string
          - 'null'
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        paging:
          $ref: '#/components/schemas/ApiPaging'
        maxMsgIndex:
          type: integer
          format: int32
          readOnly: true
        maxErrIndex:
          type: integer
          format: int32
          readOnly: true
        isOk:
          type: boolean
        apiResponseVersion:
          type:
          - string
          - 'null'
          readOnly: true
        data:
          $ref: '#/components/schemas/ForbiddenError'
      additionalProperties: false
    NotFoundErrorIApiResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        correlationID:
          type:
          - string
          - 'null'
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage'
        paging:
          $ref: '#/components/schemas/ApiPaging'
        maxMsgIndex:
          type: integer
          format: int32
          readOnly: true
        maxErrIndex:
          type: integer
          format: int32
          readOnly: true
        isOk:
          type: boolean
        apiResponseVersion:
          type:
          - string
          - 'null'
          readOnly: true
        data:
          $ref: '#/components/schemas/NotFoundError'
      additionalProperties: false
    NotFoundError:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        messageType:
          enum:
          - 0 = Info
          - 1 = Error
          type: integer
          format: int32
        detail:
          type:
          - string
          - 'null'
        internal:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        exception:
          $ref: '#/components/schemas/LogException'
        needsSanitization:
          type: boolean
          readOnly: true
        httpStatusCode:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
          readOnly: true
        messageCode:
          type:
          - string
          - 'null'
          readOnly: true
        title:
          type:
          - string
          - 'null'
          readOnly: true
        isOk:
          type: boolean
          readOnly: true
      additionalProperties: false
    TermsOfAgreementRequest:
      type: object
      properties:
        isAcknowledged:
          type: boolean
      additionalProperties: false
    ApiMessage:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        messageCode:
          type:
          - string
          - 'null'
        messageType:
          enum:
          - 0 = Info
          - 1 = Error
          type: integer
          format: int32
        title:
          type:
          - string
          - 'null'
        detail:
          type:
          - string
          - 'null'
        internal:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        exception:
          $ref: '#/components/schemas/LogException'
        isOk:
          type: boolean
        needsSanitization:
          type: boolean
          readOnly: true
      additionalProperties: false
    ForbiddenError:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        httpStatus:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
        messageType:
          enum:
          - 0 = Info
          - 1 = Error
          type: integer
          format: int32
        detail:
          type:
          - string
          - 'null'
        internal:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        exception:
          $ref: '#/components/schemas/LogException'
        needsSanitization:
          type: boolean
          readOnly: true
        httpStatusCode:
          enum:
          - 100 = Continue
          - 101 = SwitchingProtocols
          - 102 = Processing
          - 103 = EarlyHints
          - 200 = OK
          - 201 = Created
          - 202 = Accepted
          - 203 = NonAuthoritativeInformation
          - 204 = NoContent
          - 205 = ResetContent
          - 206 = PartialContent
          - 207 = MultiStatus
          - 208 = AlreadyReported
          - 226 = IMUsed
          - 300 = MultipleChoices
          - 300 = Ambiguous
          - 301 = MovedPermanently
          - 301 = Moved
          - 302 = Found
          - 302 = Redirect
          - 303 = SeeOther
          - 303 = RedirectMethod
          - 304 = NotModified
          - 305 = UseProxy
          - 306 = Unused
          - 307 = TemporaryRedirect
          - 307 = RedirectKeepVerb
          - 308 = PermanentRedirect
          - 400 = BadRequest
          - 401 = Unauthorized
          - 402 = PaymentRequired
          - 403 = Forbidden
          - 404 = NotFound
          - 405 = MethodNotAllowed
          - 406 = NotAcceptable
          - 407 = ProxyAuthenticationRequired
          - 408 = RequestTimeout
          - 409 = Conflict
          - 410 = Gone
          - 411 = LengthRequired
          - 412 = PreconditionFailed
          - 413 = RequestEntityTooLarge
          - 414 = RequestUriTooLong
          - 415 = UnsupportedMediaType
          - 416 = RequestedRangeNotSatisfiable
          - 417 = ExpectationFailed
          - 421 = MisdirectedRequest
          - 422 = UnprocessableEntity
          - 422 = UnprocessableContent
          - 423 = Locked
          - 424 = FailedDependency
          - 426 = UpgradeRequired
          - 428 = PreconditionRequired
          - 429 = TooManyRequests
          - 431 = RequestHeaderFieldsTooLarge
          - 451 = UnavailableForLegalReasons
          - 500 = InternalServerError
          - 501 = NotImplemented
          - 502 = BadGateway
          - 503 = ServiceUnavailable
          - 504 = GatewayTimeout
          - 505 = HttpVersionNotSupported
          - 506 = VariantAlsoNegotiates
          - 507 = InsufficientStorage
          - 508 = LoopDetected
          - 510 = NotExtended
          - 511 = NetworkAuthenticationRequired
          type: integer
          format: int32
          readOnly: true
        messageCode:
          type:
          - string
          - 'null'
          readOnly: true
        title:
          type:
          - string
          - 'null'
          readOnly: true
        isOk:
          type: boolean
          readOnly: true
      additionalProperties: false
    UnauthorizedError_2:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        httpStatus:
          $ref: '#/components/schemas/HttpStatusCode'
        messageType:
          $ref: '#/components/schemas/ApiMessageType'
        detail:
          type:
          - string
          - 'null'
        internal:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        exception:
          $ref: '#/components/schemas/LogException'
        needsSanitization:
          type: boolean
          readOnly: true
        httpStatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        messageCode:
          type:
          - string
          - 'null'
          readOnly: true
        title:
          type:
          - string
          - 'null'
          readOnly: true
        isOk:
          type: boolean
          readOnly: true
      additionalProperties: false
    TermsOfAgreementDto_2:
      required:
      - isAcknowledged
      type: object
      properties:
        isAcknowledged:
          minLength: 1
          type: string
      additionalProperties: false
    BadRequestErrorIApiResponse_2:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        correlationID:
          type:
          - string
          - 'null'
        httpStatus:
          $ref: '#/components/schemas/HttpStatusCode'
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage_2'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage_2'
        paging:
          $ref: '#/components/schemas/ApiPaging'
        maxMsgIndex:
          type: integer
          format: int32
          readOnly: true
        maxErrIndex:
          type: integer
          format: int32
          readOnly: true
        isOk:
          type: boolean
        apiResponseVersion:
          type:
          - string
          - 'null'
          readOnly: true
        data:
          $ref: '#/components/schemas/BadRequestError_2'
      additionalProperties: false
    ApiMessageType:
      enum:
      - 0 = Info
      - 1 = Error
      type: integer
      format: int32
    UnauthorizedErrorIApiResponse_2:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        correlationID:
          type:
          - string
          - 'null'
        httpStatus:
          $ref: '#/components/schemas/HttpStatusCode'
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage_2'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage_2'
        paging:
          $ref: '#/components/schemas/ApiPaging'
        maxMsgIndex:
          type: integer
          format: int32
          readOnly: true
        maxErrIndex:
          type: integer
          format: int32
          readOnly: true
        isOk:
          type: boolean
        apiResponseVersion:
          type:
          - string
          - 'null'
          readOnly: true
        data:
          $ref: '#/components/schemas/UnauthorizedError_2'
      additionalProperties: false
    StringIApiResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        correlationID:
          type:
          - string
          - 'null'
        httpStatus:
          $ref: '#/components/schemas/HttpStatusCode'
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage_2'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage_2'
        paging:
          $ref: '#/components/schemas/ApiPaging'
        maxMsgIndex:
          type: integer
          format: int32
          readOnly: true
        maxErrIndex:
          type: integer
          format: int32
          readOnly: true
        isOk:
          type: boolean
        apiResponseVersion:
          type:
          - string
          - 'null'
          readOnly: true
        data:
          type:
          - string
          - 'null'
      additionalProperties: false
    BadRequestError_2:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        httpStatus:
          $ref: '#/components/schemas/HttpStatusCode'
        messageType:
          $ref: '#/components/schemas/ApiMessageType'
        internal:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        exception:
          $ref: '#/components/schemas/LogException'
        needsSanitization:
          type: boolean
          readOnly: true
        httpStatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        messageCode:
          type:
          - string
          - 'null'
          readOnly: true
        title:
          type:
          - string
          - 'null'
          readOnly: true
        detail:
          type:
          - string
          - 'null'
          readOnly: true
        isOk:
          type: boolean
          readOnly: true
      additionalProperties: false
    ForbiddenErrorIApiResponse_2:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        correlationID:
          type:
          - string
          - 'null'
        httpStatus:
          $ref: '#/components/schemas/HttpStatusCode'
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage_2'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiMessage_2'
        paging:
          $ref: '#/components/schemas/ApiPaging'
        maxMsgIndex:
          type: integer
          format: int32
          readOnly: true
        maxErrIndex:
          type: integer
          format: int32
          readOnly: true
        isOk:
          type: boolean
        apiResponseVersion:
          type:
          - string
          - 'null'
          readOnly: true
        data:
          $ref: '#/components/schemas/ForbiddenError_2'
      additionalProperties: false
    ApiMessage_2:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        httpStatus:
          $ref: '#/components/schemas/HttpStatusCode'
        messageCode:
          type:
          - string
          - 'null'
        messageType:
          $ref: '#/components/schemas/ApiMessageType'
        title:
          type:
          - string
          - 'null'
        detail:
          type:
          - string
          - 'null'
        internal:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        exception:
          $ref: '#/components/schemas/LogException'
        isOk:
          type: boolean
        needsSanitization:
          type: boolean
          readOnly: true
      additionalProperties: false
    HttpStatusCode:
      enum:
      - 100 = Continue
      - 101 = SwitchingProtocols
      - 102 = Processing
      - 103 = EarlyHints
      - 200 = OK
      - 201 = Created
      - 202 = Accepted
      - 203 = NonAuthoritativeInformation
      - 204 = NoContent
      - 205 = ResetContent
      - 206 = PartialContent
      - 207 = MultiStatus
      - 208 = AlreadyReported
      - 226 = IMUsed
      - 300 = MultipleChoices
      - 300 = Ambiguous
      - 301 = MovedPermanently
      - 301 = Moved
      - 302 = Found
      - 302 = Redirect
      - 303 = SeeOther
      - 303 = RedirectMethod
      - 304 = NotModified
      - 305 = UseProxy
      - 306 = Unused
      - 307 = TemporaryRedirect
      - 307 = RedirectKeepVerb
      - 308 = PermanentRedirect
      - 400 = BadRequest
      - 401 = Unauthorized
      - 402 = PaymentRequired
      - 403 = Forbidden
      - 404 = NotFound
      - 405 = MethodNotAllowed
      - 406 = NotAcceptable
      - 407 = ProxyAuthenticationRequired
      - 408 = RequestTimeout
      - 409 = Conflict
      - 410 = Gone
      - 411 = LengthRequired
      - 412 = PreconditionFailed
      - 413 = RequestEntityTooLarge
      - 414 = RequestUriTooLong
      - 415 = UnsupportedMediaType
      - 416 = RequestedRangeNotSatisfiable
      - 417 = ExpectationFailed
      - 421 = MisdirectedRequest
      - 422 = UnprocessableEntity
      - 422 = UnprocessableContent
      - 423 = Locked
      - 424 = FailedDependency
      - 426 = UpgradeRequired
      - 428 = PreconditionRequired
      - 429 = TooManyRequests
      - 431 = RequestHeaderFieldsTooLarge
      - 451 = UnavailableForLegalReasons
      - 500 = InternalServerError
      - 501 = NotImplemented
      - 502 = BadGateway
      - 503 = ServiceUnavailable
      - 504 = GatewayTimeout
      - 505 = HttpVersionNotSupported
      - 506 = VariantAlsoNegotiates
      - 507 = InsufficientStorage
      - 508 = LoopDetected
      - 510 = NotExtended
      - 511 = NetworkAuthenticationRequired
      type: integer
      format: int32
    ForbiddenError_2:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        httpStatus:
          $ref: '#/components/schemas/HttpStatusCode'
        messageType:
          $ref: '#/components/schemas/ApiMessageType'
        detail:
          type:
          - string
          - 'null'
        internal:
          type:
          - string
          - 'null'
        reference:
          type:
          - string
          - 'null'
        exception:
          $ref: '#/components/schemas/LogException'
        needsSanitization:
          type: boolean
          readOnly: true
        httpStatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        messageCode:
          type:
          - string
          - 'null'
          readOnly: true
        title:
          type:
          - string
          - 'null'
          readOnly: true
        isOk:
          type: boolean
          readOnly: true
      additionalProperties: false
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: subscriber_id
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
x-refined-from:
- amtrust-financial-services-digital-bop-api-openapi.json
- amtrust-financial-services-digital-cyber-api-openapi.json
