{
  "openapi": "3.0.1",
  "info": {
    "title": "Digital PAC API",
    "description": "Digital PAC API allows users to submit, rate, quote and bind policies, and match the insured’s exposures with a wide range of optional and enhanced coverages.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://gateway.amtrustgroup.com/digital-pac"
    },
    {
      "url": "https://prod-apim-gw.amtrustservices.com/digital-pac"
    }
  ],
  "paths": {
    "/api/v1/agent-contacts": {
      "get": {
        "tags": [
          "Agent Contacts"
        ],
        "summary": "Retrieve all agent contacts",
        "description": "Returns all agent contact IDs, names, and emails linked to the agency authenticated",
        "operationId": "get-api-v1-agent-contacts",
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "34822e69a339",
                  "timeStamp": "2023-08-25T01:04:41.5513032+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "7723319b7f74",
                  "timeStamp": "2023-08-25T01:04:41.5514991+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentContactDtoIEnumerableIApiResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": 1,
                      "name": "George Washington",
                      "email": "gwashington@uspresident.gov"
                    },
                    {
                      "id": 2,
                      "name": "John Adams",
                      "email": "jadams@uspresident.gov"
                    },
                    {
                      "id": 1,
                      "name": "Thomas Jefferson",
                      "email": "tjefferson@uspresident.gov"
                    }
                  ],
                  "responseId": "f8c1fcf784ed",
                  "timeStamp": "2023-08-25T01:04:41.5516729+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reference-resources/business-types": {
      "get": {
        "tags": [
          "Reference Resources"
        ],
        "summary": "Retrieve Business Types",
        "description": "Returns all available business types that can be selected",
        "operationId": "get-api-v1-reference-resources-business-types",
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "72e2414eff20",
                  "timeStamp": "2023-08-25T01:04:41.8153992+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "f70c07280952",
                  "timeStamp": "2023-08-25T01:04:41.8155065+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessTypeDtoIEnumerableIApiResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "ApartmentBuilding",
                      "description": "Apartment Building"
                    },
                    {
                      "id": "ApartmentCondoOrCoOpMercantile",
                      "description": "Apartment, Condo or Co-op with Mercantile"
                    },
                    {
                      "id": "CondominiumOrCoOp",
                      "description": "Condominium or Co-op"
                    },
                    {
                      "id": "Contractor",
                      "description": "Contractor"
                    },
                    {
                      "id": "Dwelling",
                      "description": "Dwelling (1-4 Family)"
                    },
                    {
                      "id": "HomeownersAssociation",
                      "description": "Homeowners Association"
                    },
                    {
                      "id": "HotelsMotels",
                      "description": "Hotels/Motels"
                    },
                    {
                      "id": "Institution",
                      "description": "Institution (such as churches / houses of worship/schools)"
                    },
                    {
                      "id": "Manufacturing",
                      "description": "Manufacturing"
                    },
                    {
                      "id": "LRO",
                      "description": "LRO- no apartments (lessors Risk Only)"
                    },
                    {
                      "id": "Office",
                      "description": "Office"
                    },
                    {
                      "id": "Restaurant",
                      "description": "Restaurant"
                    },
                    {
                      "id": "RetailMercantile",
                      "description": "Retail Mercantile"
                    },
                    {
                      "id": "Services",
                      "description": "Services (classes such as auto repair, beauty salons, clubs, dry cleaning, gas stations, Laundromat, printing)"
                    },
                    {
                      "id": "WholesaleDistributor",
                      "description": "Wholesale/Distributor"
                    },
                    {
                      "id": "Other",
                      "description": "All other"
                    }
                  ],
                  "responseId": "96f22b5eba8f",
                  "timeStamp": "2023-08-25T01:04:41.8156170+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reference-resources/legal-entities": {
      "get": {
        "tags": [
          "Reference Resources"
        ],
        "summary": "Retrieve Legal Entities",
        "description": "Returns all available legal entities that can be selected",
        "operationId": "get-api-v1-reference-resources-legal-entities",
        "parameters": [
          {
            "name": "effectiveDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "c2b519977e5f",
                  "timeStamp": "2023-08-25T01:04:41.8217788+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "bdb91e86fe58",
                  "timeStamp": "2023-08-25T01:04:41.8218853+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringIEnumerableIApiResponse"
                },
                "example": {
                  "data": [
                    "Individual",
                    "Partnership",
                    "Joint Venture",
                    "Trust",
                    "Limited Liability Company",
                    "Organization Including a Corporation",
                    "Other"
                  ],
                  "responseId": "eab104ac3609",
                  "timeStamp": "2023-08-25T01:04:41.8219963+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/liability-limits": {
      "get": {
        "tags": [
          "Liability Limits"
        ],
        "summary": "Retrieve Available Liability Limits by Quote",
        "description": "Returns all general liability limits that are available for the specific quote",
        "operationId": "get-api-v1-quotes-quoteid-liability-limits",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "d61f51f8b311",
                  "timeStamp": "2023-08-25T01:04:41.5833659+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "eac02409545a",
                  "timeStamp": "2023-08-25T01:04:41.5835689+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "5fbb884dc8a6",
                  "timeStamp": "2023-08-25T01:04:41.5837225+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiabilityLimitsContainerDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "liabilityOccurrence": {
                      "options": [
                        "100000",
                        "300000",
                        "500000",
                        "1000000",
                        "2000000"
                      ],
                      "default": "1000000"
                    },
                    "generalAggregate": {
                      "options": [
                        "100000",
                        "200000",
                        "300000",
                        "500000",
                        "600000",
                        "1000000",
                        "2000000",
                        "4000000"
                      ],
                      "default": "2000000"
                    },
                    "productsAggregate": {
                      "options": [
                        "100000",
                        "200000",
                        "300000",
                        "500000",
                        "600000",
                        "1000000",
                        "2000000",
                        "4000000",
                        "Excluded"
                      ],
                      "default": "1000000"
                    },
                    "medicalExpense": {
                      "options": [
                        "0",
                        "5000",
                        "10000",
                        "15000"
                      ],
                      "default": "5000"
                    },
                    "damageToPremisesRentedToYou": {
                      "options": [
                        "100000",
                        "300000",
                        "500000",
                        "1000000"
                      ],
                      "default": "100000"
                    }
                  },
                  "responseId": "7a93ed7fe9ed",
                  "timeStamp": "2023-08-25T01:04:41.5838541+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "_v": "AD"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Liability Limits"
        ],
        "summary": "Add General Liability Limits",
        "description": "This endpoint saves general liability limits to the quote",
        "operationId": "post-api-v1-quotes-quoteid-liability-limits",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PostLiabilityLimitsDto"
              },
              "example": {
                "liabilityOccurrence": "1000000",
                "generalAggregate": "2000000",
                "productsAggregate": "50000",
                "medicalExpense": "0 (Excluded)",
                "damageToPremisesRentedToYou": "0 (Excluded)"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostLiabilityLimitsDto"
              },
              "example": {
                "liabilityOccurrence": "1000000",
                "generalAggregate": "2000000",
                "productsAggregate": "50000",
                "medicalExpense": "0 (Excluded)",
                "damageToPremisesRentedToYou": "0 (Excluded)"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PostLiabilityLimitsDto"
              },
              "example": {
                "liabilityOccurrence": "1000000",
                "generalAggregate": "2000000",
                "productsAggregate": "50000",
                "medicalExpense": "0 (Excluded)",
                "damageToPremisesRentedToYou": "0 (Excluded)"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PostLiabilityLimitsDto"
              },
              "example": {
                "liabilityOccurrence": "1000000",
                "generalAggregate": "2000000",
                "productsAggregate": "50000",
                "medicalExpense": "0 (Excluded)",
                "damageToPremisesRentedToYou": "0 (Excluded)"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "931bce89f6b0",
                  "timeStamp": "2023-08-25T01:04:41.6199754+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "0542d761f261",
                  "timeStamp": "2023-08-25T01:04:41.6201055+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "e7b3d56c846d",
                  "timeStamp": "2023-08-25T01:04:41.6202656+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostLiabilityLimitsResponseDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "accountInformation": {
                      "quoteId": 983428,
                      "masterAccountId": 32529301
                    },
                    "liabilityLimits": {
                      "liabilityOccurrence": "1000000",
                      "generalAggregate": "2000000",
                      "personalAndAdvInjury": "1000000",
                      "productsAggregate": "50000",
                      "medicalExpense": "0 (Excluded)",
                      "damageToPremisesRentedToYou": "0 (Excluded)"
                    },
                    "premiumDetails": {
                      "generalLiability": {
                        "premium": 1200,
                        "taxes": 0
                      },
                      "commercialProperty": {
                        "premium": 1389,
                        "taxes": 1
                      },
                      "netPremium": 1
                    }
                  },
                  "responseId": "2a78421739b2",
                  "timeStamp": "2023-08-25T01:04:41.6204311+00:00",
                  "httpStatusCode": 201,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "64fffb858005",
                  "timeStamp": "2023-08-25T01:04:41.6206070+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes": {
      "post": {
        "tags": [
          "Quotes"
        ],
        "summary": "Create Quote",
        "description": "This endpoint takes in basic insured information (addresses, name, contact, effective date, business information), along with allowing coverage selections. <br>\r\n                            <br> This endpoint will not take in class code specific limit selections, nor will it return a premium.",
        "operationId": "post-api-v1-quotes",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PostQuoteRequestDto"
              },
              "example": {
                "businessName": "Stark Industries",
                "dbaName": "Marvel Studios",
                "primaryAddress": {
                  "line1": "41 Madison Ave",
                  "line2": "Suite A",
                  "city": "New York",
                  "territory": "NY",
                  "postalCode": "10010"
                },
                "mailingAddress": {
                  "line1": "41 Madison Ave",
                  "line2": "Suite A",
                  "city": "New York",
                  "territory": "NY",
                  "postalCode": "10010"
                },
                "effectiveDate": "2023-08-27",
                "fein": "123456789",
                "agentContactId": 123456,
                "insuredContact": {
                  "name": "Pepper Potts-Stark",
                  "phone": "5555555555",
                  "email": "IronLove3000@mail.com"
                },
                "legalEntity": "Individual",
                "businessType": "ApartmentBuilding",
                "yearsInBusiness": 45,
                "yearsOfExperience": null,
                "natureOfBusiness": "Government funding housing",
                "quoteCoverageSelection": {
                  "hasGeneralLiability": true,
                  "hasEmploymentRelatedPracticesLiability": false,
                  "hasCommercialProperty": true
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostQuoteRequestDto"
              },
              "example": {
                "businessName": "Stark Industries",
                "dbaName": "Marvel Studios",
                "primaryAddress": {
                  "line1": "41 Madison Ave",
                  "line2": "Suite A",
                  "city": "New York",
                  "territory": "NY",
                  "postalCode": "10010"
                },
                "mailingAddress": {
                  "line1": "41 Madison Ave",
                  "line2": "Suite A",
                  "city": "New York",
                  "territory": "NY",
                  "postalCode": "10010"
                },
                "effectiveDate": "2023-08-27",
                "fein": "123456789",
                "agentContactId": 123456,
                "insuredContact": {
                  "name": "Pepper Potts-Stark",
                  "phone": "5555555555",
                  "email": "IronLove3000@mail.com"
                },
                "legalEntity": "Individual",
                "businessType": "ApartmentBuilding",
                "yearsInBusiness": 45,
                "yearsOfExperience": null,
                "natureOfBusiness": "Government funding housing",
                "quoteCoverageSelection": {
                  "hasGeneralLiability": true,
                  "hasEmploymentRelatedPracticesLiability": false,
                  "hasCommercialProperty": true
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PostQuoteRequestDto"
              },
              "example": {
                "businessName": "Stark Industries",
                "dbaName": "Marvel Studios",
                "primaryAddress": {
                  "line1": "41 Madison Ave",
                  "line2": "Suite A",
                  "city": "New York",
                  "territory": "NY",
                  "postalCode": "10010"
                },
                "mailingAddress": {
                  "line1": "41 Madison Ave",
                  "line2": "Suite A",
                  "city": "New York",
                  "territory": "NY",
                  "postalCode": "10010"
                },
                "effectiveDate": "2023-08-27",
                "fein": "123456789",
                "agentContactId": 123456,
                "insuredContact": {
                  "name": "Pepper Potts-Stark",
                  "phone": "5555555555",
                  "email": "IronLove3000@mail.com"
                },
                "legalEntity": "Individual",
                "businessType": "ApartmentBuilding",
                "yearsInBusiness": 45,
                "yearsOfExperience": null,
                "natureOfBusiness": "Government funding housing",
                "quoteCoverageSelection": {
                  "hasGeneralLiability": true,
                  "hasEmploymentRelatedPracticesLiability": false,
                  "hasCommercialProperty": true
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PostQuoteRequestDto"
              },
              "example": {
                "businessName": "Stark Industries",
                "dbaName": "Marvel Studios",
                "primaryAddress": {
                  "line1": "41 Madison Ave",
                  "line2": "Suite A",
                  "city": "New York",
                  "territory": "NY",
                  "postalCode": "10010"
                },
                "mailingAddress": {
                  "line1": "41 Madison Ave",
                  "line2": "Suite A",
                  "city": "New York",
                  "territory": "NY",
                  "postalCode": "10010"
                },
                "effectiveDate": "2023-08-27",
                "fein": "123456789",
                "agentContactId": 123456,
                "insuredContact": {
                  "name": "Pepper Potts-Stark",
                  "phone": "5555555555",
                  "email": "IronLove3000@mail.com"
                },
                "legalEntity": "Individual",
                "businessType": "ApartmentBuilding",
                "yearsInBusiness": 45,
                "yearsOfExperience": null,
                "natureOfBusiness": "Government funding housing",
                "quoteCoverageSelection": {
                  "hasGeneralLiability": true,
                  "hasEmploymentRelatedPracticesLiability": false,
                  "hasCommercialProperty": true
                }
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "ed69613dec3c",
                  "timeStamp": "2023-08-25T01:04:41.7926382+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "27f2b522c7e0",
                  "timeStamp": "2023-08-25T01:04:41.7927444+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostQuoteResponseDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "businessName": "Stark Industries",
                    "dbaName": "Marvel Studios",
                    "primaryAddress": {
                      "line1": "41 Madison Ave",
                      "line2": "Suite A",
                      "city": "New York",
                      "territory": "NY",
                      "postalCode": "10010"
                    },
                    "mailingAddress": {
                      "line1": "41 Madison Ave",
                      "line2": "Suite A",
                      "city": "New York",
                      "territory": "NY",
                      "postalCode": "10010"
                    },
                    "effectiveDate": "2023-08-27",
                    "fein": "123456789",
                    "agentContact": {
                      "id": 12345,
                      "name": "Phil Coulson",
                      "email": "AgentPhil@mail.com"
                    },
                    "insuredContact": {
                      "name": "Pepper Potts-Stark",
                      "phone": "5555555555",
                      "email": "IronLove3000@mail.com"
                    },
                    "legalEntity": "Individual",
                    "businessType": "ApartmentBuilding",
                    "yearsInBusiness": 45,
                    "yearsOfExperience": null,
                    "natureOfBusiness": "Government funding housing",
                    "accountInformation": {
                      "quoteId": 1234567,
                      "masterAccountId": 7654321
                    },
                    "quoteCoverageSelection": {
                      "hasGeneralLiability": true,
                      "hasEmploymentRelatedPracticesLiability": false,
                      "hasCommercialProperty": true
                    },
                    "locations": [
                      {
                        "id": 1,
                        "address": {
                          "line1": "41 Madison Ave",
                          "line2": "Suite A",
                          "city": "New York",
                          "territory": "NY",
                          "postalCode": "10010"
                        }
                      }
                    ]
                  },
                  "responseId": "2593516b2032",
                  "timeStamp": "2023-08-25T01:04:41.7928591+00:00",
                  "httpStatusCode": 201,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "7119f5a6ffa5",
                  "timeStamp": "2023-08-25T01:04:41.7930202+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}": {
      "get": {
        "tags": [
          "Quotes"
        ],
        "summary": "Retrieve Quote Information",
        "description": "Returns all currently saved quote information",
        "operationId": "get-api-v1-quotes-quoteid",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "31a1ed3988e4",
                  "timeStamp": "2023-08-25T01:04:41.8067271+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "b4ee2f25d021",
                  "timeStamp": "2023-08-25T01:04:41.8068404+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuoteResponseDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "businessName": "Stark Industries",
                    "dbaName": "Marvel Studios",
                    "primaryAddress": {
                      "line1": "41 Madison Ave",
                      "line2": "Suite A",
                      "city": "New York",
                      "territory": "NY",
                      "postalCode": "10010"
                    },
                    "mailingAddress": {
                      "line1": "41 Madison Ave",
                      "line2": "Suite A",
                      "city": "New York",
                      "territory": "NY",
                      "postalCode": "10010"
                    },
                    "effectiveDate": "2023-08-27",
                    "fein": "123456789",
                    "agentContact": {
                      "id": 12345,
                      "name": "Phil Coulson",
                      "email": "AgentPhil@mail.com"
                    },
                    "insuredContact": {
                      "name": "Pepper Potts-Stark",
                      "phone": "5555555555",
                      "email": "IronLove3000@mail.com"
                    },
                    "legalEntity": "Individual",
                    "businessType": "Apartment Building",
                    "yearsInBusiness": 45,
                    "yearsOfExperience": null,
                    "natureOfBusiness": "Government funding housing",
                    "accountInformation": {
                      "quoteId": 1234567,
                      "masterAccountId": 7654321
                    },
                    "quoteCoverageSelection": {
                      "hasGeneralLiability": true,
                      "hasEmploymentRelatedPracticesLiability": false,
                      "hasCommercialProperty": true
                    },
                    "locations": [
                      {
                        "deductible": 1000,
                        "protectionClass": "1",
                        "id": 1,
                        "address": {
                          "line1": "41 Madison Ave",
                          "line2": "Suite A",
                          "city": "New York",
                          "territory": "NY",
                          "postalCode": "10010"
                        }
                      }
                    ]
                  },
                  "responseId": "e17fa5a007c2",
                  "timeStamp": "2023-08-25T01:04:41.8069540+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "feccc7046c4e",
                  "timeStamp": "2023-08-25T01:04:41.8071116+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/locations": {
      "post": {
        "tags": [
          "Location"
        ],
        "summary": "Add Location",
        "description": "This endpoint allows user to add additional locations to their quote",
        "operationId": "post-api-v1-quotes-quoteid-locations",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/LocationPostDto"
                }
              },
              "example": [
                {
                  "deductible": 2500,
                  "address": {
                    "line1": "41 Madison Ave",
                    "line2": "Suite A",
                    "city": "New York",
                    "territory": "NY",
                    "postalCode": "10010"
                  }
                }
              ]
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/LocationPostDto"
                }
              },
              "example": [
                {
                  "deductible": 2500,
                  "address": {
                    "line1": "41 Madison Ave",
                    "line2": "Suite A",
                    "city": "New York",
                    "territory": "NY",
                    "postalCode": "10010"
                  }
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/LocationPostDto"
                }
              },
              "example": [
                {
                  "deductible": 2500,
                  "address": {
                    "line1": "41 Madison Ave",
                    "line2": "Suite A",
                    "city": "New York",
                    "territory": "NY",
                    "postalCode": "10010"
                  }
                }
              ]
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/LocationPostDto"
                }
              },
              "example": [
                {
                  "deductible": 2500,
                  "address": {
                    "line1": "41 Madison Ave",
                    "line2": "Suite A",
                    "city": "New York",
                    "territory": "NY",
                    "postalCode": "10010"
                  }
                }
              ]
            }
          }
        },
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "a18cc45b7252",
                  "timeStamp": "2023-08-25T01:04:41.6456632+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "315b78345f4c",
                  "timeStamp": "2023-08-25T01:04:41.6458548+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostLocationResponseDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "accountInformation": {
                      "quoteId": 1234567,
                      "masterAccountId": 7654321
                    },
                    "locations": [
                      {
                        "territoryName": "509",
                        "deductible": 2500,
                        "protectionClass": "1",
                        "id": 1,
                        "address": {
                          "line1": "41 Madison Ave",
                          "line2": "Suite A",
                          "city": "New York",
                          "territory": "NY",
                          "postalCode": "10010"
                        }
                      }
                    ]
                  },
                  "responseId": "25f7552a3e60",
                  "timeStamp": "2023-08-25T01:04:41.6459940+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "4d884ba5f38c",
                  "timeStamp": "2023-08-25T01:04:41.6461317+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "a3e444288a43",
                  "timeStamp": "2023-08-25T01:04:41.6462697+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/locations/{locationId}/commercial-property": {
      "post": {
        "tags": [
          "Location"
        ],
        "summary": "Add Commercial Property",
        "description": "This endpoint saves commercial property coverage to the location",
        "operationId": "post-api-v1-quotes-quoteid-locations-locationid-commercial-property",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PostCommercialPropertyDto"
              },
              "example": {
                "deductible": 500,
                "buildings": [
                  {
                    "classCode": "0074",
                    "description": "Candy Store",
                    "construction": 1,
                    "totalSquareFootage": 2,
                    "yearBuilt": 2018,
                    "yearWiringUpdated": 0,
                    "yearPlumbingUpdated": 0,
                    "yearHeatingUpdated": 0,
                    "yearRoofingUpdated": 0,
                    "roofType": 0,
                    "numberOfStories": 2,
                    "coinsurance": "80",
                    "causeOfLoss": "Special - Including Theft",
                    "sprinkleredBuilding": "No",
                    "isVacantOrPartiallyVacant": "No",
                    "coveragesContainer": {
                      "building": {
                        "buildingType": "Building",
                        "limit": 10000,
                        "coinsurance": "90",
                        "buildingValuation": "ActualCashValue",
                        "isApplicantOnlyBuildingOccupant": "No",
                        "allOccupantslListedInClassList": null,
                        "any20PercentOccupant": null,
                        "listNotIncludedOccupantsInClassList": null
                      },
                      "contens": {
                        "personalProperty": {
                          "limit": 10000,
                          "coinsurance": "90"
                        },
                        "personalPropertyOfOthers": {
                          "alarmConnection": "CentralStationWithKeys",
                          "alarmProtection": "Low",
                          "personalPropertyValuation": "ReplacementExcludingStock",
                          "limit": 10000,
                          "coinsurance": "90"
                        }
                      }
                    }
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCommercialPropertyDto"
              },
              "example": {
                "deductible": 500,
                "buildings": [
                  {
                    "classCode": "0074",
                    "description": "Candy Store",
                    "construction": 1,
                    "totalSquareFootage": 2,
                    "yearBuilt": 2018,
                    "yearWiringUpdated": 0,
                    "yearPlumbingUpdated": 0,
                    "yearHeatingUpdated": 0,
                    "yearRoofingUpdated": 0,
                    "roofType": 0,
                    "numberOfStories": 2,
                    "coinsurance": "80",
                    "causeOfLoss": "Special - Including Theft",
                    "sprinkleredBuilding": "No",
                    "isVacantOrPartiallyVacant": "No",
                    "coveragesContainer": {
                      "building": {
                        "buildingType": "Building",
                        "limit": 10000,
                        "coinsurance": "90",
                        "buildingValuation": "ActualCashValue",
                        "isApplicantOnlyBuildingOccupant": "No",
                        "allOccupantslListedInClassList": null,
                        "any20PercentOccupant": null,
                        "listNotIncludedOccupantsInClassList": null
                      },
                      "contens": {
                        "personalProperty": {
                          "limit": 10000,
                          "coinsurance": "90"
                        },
                        "personalPropertyOfOthers": {
                          "alarmConnection": "CentralStationWithKeys",
                          "alarmProtection": "Low",
                          "personalPropertyValuation": "ReplacementExcludingStock",
                          "limit": 10000,
                          "coinsurance": "90"
                        }
                      }
                    }
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCommercialPropertyDto"
              },
              "example": {
                "deductible": 500,
                "buildings": [
                  {
                    "classCode": "0074",
                    "description": "Candy Store",
                    "construction": 1,
                    "totalSquareFootage": 2,
                    "yearBuilt": 2018,
                    "yearWiringUpdated": 0,
                    "yearPlumbingUpdated": 0,
                    "yearHeatingUpdated": 0,
                    "yearRoofingUpdated": 0,
                    "roofType": 0,
                    "numberOfStories": 2,
                    "coinsurance": "80",
                    "causeOfLoss": "Special - Including Theft",
                    "sprinkleredBuilding": "No",
                    "isVacantOrPartiallyVacant": "No",
                    "coveragesContainer": {
                      "building": {
                        "buildingType": "Building",
                        "limit": 10000,
                        "coinsurance": "90",
                        "buildingValuation": "ActualCashValue",
                        "isApplicantOnlyBuildingOccupant": "No",
                        "allOccupantslListedInClassList": null,
                        "any20PercentOccupant": null,
                        "listNotIncludedOccupantsInClassList": null
                      },
                      "contens": {
                        "personalProperty": {
                          "limit": 10000,
                          "coinsurance": "90"
                        },
                        "personalPropertyOfOthers": {
                          "alarmConnection": "CentralStationWithKeys",
                          "alarmProtection": "Low",
                          "personalPropertyValuation": "ReplacementExcludingStock",
                          "limit": 10000,
                          "coinsurance": "90"
                        }
                      }
                    }
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PostCommercialPropertyDto"
              },
              "example": {
                "deductible": 500,
                "buildings": [
                  {
                    "classCode": "0074",
                    "description": "Candy Store",
                    "construction": 1,
                    "totalSquareFootage": 2,
                    "yearBuilt": 2018,
                    "yearWiringUpdated": 0,
                    "yearPlumbingUpdated": 0,
                    "yearHeatingUpdated": 0,
                    "yearRoofingUpdated": 0,
                    "roofType": 0,
                    "numberOfStories": 2,
                    "coinsurance": "80",
                    "causeOfLoss": "Special - Including Theft",
                    "sprinkleredBuilding": "No",
                    "isVacantOrPartiallyVacant": "No",
                    "coveragesContainer": {
                      "building": {
                        "buildingType": "Building",
                        "limit": 10000,
                        "coinsurance": "90",
                        "buildingValuation": "ActualCashValue",
                        "isApplicantOnlyBuildingOccupant": "No",
                        "allOccupantslListedInClassList": null,
                        "any20PercentOccupant": null,
                        "listNotIncludedOccupantsInClassList": null
                      },
                      "contens": {
                        "personalProperty": {
                          "limit": 10000,
                          "coinsurance": "90"
                        },
                        "personalPropertyOfOthers": {
                          "alarmConnection": "CentralStationWithKeys",
                          "alarmProtection": "Low",
                          "personalPropertyValuation": "ReplacementExcludingStock",
                          "limit": 10000,
                          "coinsurance": "90"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "dc3d2507dd92",
                  "timeStamp": "2023-08-25T01:04:41.7323934+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "20a0e0d7baac",
                  "timeStamp": "2023-08-25T01:04:41.7325004+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommercialPropertyResponseDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "quoteId": 983428,
                    "masterAccountId": 32529301,
                    "locationId": 1,
                    "locationAddress": {
                      "line1": "41 Madison Ave",
                      "line2": "Suite A",
                      "city": "New York",
                      "territory": "NY",
                      "postalCode": "10010"
                    },
                    "protectionClass": "1X-5X",
                    "deductible": 500,
                    "buildings": [
                      {
                        "buildingId": 0,
                        "classCode": "0074",
                        "classCodeDescription": null,
                        "description": "Candy Store",
                        "construction": 1,
                        "totalSquareFootage": 2,
                        "yearBuilt": 2018,
                        "yearWiringUpdated": 0,
                        "yearPlumbingUpdated": 0,
                        "yearHeatingUpdated": 0,
                        "yearRoofingUpdated": 0,
                        "roofType": 0,
                        "numberOfStories": 2,
                        "coinsurance": null,
                        "causeOfLoss": "Special - Including Theft",
                        "sprinkleredBuilding": "No",
                        "specificGroupLossCostBuilding": 0,
                        "specificGroupLossCostContents": 0,
                        "isVacantOrPartiallyVacant": false,
                        "coveragesContainer": {
                          "building": {
                            "buildingType": "Building",
                            "limit": 10000,
                            "couseOfLouse": "Special - Including Theft",
                            "coinsurance": "90",
                            "buildingValuation": "ActualCashValue"
                          },
                          "contents": {
                            "personalProperty": {
                              "limit": 10000,
                              "coinsurance": "90",
                              "causeOfLoss": "Special - Including Theft"
                            },
                            "personalPropertyOfOthers": {
                              "alarmConnection": "CentralStationWithKeys",
                              "alarmProtection": "Low",
                              "personalPropertyValuation": "ReplacementExcludingStock",
                              "limit": 10000,
                              "coinsurance": "90",
                              "causeOfLoss": "Special - Including Theft"
                            }
                          }
                        }
                      }
                    ],
                    "premiumDetails": {
                      "generalLiability": {
                        "premium": 1200,
                        "taxes": 0
                      },
                      "commercialProperty": {
                        "premium": 1389,
                        "taxes": 1
                      },
                      "netPremium": 1
                    }
                  },
                  "responseId": "898e4bf4dc3a",
                  "timeStamp": "2023-08-25T01:04:41.7326258+00:00",
                  "httpStatusCode": 201,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "b13dbc5f9af0",
                  "timeStamp": "2023-08-25T01:04:41.7328045+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "8dcfed34884c",
                  "timeStamp": "2023-08-25T01:04:41.7329303+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/locations/{locationId}/class-codes": {
      "post": {
        "tags": [
          "Location"
        ],
        "summary": "Add GL Class Code",
        "description": "This endpoint saves GL class codes to a specific location",
        "operationId": "post-api-v1-quotes-quoteid-locations-locationid-class-codes",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PostClassCodeDto"
                }
              },
              "example": [
                {
                  "classCode": "49185",
                  "exposure": 500
                }
              ]
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PostClassCodeDto"
                }
              },
              "example": [
                {
                  "classCode": "49185",
                  "exposure": 500
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PostClassCodeDto"
                }
              },
              "example": [
                {
                  "classCode": "49185",
                  "exposure": 500
                }
              ]
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PostClassCodeDto"
                }
              },
              "example": [
                {
                  "classCode": "49185",
                  "exposure": 500
                }
              ]
            }
          }
        },
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "f7962ff5147c",
                  "timeStamp": "2023-08-25T01:04:41.7503217+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "2eed3d2b9ab7",
                  "timeStamp": "2023-08-25T01:04:41.7505376+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostClassCodesResponseDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "accountInformation": {
                      "quoteId": 1234567,
                      "masterAccountId": 7654321
                    },
                    "location": {
                      "glTerritoryName": "Huntington Park, Los Angeles",
                      "classCodes": [
                        {
                          "classCode": "49185",
                          "classCodeDescription": "Youth Recreation Programs (For-Profit)",
                          "exposure": 500
                        }
                      ],
                      "id": 1,
                      "address": {
                        "line1": "41 Madison Ave",
                        "line2": "Suite A",
                        "city": "New York",
                        "territory": "NY",
                        "postalCode": "10010"
                      }
                    }
                  },
                  "responseId": "f3096daea287",
                  "timeStamp": "2023-08-25T01:04:41.7507599+00:00",
                  "httpStatusCode": 201,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "21ff9fc1111c",
                  "timeStamp": "2023-08-25T01:04:41.7510637+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "85401f391e3e",
                  "timeStamp": "2023-08-25T01:04:41.7512875+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reference-resources/class-codes/property": {
      "get": {
        "tags": [
          "Reference Resources"
        ],
        "summary": "Commercial Property Class Codes",
        "description": "This endpoint will return all available Commercial Property class codes that can be saved to your PAC quote",
        "operationId": "get-api-v1-reference-resources-class-codes-property",
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "3d93298bcbe9",
                  "timeStamp": "2023-08-25T01:04:41.8297592+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "15877618b74c",
                  "timeStamp": "2023-08-25T01:04:41.8298664+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyClassCodeDtoIEnumerableIApiResponse"
                },
                "example": {
                  "data": [
                    {
                      "classCode": "6810",
                      "description": "Automobile, Bus and Truck Body Mfg. – Heavy metal products",
                      "stateApplicable": "All states"
                    },
                    {
                      "classCode": "0747",
                      "description": "Hotels and Motels – without restaurant – Over 30 units",
                      "stateApplicable": "WA"
                    },
                    {
                      "classCode": "0755",
                      "description": "Clubs – Sports clubs, with cooking; country clubs with cooking",
                      "stateApplicable": "WA"
                    }
                  ],
                  "responseId": "a0ed491c6246",
                  "timeStamp": "2023-08-25T01:04:41.8299775+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reference-resources/class-codes/general-liability": {
      "get": {
        "tags": [
          "Reference Resources"
        ],
        "summary": "General Liability Class Codes",
        "description": "This endpoint will return all available General Liability class codes that can be saved to your PAC quote",
        "operationId": "get-api-v1-reference-resources-class-codes-general-liability",
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "5091cd9703bc",
                  "timeStamp": "2023-08-25T01:04:41.8377108+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "82a65cc1bb0a",
                  "timeStamp": "2023-08-25T01:04:41.8378178+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralLiabilityClassCodeDtoIEnumerableIApiResponse"
                },
                "example": {
                  "data": [
                    {
                      "classCode": "10010",
                      "description": "Air Conditioning Equipment - dealers  and distributors only",
                      "exposureBasis": "$1,000 of Gross Sales"
                    },
                    {
                      "classCode": "41672",
                      "description": "Conventions (sponsor's risk only)  (For-Profit)",
                      "exposureBasis": "Number of Convention Days"
                    },
                    {
                      "classCode": "10026",
                      "description": "Antique Stores",
                      "exposureBasis": "$1,000 of Gross Sales"
                    }
                  ],
                  "responseId": "41fa8212c058",
                  "timeStamp": "2023-08-25T01:04:41.8379300+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reference-resources/liability-limits": {
      "get": {
        "tags": [
          "Reference Resources"
        ],
        "summary": "Retrieve Liability Limits",
        "description": "This endpoint will return all possible general liability limits that could be available for any given quote",
        "operationId": "get-api-v1-reference-resources-liability-limits",
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "840a7dda8821",
                  "timeStamp": "2023-08-25T01:04:41.8471601+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "19fa98b16e05",
                  "timeStamp": "2023-08-25T01:04:41.8473500+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiabilityLimitsResourceDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "liabilityOccurrence": {
                      "options": [
                        "100000",
                        "300000",
                        "500000",
                        "1000000",
                        "2000000"
                      ],
                      "default": "1000000"
                    },
                    "generalAggregate": {
                      "options": [
                        "100000",
                        "200000",
                        "300000",
                        "500000",
                        "600000",
                        "1000000",
                        "2000000",
                        "4000000"
                      ],
                      "default": "2000000"
                    },
                    "productsAggregate": {
                      "options": [
                        "100000",
                        "200000",
                        "300000",
                        "500000",
                        "600000",
                        "1000000",
                        "2000000",
                        "4000000",
                        "Excluded"
                      ],
                      "default": "1000000"
                    },
                    "medicalExpense": {
                      "options": [
                        "0",
                        "5000",
                        "10000",
                        "15000"
                      ],
                      "default": "5000"
                    },
                    "damageToPremisesRentedToYou": {
                      "optionsUnderNYAndNJ": {
                        "options": [
                          "100000",
                          "300000",
                          "500000",
                          "1000000"
                        ],
                        "default": "100000"
                      },
                      "optionsUnderAllOtherStates": {
                        "options": [
                          "100000"
                        ],
                        "default": "100000"
                      }
                    }
                  },
                  "responseId": "6026e3ed7a77",
                  "timeStamp": "2023-08-25T01:04:41.8474708+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccountInformation": {
        "type": "object",
        "properties": {
          "quoteId": {
            "type": "integer",
            "format": "int32"
          },
          "masterAccountId": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "AddressDto": {
        "required": [
          "city",
          "line1",
          "postalCode",
          "territory"
        ],
        "type": "object",
        "properties": {
          "line1": {
            "minLength": 1,
            "type": "string"
          },
          "line2": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "minLength": 1,
            "type": "string"
          },
          "territory": {
            "minLength": 1,
            "type": "string"
          },
          "postalCode": {
            "minLength": 1,
            "pattern": "^\\d{5}(-\\d{4})?$",
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "AgentContactDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AgentContactDtoIEnumerableIApiResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentContactDto"
            },
            "nullable": true
          },
          "id": {
            "type": "string",
            "nullable": true
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "correlationID": {
            "type": "string",
            "nullable": true
          },
          "httpStatus": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiMessage"
            },
            "nullable": true
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiMessage"
            },
            "nullable": true
          },
          "paging": {
            "$ref": "#/components/schemas/ApiPaging"
          },
          "maxMsgIndex": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "maxErrIndex": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "isOk": {
            "type": "boolean"
          },
          "apiResponseVersion": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "ApiMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "httpStatus": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "messageCode": {
            "type": "string",
            "nullable": true
          },
          "messageType": {
            "$ref": "#/components/schemas/ApiMessageType"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "internal": {
            "type": "string",
            "nullable": true
          },
          "reference": {
            "type": "string",
            "nullable": true
          },
          "exception": {
            "$ref": "#/components/schemas/LogException"
          },
          "isOk": {
            "type": "boolean"
          },
          "needsSanitization": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "ApiMessageType": {
        "enum": [
          "0 = Info",
          "1 = Error"
        ],
        "type": "integer",
        "format": "int32"
      },
      "ApiPageRequest": {
        "type": "object",
        "properties": {
          "skip": {
            "type": "integer",
            "format": "int32"
          },
          "take": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ApiPageResponse": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "nullable": true
          },
          "previous": {
            "type": "string",
            "nullable": true
          },
          "current": {
            "type": "string",
            "nullable": true
          },
          "next": {
            "type": "string",
            "nullable": true
          },
          "last": {
            "type": "string",
            "nullable": true
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "count": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
[...]
