{
  "openapi": "3.0.1",
  "info": {
    "title": "Digital E&S API",
    "description": "Digital E&S API allows users to create and edit Excess and Surplus (E&S) quotes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://gateway.amtrustgroup.com/digital-es"
    },
    {
      "url": "https://prod-apim-gw.amtrustservices.com/digital-es"
    }
  ],
  "paths": {
    "/api/v1/agent-contacts": {
      "get": {
        "tags": [
          "Agent Contacts"
        ],
        "summary": "Retrieve all agent contacts",
        "description": "Returns all agent contact IDs, names, and emails linked to the agency authenticated",
        "operationId": "get-api-v1-agent-contacts",
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "abf7b1f84ab4",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "3fa374ce063f",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentContactDtoIEnumerableIApiResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": 1,
                      "name": "George Washington",
                      "email": "gwashington@uspresident.gov"
                    },
                    {
                      "id": 2,
                      "name": "John Adams",
                      "email": "jadams@uspresident.gov"
                    },
                    {
                      "id": 1,
                      "name": "Thomas Jefferson",
                      "email": "tjefferson@uspresident.gov"
                    }
                  ],
                  "responseId": "7092a31f115e",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/locations": {
      "post": {
        "tags": [
          "Location"
        ],
        "summary": "Add location",
        "description": "Adds a location and optional class codes to the quote specified <br>\r\n                            Only one location per POST call is accepted, but multiple class codes can be sent in a single call, under a single location",
        "operationId": "post-api-v1-quotes-quoteid-locations",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/LocationDto"
              },
              "example": {
                "classCodes": [
                  {
                    "classCode": 15061,
                    "exposure": 75000
                  },
                  {
                    "classCode": 43840,
                    "exposure": 75000
                  },
                  {
                    "classCode": 44311,
                    "exposure": 10000
                  }
                ],
                "locationScheduleOnFile": false,
                "line1": "800 Superior Ave",
                "line2": "Suite A",
                "city": "Cleveland",
                "territory": "OH",
                "postalCode": "44114"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationDto"
              },
              "example": {
                "classCodes": [
                  {
                    "classCode": 15061,
                    "exposure": 75000
                  },
                  {
                    "classCode": 43840,
                    "exposure": 75000
                  },
                  {
                    "classCode": 44311,
                    "exposure": 10000
                  }
                ],
                "locationScheduleOnFile": false,
                "line1": "800 Superior Ave",
                "line2": "Suite A",
                "city": "Cleveland",
                "territory": "OH",
                "postalCode": "44114"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationDto"
              },
              "example": {
                "classCodes": [
                  {
                    "classCode": 15061,
                    "exposure": 75000
                  },
                  {
                    "classCode": 43840,
                    "exposure": 75000
                  },
                  {
                    "classCode": 44311,
                    "exposure": 10000
                  }
                ],
                "locationScheduleOnFile": false,
                "line1": "800 Superior Ave",
                "line2": "Suite A",
                "city": "Cleveland",
                "territory": "OH",
                "postalCode": "44114"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LocationDto"
              },
              "example": {
                "classCodes": [
                  {
                    "classCode": 15061,
                    "exposure": 75000
                  },
                  {
                    "classCode": 43840,
                    "exposure": 75000
                  },
                  {
                    "classCode": 44311,
                    "exposure": 10000
                  }
                ],
                "locationScheduleOnFile": false,
                "line1": "800 Superior Ave",
                "line2": "Suite A",
                "city": "Cleveland",
                "territory": "OH",
                "postalCode": "44114"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "1a8c5bd4142b",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "3a89b7496dda",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationGetResponseIApiResponse"
                },
                "example": {
                  "data": {
                    "id": 0,
                    "line1": "800 Superior Ave",
                    "line2": "Suite A",
                    "city": "Cleveland",
                    "territory": "OH",
                    "postalCode": "44114",
                    "classCodes": [
                      {
                        "classCode": 15061,
                        "exposure": 75000
                      },
                      {
                        "classCode": 43840,
                        "exposure": 75000
                      },
                      {
                        "classCode": 44311,
                        "exposure": 10000
                      }
                    ],
                    "hail": null,
                    "wildfire": null,
                    "locationScheduleOnFile": false
                  },
                  "responseId": "c61df093157e",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 201,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "830d33d3c084",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Retrieve locations",
        "description": "Returns all currently saved locations on the quote passed, along with any class codes saved to that location",
        "operationId": "get-api-v1-quotes-quoteid-locations",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "fea14b3b8457",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "1466f3c612ec",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationGetResponseIEnumerableIApiResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": 0,
                      "line1": "800 Superior Ave",
                      "line2": "Suite A",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114",
                      "classCodes": [
                        {
                          "classCode": 15061,
                          "exposure": 75000
                        },
                        {
                          "classCode": 43840,
                          "exposure": 75000
                        },
                        {
                          "classCode": 44311,
                          "exposure": 10000
                        }
                      ],
                      "hail": null,
                      "wildfire": null,
                      "locationScheduleOnFile": false
                    }
                  ],
                  "responseId": "11c7be2ef360",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/locations/{locationId}/class-codes": {
      "post": {
        "tags": [
          "Location"
        ],
        "summary": "Save class code to location",
        "description": "Saves class code(s) to specific Location ID passed, under specified quote",
        "operationId": "post-api-v1-quotes-quoteid-locations-locationid-class-codes",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ClassCodeDto"
                }
              },
              "example": [
                {
                  "classCode": 15061,
                  "exposure": 7500
                },
                {
                  "classCode": 43840,
                  "exposure": 7500
                },
                {
                  "classCode": 44311,
                  "exposure": 10000
                }
              ]
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ClassCodeDto"
                }
              },
              "example": [
                {
                  "classCode": 15061,
                  "exposure": 7500
                },
                {
                  "classCode": 43840,
                  "exposure": 7500
                },
                {
                  "classCode": 44311,
                  "exposure": 10000
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ClassCodeDto"
                }
              },
              "example": [
                {
                  "classCode": 15061,
                  "exposure": 7500
                },
                {
                  "classCode": 43840,
                  "exposure": 7500
                },
                {
                  "classCode": 44311,
                  "exposure": 10000
                }
              ]
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ClassCodeDto"
                }
              },
              "example": [
                {
                  "classCode": 15061,
                  "exposure": 7500
                },
                {
                  "classCode": 43840,
                  "exposure": 7500
                },
                {
                  "classCode": 44311,
                  "exposure": 10000
                }
              ]
            }
          }
        },
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "eb3bb02fed50",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "a41567899616",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassCodeResponseDtoIEnumerableIApiResponse"
                },
                "example": {
                  "data": [
                    {
                      "classCode": 15061,
                      "exposure": 7500
                    },
                    {
                      "classCode": 43840,
                      "exposure": 7500
                    },
                    {
                      "classCode": 15061,
                      "exposure": 7500
                    }
                  ],
                  "responseId": "de61b0b9a5e1",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 201,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "732c9e1208a7",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}/locations/{locationId}": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Retrieve location",
        "description": "Returns specific location information tied to ID passed",
        "operationId": "get-api-v1-quotes-quoteid-locations-locationid",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "29e689f91cf9",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "e5ee3da8258e",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationGetResponseIApiResponse"
                },
                "example": {
                  "data": {
                    "id": 0,
                    "line1": "800 Superior Ave",
                    "line2": "Suite A",
                    "city": "Cleveland",
                    "territory": "OH",
                    "postalCode": "44114",
                    "classCodes": [
                      {
                        "classCode": 15061,
                        "exposure": 75000
                      },
                      {
                        "classCode": 43840,
                        "exposure": 75000
                      },
                      {
                        "classCode": 44311,
                        "exposure": 10000
                      }
                    ],
                    "hail": null,
                    "wildfire": null,
                    "locationScheduleOnFile": false
                  },
                  "responseId": "a88cf4ae1860",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 201,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "337a0f0edd2b",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Location"
        ],
        "summary": "Update location",
        "description": "Updates specific location information",
        "operationId": "patch-api-v1-quotes-quoteid-locations-locationid",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatchDocument"
              },
              "example": [
                {
                  "value": "800 Superior Ave",
                  "path": "/line1",
                  "op": "replace"
                },
                {
                  "value": "Suit A",
                  "path": "/line2",
                  "op": "replace"
                },
                {
                  "value": "Suit A",
                  "path": "/territory",
                  "op": "replace"
                }
              ]
            }
          }
        },
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "f24fa9ec308d",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "d328e64fa09f",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationGetResponseIApiResponse"
                },
                "example": {
                  "data": {
                    "id": 0,
                    "line1": "800 Superior Ave",
                    "line2": "Suite A",
                    "city": "Cleveland",
                    "territory": "OH",
                    "postalCode": "44114",
                    "classCodes": [
                      {
                        "classCode": 15061,
                        "exposure": 75000
                      },
                      {
                        "classCode": 43840,
                        "exposure": 75000
                      },
                      {
                        "classCode": 44311,
                        "exposure": 10000
                      }
                    ],
                    "hail": null,
                    "wildfire": null,
                    "locationScheduleOnFile": false
                  },
                  "responseId": "b61ac8618124",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 201,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "79eeda9d2dc3",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "79921b15092f",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Location"
        ],
        "summary": "Remove existing location ",
        "description": "This endpoint will allow user to remove a location from the quote. <br>\r\n              Removing the location will also remove all class codes linked to that location <br>\r\n            **Please note:** The first location cannot be removed. The PATCH endpoint can be used to edit the first location information",
        "operationId": "delete-api-v1-quotes-quoteid-locations-locationid",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "82492343d32f",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "566663841e66",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "e732e08508dd",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "4fa9804f5875",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isOk": {
                      "type": "boolean"
                    },
                    "httpStatusCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "responseId": {
                      "type": "string"
                    },
                    "timeStamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "httpStatusCode": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "messageCode": {
                            "type": "string"
                          },
                          "isOk": {
                            "type": "boolean"
                          },
                          "detail": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "maxMessageIndex": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "_v": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "isOk": true,
                  "httpStatusCode": 200,
                  "responseId": "bf30862e05fe",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "SUCCESS",
                      "isOk": true,
                      "detail": "Location ID <id> has been successfully removed from the quote"
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes": {
      "post": {
        "tags": [
          "Quotes"
        ],
        "summary": "Create quote",
        "description": "This endpoint takes in basic insured information (addresses, name, contact, effective date, business information), along with facility code and deductible selection.",
        "operationId": "post-api-v1-quotes",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PostQuoteDto"
              },
              "example": {
                "primaryInsured": "Name",
                "dbaName": null,
                "primaryAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "mailingAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "effectiveDate": "2026-07-17",
                "agentContactId": 1234,
                "facilityCodes": [
                  "SB - Machine Shops Program"
                ],
                "deductible": 500,
                "digitalClientWorkflow": null
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostQuoteDto"
              },
              "example": {
                "primaryInsured": "Name",
                "dbaName": null,
                "primaryAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "mailingAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "effectiveDate": "2026-07-17",
                "agentContactId": 1234,
                "facilityCodes": [
                  "SB - Machine Shops Program"
                ],
                "deductible": 500,
                "digitalClientWorkflow": null
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PostQuoteDto"
              },
              "example": {
                "primaryInsured": "Name",
                "dbaName": null,
                "primaryAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "mailingAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "effectiveDate": "2026-07-17",
                "agentContactId": 1234,
                "facilityCodes": [
                  "SB - Machine Shops Program"
                ],
                "deductible": 500,
                "digitalClientWorkflow": null
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PostQuoteDto"
              },
              "example": {
                "primaryInsured": "Name",
                "dbaName": null,
                "primaryAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "mailingAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "effectiveDate": "2026-07-17",
                "agentContactId": 1234,
                "facilityCodes": [
                  "SB - Machine Shops Program"
                ],
                "deductible": 500,
                "digitalClientWorkflow": null
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "c06d100f9c8e",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "a01cd3cb4259",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostQuoteResponseDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "quoteId": 1234567,
                    "primaryInsured": "Name",
                    "primaryAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suite A",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "mailingAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suite A",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "effectiveDate": "2026-07-17",
                    "expirationDate": "2028-07-17",
                    "agentContactName": "Daniel Angelo",
                    "facilityCodes": [
                      "SB - Machine Shops Program"
                    ],
                    "deductible": 500,
                    "locations": [
                      {
                        "id": 1,
                        "line1": "800 Superior Ave",
                        "line2": "Suite A",
                        "city": "Cleveland",
                        "territory": "OH",
                        "postalCode": "44114",
                        "classCodes": [],
                        "hail": null,
                        "wildfire": null,
                        "locationScheduleOnFile": false
                      }
                    ],
                    "masterAccountId": 24786342,
                    "dbaName": "DbaName",
                    "digitalClientWorkflow": null
                  },
                  "responseId": "217a0ba18332",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 201,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "c9039734d1b9",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{quoteId}": {
      "get": {
        "tags": [
          "Quotes"
        ],
        "summary": "Retrieve quote information",
        "description": "This endpoint returns all currently saved quote information",
        "operationId": "get-api-v1-quotes-quoteid",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "0a87ad1f9e80",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "135cddc48c07",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuoteResponseDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "quoteId": 1234567,
                    "primaryInsured": "Name",
                    "primaryAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suite A",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "mailingAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suite A",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "effectiveDate": "2026-07-17",
                    "expirationDate": "2028-07-17",
                    "agentContactName": "Daniel Angelo",
                    "facilityCodes": [
                      "SB - Machine Shops Program"
                    ],
                    "deductible": 500,
                    "locations": [
                      {
                        "commercialProperty": {
                          "packageModification": "Not Applicable",
                          "cpDeductible": "$500",
                          "windHailDeductible": "AOP",
                          "protectionClass": "1X-5X",
                          "buildings": [
                            {
                              "id": 645093,
                              "classCode": "7074",
                              "description": "Candy store",
                              "construction": 1,
                              "totalSquareFootage": 2,
                              "yearBuilt": 2018,
                              "numberOfStories": 2,
                              "coinsurance": "90",
                              "sprinkleredBuilding": "Yes",
                              "causeOfLoss": "Special (Excluding Theft)",
                              "ratingPlan": "Specific",
                              "specificGroupLossCostBuilding": 0.25,
                              "specificGroupLossCostContents": 0.25,
                              "coveragesContainer": {
                                "building": {
                                  "buildingType": "Building",
                                  "limit": 10000,
                                  "causeOfLoss": "Special (Excluding Theft)",
                                  "coinsurance": "90",
                                  "buildingValuation": "ActualCashValue"
                                },
                                "contents": {
                                  "personalProperty": {
                                    "limit": 10000,
                                    "coinsurance": "90",
                                    "causeOfLoss": "Special (Including Theft)"
                                  },
                                  "personalPropertyOfOthers": {
                                    "alarmConnection": "CentralStationWithKeys",
                                    "alarmProtection": "Low",
                                    "personalPropertyValuation": "ReplacementExcludingStock",
                                    "limit": 10000,
                                    "coinsurance": "90",
                                    "causeOfLoss": "Special (Including Theft)"
                                  }
                                },
                                "businessIncomeWithExtraExpense": {
                                  "coverageBasis": "MaximumPeriodOfIndemnity",
                                  "limit": 10000,
                                  "monthlyLimitation": "NotApplicable",
                                  "typeOfRisk": "MercantileAndNonManufacturing",
                                  "causeOfLoss": "Special (Including Theft)",
                                  "coinsurance": null
                                }
                              }
                            }
                          ]
                        },
                        "id": 1,
                        "line1": "800 Superior Ave",
                        "line2": "Suite A",
                        "city": "Cleveland",
                        "territory": "OH",
                        "postalCode": "44114",
                        "classCodes": [],
                        "hail": {
                          "riskScore": "1"
                        },
                        "wildfire": {
                          "distanceToHighRisk": "797",
                          "distanceToHighRiskInMiles": "0.15",
                          "riskLevel": "2",
                          "riskScore": "60"
                        },
                        "locationScheduleOnFile": false
                      }
                    ],
                    "masterAccountId": 24786342,
                    "dbaName": "DbaName",
                    "priceComponents": {
                      "glPremium": 0,
                      "propertyPremium": 0,
                      "netPremium": 1000.5,
                      "fees": 10.5,
                      "commissionRate": 0
                    },
                    "limits": {
                      "liabilityOccurrence": 1000000,
                      "generalAggregate": 2000000,
                      "medicalExpenses": 5000,
                      "personalAndAdvInjury": 1000000,
                      "productsAggregate": 2000000,
                      "damagesToRentalPremises": 100000
                    },
                    "digitalClientWorkflow": null,
                    "quoteStatus": null
                  },
                  "responseId": "6ff44aa5a7f4",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorIApiResponse"
                },
                "example": {
                  "responseId": "b2fa9c7c9739",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 404,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 404,
                      "messageCode": "ERR-ItemNotFound",
                      "title": "Item was not found",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Quotes"
        ],
        "summary": "Update Quote Information",
        "description": "This endpoint updates information on an existing quote. <br><br>Please Note: The entire existing quote body must be included, and any desired additional/updated information should be added/changed within the body. If information is omitted, it will be deleted.",
        "operationId": "put-api-v1-quotes-quoteid",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/FullQuoteRateDtoV2"
              },
              "example": {
                "locations": [
                  {
                    "commercialProperty": {
                      "cpDeductible": "$500",
                      "windHailDeductible": "AOP",
                      "protectionClass": "1Y - 5Y",
                      "buildings": [
                        {
                          "id": 0,
                          "classCodeID": 128,
                          "description": "Candy store",
                          "construction": 1,
                          "totalSquareFootage": 2,
                          "yearBuilt": 2018,
                          "yearRoofUpdated": null,
                          "yearElectricalUpdated": null,
                          "yearPlumbingUpdated": null,
                          "yearHeatingUpdated": null,
                          "numberOfStories": 2,
                          "coinsurance": "90",
                          "sprinkleredBuilding": "Yes",
                          "causeOfLoss": "Special (Including Theft)",
                          "clayConcreteExteriorWalls": null,
                          "groupIIConstruction": null,
                          "coveragesContainer": {
                            "building": {
                              "buildingType": "Building",
                              "limit": 10000,
                              "coinsurance": "90",
                              "buildingValuation": "ActualCashValue"
                            },
                            "contents": {
                              "personalProperty": {
                                "limit": 10000,
                                "coinsurance": "90"
                              },
                              "personalPropertyOfOthers": {
                                "alarmConnection": "CentralStationWithKeys",
                                "personalPropertyValuation": "ReplacementExcludingStock",
                                "watchman": "SignalToCentralStation",
                                "limit": 10000,
                                "coinsurance": "90"
                              }
                            },
                            "businessIncomeWithExtraExpense": {
                              "coverageBasis": "MaximumPeriodOfIndemnity",
                              "limit": 10000,
                              "monthlyLimitation": "NotApplicable",
                              "typeOfRisk": "MercantileAndNonManufacturing",
                              "coinsurance": "80"
                            }
                          }
                        }
                      ]
                    },
                    "classCodes": [
                      {
                        "classCode": 15061,
                        "exposure": 75000
                      },
                      {
                        "classCode": 43840,
                        "exposure": 75000
                      },
                      {
                        "classCode": 44311,
                        "exposure": 10000
                      }
                    ],
                    "locationScheduleOnFile": false,
                    "line1": "800 Superior Ave",
                    "line2": "Suite A",
                    "city": "Cleveland",
                    "territory": "OH",
                    "postalCode": "44114"
                  }
                ],
                "liabilityLimits": {
                  "liabilityOccurence": null,
                  "liabilityOccurrence": "25,000",
                  "personalAndAdvInjury": "0 (Excluded)",
                  "generalAggregate": "50,000",
                  "productsAggregate": "0 (Excluded)",
                  "medicalExpenses": "0 (Excluded)",
                  "damagesToRentalPremises": "0 (Excluded)"
                },
                "primaryInsured": "Name",
                "dbaName": "Test dba",
                "primaryAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "mailingAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "effectiveDate": "2026-07-17",
                "agentContactId": 1234,
                "facilityCodes": [
                  "SB - Machine Shops Program"
                ],
                "deductible": 500,
                "digitalClientWorkflow": null
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FullQuoteRateDtoV2"
              },
              "example": {
                "locations": [
                  {
                    "commercialProperty": {
                      "cpDeductible": "$500",
                      "windHailDeductible": "AOP",
                      "protectionClass": "1Y - 5Y",
                      "buildings": [
                        {
                          "id": 0,
                          "classCodeID": 128,
                          "description": "Candy store",
                          "construction": 1,
                          "totalSquareFootage": 2,
                          "yearBuilt": 2018,
                          "yearRoofUpdated": null,
                          "yearElectricalUpdated": null,
                          "yearPlumbingUpdated": null,
                          "yearHeatingUpdated": null,
                          "numberOfStories": 2,
                          "coinsurance": "90",
                          "sprinkleredBuilding": "Yes",
                          "causeOfLoss": "Special (Including Theft)",
                          "clayConcreteExteriorWalls": null,
                          "groupIIConstruction": null,
                          "coveragesContainer": {
                            "building": {
                              "buildingType": "Building",
                              "limit": 10000,
                              "coinsurance": "90",
                              "buildingValuation": "ActualCashValue"
                            },
                            "contents": {
                              "personalProperty": {
                                "limit": 10000,
                                "coinsurance": "90"
                              },
                              "personalPropertyOfOthers": {
                                "alarmConnection": "CentralStationWithKeys",
                                "personalPropertyValuation": "ReplacementExcludingStock",
                                "watchman": "SignalToCentralStation",
                                "limit": 10000,
                                "coinsurance": "90"
                              }
                            },
                            "businessIncomeWithExtraExpense": {
                              "coverageBasis": "MaximumPeriodOfIndemnity",
                              "limit": 10000,
                              "monthlyLimitation": "NotApplicable",
                              "typeOfRisk": "MercantileAndNonManufacturing",
                              "coinsurance": "80"
                            }
                          }
                        }
                      ]
                    },
                    "classCodes": [
                      {
                        "classCode": 15061,
                        "exposure": 75000
                      },
                      {
                        "classCode": 43840,
                        "exposure": 75000
                      },
                      {
                        "classCode": 44311,
                        "exposure": 10000
                      }
                    ],
                    "locationScheduleOnFile": false,
                    "line1": "800 Superior Ave",
                    "line2": "Suite A",
                    "city": "Cleveland",
                    "territory": "OH",
                    "postalCode": "44114"
                  }
                ],
                "liabilityLimits": {
                  "liabilityOccurence": null,
                  "liabilityOccurrence": "25,000",
                  "personalAndAdvInjury": "0 (Excluded)",
                  "generalAggregate": "50,000",
                  "productsAggregate": "0 (Excluded)",
                  "medicalExpenses": "0 (Excluded)",
                  "damagesToRentalPremises": "0 (Excluded)"
                },
                "primaryInsured": "Name",
                "dbaName": "Test dba",
                "primaryAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "mailingAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "effectiveDate": "2026-07-17",
                "agentContactId": 1234,
                "facilityCodes": [
                  "SB - Machine Shops Program"
                ],
                "deductible": 500,
                "digitalClientWorkflow": null
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FullQuoteRateDtoV2"
              },
              "example": {
                "locations": [
                  {
                    "commercialProperty": {
                      "cpDeductible": "$500",
                      "windHailDeductible": "AOP",
                      "protectionClass": "1Y - 5Y",
                      "buildings": [
                        {
                          "id": 0,
                          "classCodeID": 128,
                          "description": "Candy store",
                          "construction": 1,
                          "totalSquareFootage": 2,
                          "yearBuilt": 2018,
                          "yearRoofUpdated": null,
                          "yearElectricalUpdated": null,
                          "yearPlumbingUpdated": null,
                          "yearHeatingUpdated": null,
                          "numberOfStories": 2,
                          "coinsurance": "90",
                          "sprinkleredBuilding": "Yes",
                          "causeOfLoss": "Special (Including Theft)",
                          "clayConcreteExteriorWalls": null,
                          "groupIIConstruction": null,
                          "coveragesContainer": {
                            "building": {
                              "buildingType": "Building",
                              "limit": 10000,
                              "coinsurance": "90",
                              "buildingValuation": "ActualCashValue"
                            },
                            "contents": {
                              "personalProperty": {
                                "limit": 10000,
                                "coinsurance": "90"
                              },
                              "personalPropertyOfOthers": {
                                "alarmConnection": "CentralStationWithKeys",
                                "personalPropertyValuation": "ReplacementExcludingStock",
                                "watchman": "SignalToCentralStation",
                                "limit": 10000,
                                "coinsurance": "90"
                              }
                            },
                            "businessIncomeWithExtraExpense": {
                              "coverageBasis": "MaximumPeriodOfIndemnity",
                              "limit": 10000,
                              "monthlyLimitation": "NotApplicable",
                              "typeOfRisk": "MercantileAndNonManufacturing",
                              "coinsurance": "80"
                            }
                          }
                        }
                      ]
                    },
                    "classCodes": [
                      {
                        "classCode": 15061,
                        "exposure": 75000
                      },
                      {
                        "classCode": 43840,
                        "exposure": 75000
                      },
                      {
                        "classCode": 44311,
                        "exposure": 10000
                      }
                    ],
                    "locationScheduleOnFile": false,
                    "line1": "800 Superior Ave",
                    "line2": "Suite A",
                    "city": "Cleveland",
                    "territory": "OH",
                    "postalCode": "44114"
                  }
                ],
                "liabilityLimits": {
                  "liabilityOccurence": null,
                  "liabilityOccurrence": "25,000",
                  "personalAndAdvInjury": "0 (Excluded)",
                  "generalAggregate": "50,000",
                  "productsAggregate": "0 (Excluded)",
                  "medicalExpenses": "0 (Excluded)",
                  "damagesToRentalPremises": "0 (Excluded)"
                },
                "primaryInsured": "Name",
                "dbaName": "Test dba",
                "primaryAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "mailingAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "effectiveDate": "2026-07-17",
                "agentContactId": 1234,
                "facilityCodes": [
                  "SB - Machine Shops Program"
                ],
                "deductible": 500,
                "digitalClientWorkflow": null
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FullQuoteRateDtoV2"
              },
              "example": {
                "locations": [
                  {
                    "commercialProperty": {
                      "cpDeductible": "$500",
                      "windHailDeductible": "AOP",
                      "protectionClass": "1Y - 5Y",
                      "buildings": [
                        {
                          "id": 0,
                          "classCodeID": 128,
                          "description": "Candy store",
                          "construction": 1,
                          "totalSquareFootage": 2,
                          "yearBuilt": 2018,
                          "yearRoofUpdated": null,
                          "yearElectricalUpdated": null,
                          "yearPlumbingUpdated": null,
                          "yearHeatingUpdated": null,
                          "numberOfStories": 2,
                          "coinsurance": "90",
                          "sprinkleredBuilding": "Yes",
                          "causeOfLoss": "Special (Including Theft)",
                          "clayConcreteExteriorWalls": null,
                          "groupIIConstruction": null,
                          "coveragesContainer": {
                            "building": {
                              "buildingType": "Building",
                              "limit": 10000,
                              "coinsurance": "90",
                              "buildingValuation": "ActualCashValue"
                            },
                            "contents": {
                              "personalProperty": {
                                "limit": 10000,
                                "coinsurance": "90"
                              },
                              "personalPropertyOfOthers": {
                                "alarmConnection": "CentralStationWithKeys",
                                "personalPropertyValuation": "ReplacementExcludingStock",
                                "watchman": "SignalToCentralStation",
                                "limit": 10000,
                                "coinsurance": "90"
                              }
                            },
                            "businessIncomeWithExtraExpense": {
                              "coverageBasis": "MaximumPeriodOfIndemnity",
                              "limit": 10000,
                              "monthlyLimitation": "NotApplicable",
                              "typeOfRisk": "MercantileAndNonManufacturing",
                              "coinsurance": "80"
                            }
                          }
                        }
                      ]
                    },
                    "classCodes": [
                      {
                        "classCode": 15061,
                        "exposure": 75000
                      },
                      {
                        "classCode": 43840,
                        "exposure": 75000
                      },
                      {
                        "classCode": 44311,
                        "exposure": 10000
                      }
                    ],
                    "locationScheduleOnFile": false,
                    "line1": "800 Superior Ave",
                    "line2": "Suite A",
                    "city": "Cleveland",
                    "territory": "OH",
                    "postalCode": "44114"
                  }
                ],
                "liabilityLimits": {
                  "liabilityOccurence": null,
                  "liabilityOccurrence": "25,000",
                  "personalAndAdvInjury": "0 (Excluded)",
                  "generalAggregate": "50,000",
                  "productsAggregate": "0 (Excluded)",
                  "medicalExpenses": "0 (Excluded)",
                  "damagesToRentalPremises": "0 (Excluded)"
                },
                "primaryInsured": "Name",
                "dbaName": "Test dba",
                "primaryAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "mailingAddress": {
                  "line1": "800 Superior Ave",
                  "line2": "Suite A",
                  "city": "Cleveland",
                  "territory": "OH",
                  "postalCode": "44114"
                },
                "effectiveDate": "2026-07-17",
                "agentContactId": 1234,
                "facilityCodes": [
                  "SB - Machine Shops Program"
                ],
                "deductible": 500,
                "digitalClientWorkflow": null
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "b25b49af2659",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "cad5bb7c9b7a",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 403,
                      "messageCode": "ERR-FORBIDDEN",
                      "title": "The token provided does not have permissions for the requested action",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuoteResponseDtoIApiResponse"
                },
                "example": {
                  "data": {
                    "quoteId": 1234567,
                    "primaryInsured": "Name",
                    "primaryAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suite A",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "mailingAddress": {
                      "line1": "800 Superior Ave",
                      "line2": "Suite A",
                      "city": "Cleveland",
                      "territory": "OH",
                      "postalCode": "44114"
                    },
                    "effectiveDate": "2026-07-17",
                    "expirationDate": "2028-07-17",
                    "agentContactName": "Daniel Angelo",
                    "facilityCodes": [
                      "SB - Machine Shops Program"
                    ],
                    "deductible": 500,
                    "locations": [
                      {
                        "commercialProperty": {
                          "packageModification": "Not Applicable",
                          "cpDeductible": "$500",
                          "windHailDeductible": "AOP",
                          "protectionClass": "1X-5X",
                          "buildings": [
                            {
                              "id": 645093,
                              "classCode": "7074",
                              "description": "Candy store",
                              "construction": 1,
                              "totalSquareFootage": 2,
                              "yearBuilt": 2018,
                              "numberOfStories": 2,
                              "coinsurance": "90",
                              "sprinkleredBuilding": "Yes",
                              "causeOfLoss": "Special (Excluding Theft)",
                              "ratingPlan": "Specific",
                              "specificGroupLossCostBuilding": 0.25,
                              "specificGroupLossCostContents": 0.25,
                              "coveragesContainer": {
                                "building": {
                                  "buildingType": "Building",
                                  "limit": 10000,
                                  "causeOfLoss": "Special (Excluding Theft)",
                                  "coinsurance": "90",
                                  "buildingValuation": "ActualCashValue"
                                },
                                "contents": {
                                  "personalProperty": {
                                    "limit": 10000,
                                    "coinsurance": "90",
                                    "causeOfLoss": "Special (Including Theft)"
                                  },
                                  "personalPropertyOfOthers": {
                                    "alarmConnection": "CentralStationWithKeys",
                                    "alarmProtection": "Low",
                                    "personalPropertyValuation": "ReplacementExcludingStock",
                                    "limit": 10000,
                                    "coinsurance": "90",
                                    "causeOfLoss": "Special (Including Theft)"
                                  }
                                },
                                "businessIncomeWithExtraExpense": {
                                  "coverageBasis": "MaximumPeriodOfIndemnity",
                                  "limit": 10000,
                                  "monthlyLimitation": "NotApplicable",
                                  "typeOfRisk": "MercantileAndNonManufacturing",
                                  "causeOfLoss": "Special (Including Theft)",
                                  "coinsurance": null
                                }
                              }
                            }
                          ]
                        },
                        "id": 1,
                        "line1": "800 Superior Ave",
                        "line2": "Suite A",
                        "city": "Cleveland",
                        "territory": "OH",
                        "postalCode": "44114",
                        "classCodes": [],
                        "hail": {
                          "riskScore": "1"
                        },
                        "wildfire": {
                          "distanceToHighRisk": "797",
                          "distanceToHighRiskInMiles": "0.15",
                          "riskLevel": "2",
                          "riskScore": "60"
                        },
                        "locationScheduleOnFile": false
                      }
                    ],
                    "masterAccountId": 24786342,
                    "dbaName": "DbaName",
                    "priceComponents": {
                      "glPremium": 0,
                      "propertyPremium": 0,
                      "netPremium": 1000.5,
                      "fees": 10.5,
                      "commissionRate": 0
                    },
                    "limits": {
                      "liabilityOccurrence": 1000000,
                      "generalAggregate": 2000000,
                      "medicalExpenses": 5000,
                      "personalAndAdvInjury": 1000000,
                      "productsAggregate": 2000000,
                      "damagesToRentalPremises": 100000
                    },
                    "digitalClientWorkflow": null,
                    "quoteStatus": null
                  },
                  "responseId": "3ea5bd96015d",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 200,
                  "isOk": true,
                  "messages": [
                    {
                      "httpStatusCode": 200,
                      "messageCode": "Deeplink",
                      "title": "https://devk8s.amtrustgroup.com/usertest/webapp-nexus/AccountManagement/24786342",
                      "isOk": true
                    }
                  ],
                  "maxMessageIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorIApiResponse"
                },
                "example": {
                  "responseId": "b0fe828107ca",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 400,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 400,
                      "messageCode": "ERR-ValidationErr",
                      "title": "Validation Error",
                      "detail": "Validation detail message",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Quotes"
        ],
        "summary": "Update Base-Level Quote Information",
        "description": "This endpoint updates basic insured level information on quote. <br><br>A quote is no longer editable if it meets one of the following criteria <br>__•__ In a Declined status <br>__•__ Underwriter has approved <br>__•__ Is bound <br>__•__ Effective Date is greater than 120 days from the current date and not bound <br>",
        "operationId": "patch-api-v1-quotes-quoteid",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatchDocument"
              },
              "example": [
                {
                  "value": "2026-07-17T11:55:58.0000000+00:00",
                  "path": "/effectiveDate",
                  "op": "replace"
                },
                {
                  "value": "500",
                  "path": "/deductible",
                  "op": "replace"
                },
                {
                  "value": "Name",
                  "path": "/primaryInsured",
                  "op": "replace"
                },
                {
                  "value": "DbaName",
                  "path": "/dbaname",
                  "op": "replace"
                },
                {
                  "value": 1234,
                  "path": "/agentContactId",
                  "op": "replace"
                },
                {
                  "value": [
                    "SB - Machine Shops Program"
                  ],
                  "path": "/facilityCodes",
                  "op": "replace"
                },
                {
                  "value": "800 Superior Ave",
                  "path": "/mailingAddress/line1",
                  "op": "replace"
                },
                {
                  "value": "Suite A",
                  "path": "/mailingAddress/line2",
                  "op": "replace"
                },
                {
                  "value": "Cleveland",
                  "path": "/mailingAddress/city",
                  "op": "replace"
                },
                {
                  "value": "OH",
                  "path": "/mailingAddress/territory",
                  "op": "replace"
                },
                {
                  "value": 44114,
                  "path": "/mailingAddress/postalCode",
                  "op": "replace"
                }
              ]
            }
          }
        },
        "responses": {
          "401": {
            "description": "Bad or expired token. To resolve this error, generate a new or refreshed token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorIApiResponse"
                },
                "example": {
                  "responseId": "3f575a34aca2",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 401,
                  "isOk": false,
                  "errors": [
                    {
                      "httpStatusCode": 401,
                      "messageCode": "ERR-NOTAUTHORIZED",
                      "title": "Bearer token is not authorized",
                      "isOk": false
                    }
                  ],
                  "maxErrorIndex": 0,
                  "_v": "AD"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or client does not have required permissions to complete this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorIApiResponse"
                },
                "example": {
                  "responseId": "20c89ce0dc7e",
                  "timeStamp": "2026-07-15T11:55:58.0000000+00:00",
                  "httpStatusCode": 403,
                  "isOk": false,
                  "errors": [
                    {
[...]
