{
  "openapi": "3.0.1",
  "info": {
    "title": "Experience Claims Medical Case - Live",
    "description": "Experience Claims Medical Case",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://gateway.amtrustgroup.com/experience-claims-medical-case"
    },
    {
      "url": "https://prod-apim-gw.amtrustservices.com/experience-claims-medical-case"
    }
  ],
  "paths": {
    "/api/v{version}/claims/{claimNumber}": {
      "get": {
        "tags": [
          "Mcm"
        ],
        "summary": "Mcm_GetClaimData",
        "operationId": "Mcm_GetClaimData",
        "parameters": [
          {
            "name": "claimNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/claim-summaries/{claimNumber}": {
      "get": {
        "tags": [
          "Mcm"
        ],
        "summary": "Mcm_GetClaimSummariesData",
        "operationId": "Mcm_GetClaimSummariesData",
        "parameters": [
          {
            "name": "claimNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/claim-notes/{claimNumber}": {
      "get": {
        "tags": [
          "Mcm"
        ],
        "summary": "Mcm_GetClaimNotes",
        "operationId": "Mcm_GetClaimNotes",
        "parameters": [
          {
            "name": "claimNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creationDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "includeArribaNotes",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Mcm"
        ],
        "summary": "Mcm_SaveClaimNotes",
        "operationId": "Mcm_SaveClaimNotes",
        "parameters": [
          {
            "name": "claimNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoteDto"
              },
              "example": {
                "Id": 0,
                "Type": "string",
                "SubType": "string",
                "Subject": "string",
                "Note": "string",
                "ActivityDate": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateNoteDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer",
            "format": "int32"
          },
          "Type": {
            "type": "string"
          },
          "SubType": {
            "type": "string"
          },
          "Subject": {
            "type": "string"
          },
          "Note": {
            "type": "string"
          },
          "ActivityDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "subscriber_id",
        "in": "header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ]
}
