{
  "openapi": "3.0.1",
  "info": {
    "title": "RCEWebAPI - Prod",
    "description": "An API for Reinsurrance Contracts Entry ",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://gateway.amtrustgroup.com/RCEAPI"
    },
    {
      "url": "https://prod-apim-gw.amtrustservices.com/RCEAPI"
    }
  ],
  "paths": {
    "/api/v{version}/SyncLog/SyncLogReport": {
      "get": {
        "tags": [
          "SyncLog"
        ],
        "summary": "SyncLog_SyncLogReport",
        "operationId": "SyncLog_SyncLogReport",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/SyncLog/SLRReportExcel": {
      "get": {
        "tags": [
          "SyncLog"
        ],
        "summary": "SyncLog_SLRReportExcel",
        "operationId": "SyncLog_SLRReportExcel",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Shared/DropDownLists": {
      "get": {
        "tags": [
          "Shared"
        ],
        "summary": "Shared_DropDownLists",
        "operationId": "Shared_DropDownLists",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Shared/GlasLobs": {
      "get": {
        "tags": [
          "Shared"
        ],
        "summary": "Shared_Glaslob",
        "operationId": "Shared_Glaslob",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Shared/ExceptionDropdowns": {
      "get": {
        "tags": [
          "Shared"
        ],
        "summary": "Shared_ExceptionDropdowns",
        "operationId": "Shared_ExceptionDropdowns",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "header",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Shared/ParticipantShortNames": {
      "get": {
        "tags": [
          "Shared"
        ],
        "summary": "Shared_ParticipantShortNames",
        "operationId": "Shared_ParticipantShortNames",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Shared/Users": {
      "get": {
        "tags": [
          "Shared"
        ],
        "summary": "Shared_Users",
        "operationId": "Shared_Users",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Layer/LayerReport": {
      "post": {
        "tags": [
          "Layer"
        ],
        "summary": "Layer_LayerReport",
        "operationId": "Layer_LayerReport",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayerReportDto"
              },
              "example": {
                "uwYear": [
                  "string"
                ],
                "contractName": "string",
                "contractNumber": "string",
                "contractClass": [
                  "string"
                ],
                "broker": "string",
                "reinsurer": "string",
                "specific": [
                  "string"
                ],
                "firm": [
                  "string"
                ],
                "asl": [
                  "string"
                ],
                "businessSegment": "string",
                "effectiveDateFrom": "string",
                "effectiveDateTo": "string",
                "pageNumber": 0,
                "pageSize": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Layer/Specifics": {
      "get": {
        "tags": [
          "Layer"
        ],
        "summary": "Layer_Specifics",
        "operationId": "Layer_Specifics",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Layer/ContractClasses": {
      "get": {
        "tags": [
          "Layer"
        ],
        "summary": "Layer_ContractClasses",
        "operationId": "Layer_ContractClasses",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Layer/ContractBrokers": {
      "get": {
        "tags": [
          "Layer"
        ],
        "summary": "Layer_ContractBrokers",
        "operationId": "Layer_ContractBrokers",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Layer/ContractUWYears": {
      "get": {
        "tags": [
          "Layer"
        ],
        "summary": "Layer_ContractUWYears",
        "operationId": "Layer_ContractUWYears",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Layer/ContractFirms": {
      "get": {
        "tags": [
          "Layer"
        ],
        "summary": "Layer_ContractFirms",
        "operationId": "Layer_ContractFirms",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Layer/ContractsList": {
      "post": {
        "tags": [
          "Layer"
        ],
        "summary": "Layer_ContractsList",
        "operationId": "Layer_ContractsList",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayerReportDto"
              },
              "example": {
                "uwYear": [
                  "string"
                ],
                "contractName": "string",
                "contractNumber": "string",
                "contractClass": [
                  "string"
                ],
                "broker": "string",
                "reinsurer": "string",
                "specific": [
                  "string"
                ],
                "firm": [
                  "string"
                ],
                "asl": [
                  "string"
                ],
                "businessSegment": "string",
                "effectiveDateFrom": "string",
                "effectiveDateTo": "string",
                "pageNumber": 0,
                "pageSize": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Layer/ContractNamesList": {
      "post": {
        "tags": [
          "Layer"
        ],
        "summary": "Layer_ContractNamesList",
        "operationId": "Layer_ContractNamesList",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayerReportDto"
              },
              "example": {
                "uwYear": [
                  "string"
                ],
                "contractName": "string",
                "contractNumber": "string",
                "contractClass": [
                  "string"
                ],
                "broker": "string",
                "reinsurer": "string",
                "specific": [
                  "string"
                ],
                "firm": [
                  "string"
                ],
                "asl": [
                  "string"
                ],
                "businessSegment": "string",
                "effectiveDateFrom": "string",
                "effectiveDateTo": "string",
                "pageNumber": 0,
                "pageSize": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/HardStops/HSReport": {
      "get": {
        "tags": [
          "HardStops"
        ],
        "summary": "HardStops_HSReport",
        "operationId": "HardStops_HSReport",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/DownloadInfo/DownloadInfo": {
      "get": {
        "tags": [
          "DownloadInfo"
        ],
        "summary": "DownloadInfo_DownloadInfo",
        "operationId": "DownloadInfo_DownloadInfo",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/WIPContract": {
      "put": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_ModifyWIPContract",
        "operationId": "Contract_ModifyWIPContract",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WipContracts"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_GetWIPContract",
        "operationId": "Contract_GetWIPContract",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_DeleteWIPContract",
        "operationId": "Contract_DeleteWIPContract",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WipContracts"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/ProdContract": {
      "get": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_GetProdContract",
        "operationId": "Contract_GetProdContract",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_ModifyProdContract",
        "operationId": "Contract_ModifyProdContract",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isEndorsement",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/DownloadData": {
      "get": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_RunDownloadData",
        "operationId": "Contract_RunDownloadData",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/WipContract": {
      "post": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_AddWipContract",
        "operationId": "Contract_AddWipContract",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WipContracts"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/Firms": {
      "get": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_GetFirms",
        "operationId": "Contract_GetFirms",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/Asls": {
      "get": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_GetAsls",
        "operationId": "Contract_GetAsls",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/Email": {
      "post": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_SendEmail",
        "operationId": "Contract_SendEmail",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailDto"
              },
              "example": {
                "subject": "string",
                "body": "string",
                "group": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/ProdContractForEndorsement": {
      "post": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_EndorseProdContract",
        "operationId": "Contract_EndorseProdContract",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/ContractApproving": {
      "get": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_ApproveContract",
        "operationId": "Contract_ApproveContract",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/ContractRejecting": {
      "get": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_RejectContract",
        "operationId": "Contract_RejectContract",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/ContractsApproving": {
      "post": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_ApproveContracts",
        "operationId": "Contract_ApproveContracts",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "example": [
                0
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/ContractsRejecting": {
      "post": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_RejectContracts",
        "operationId": "Contract_RejectContracts",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "example": [
                0
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/BrokerAndReinsurerKeys": {
      "get": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_GetBrokerAndReinsurerKeys",
        "operationId": "Contract_GetBrokerAndReinsurerKeys",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/Firm": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_DeleteFirm",
        "operationId": "Admin_DeleteFirm",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DimCompanyDaily"
              },
              "example": {
                "firm": 0,
                "firmName": "string",
                "firmNameShort": "string",
                "lastLoaded": "string",
                "lastLoadedBy": "string",
                "dimCompany_DailyID": 0,
                "ibnR_Abbr": "string",
                "company": 0,
                "feinNum": "string",
                "naicNum": 0,
                "active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_PutFirm",
        "operationId": "Admin_PutFirm",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DimCompanyDaily"
              },
              "example": {
                "firm": 0,
                "firmName": "string",
                "firmNameShort": "string",
                "lastLoaded": "string",
                "lastLoadedBy": "string",
                "dimCompany_DailyID": 0,
                "ibnR_Abbr": "string",
                "company": 0,
                "feinNum": "string",
                "naicNum": 0,
                "active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/Glaslob": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_DeleteGlaslob",
        "operationId": "Admin_DeleteGlaslob",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Glaslob"
              },
              "example": {
                "oracleASLOB": "string",
                "description": "string",
                "aslobCode": "string",
                "showOnWeb": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_PutGlaslob",
        "operationId": "Admin_PutGlaslob",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Glaslob"
              },
              "example": {
                "oracleASLOB": "string",
                "description": "string",
                "aslobCode": "string",
                "showOnWeb": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/DropDownValue": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_DeleteDropDownValue",
        "operationId": "Admin_DeleteDropDownValue",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DropDownLists"
              },
              "example": {
                "id": 0,
                "ddKey": "string",
                "ddText": "string",
                "ddValue": "string",
                "active": true,
                "sortOrder": 0,
                "pc": true,
                "sr": true,
                "international": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_PutDropDownValue",
        "operationId": "Admin_PutDropDownValue",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DropDownLists"
              },
              "example": {
                "id": 0,
                "ddKey": "string",
                "ddText": "string",
                "ddValue": "string",
                "active": true,
                "sortOrder": 0,
                "pc": true,
                "sr": true,
                "international": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/ContractBusinessPartners": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_GetContractBusinessPartners",
        "operationId": "Admin_GetContractBusinessPartners",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Shared/UserRoles": {
      "get": {
        "tags": [
          "Shared"
        ],
        "summary": "Shared_GetUserRoles",
        "operationId": "Shared_GetUserRoles",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Shared"
        ],
        "summary": "Shared_PutUserRoles",
        "operationId": "Shared_PutUserRoles",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RCEUserRole"
                }
              },
              "example": [
                {
                  "rceUserRolesId": 0,
                  "firstName": "string",
                  "lastName": "string",
                  "emailAddress": "string",
                  "businessSegment": "string",
                  "userRole": "string"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Shared/User": {
      "post": {
        "tags": [
          "Shared"
        ],
        "summary": "Shared_PostUser",
        "operationId": "Shared_PostUser",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RCEUserRole"
              },
              "example": {
                "rceUserRolesId": 0,
                "firstName": "string",
                "lastName": "string",
                "emailAddress": "string",
                "businessSegment": "string",
                "userRole": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Shared"
        ],
        "summary": "Shared_DeleteUser",
        "operationId": "Shared_DeleteUser",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RCEUserRole"
              },
              "example": {
                "rceUserRolesId": 0,
                "firstName": "string",
                "lastName": "string",
                "emailAddress": "string",
                "businessSegment": "string",
                "userRole": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/Contracts": {
      "post": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_GetAllContracts",
        "operationId": "Contract_GetAllContracts",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractSearchDto"
              },
              "example": {
                "contractUWYear": [
                  "string"
                ],
                "contract": "string",
                "contractSuffix": "string",
                "contractEndmt": "string",
                "contractNameLayer": "string",
                "contractNameLayerSort": "string",
                "specific": [
                  "string"
                ],
                "contractType": [
                  "string"
                ],
                "assumedCeded": "string",
                "counterParty": [
                  "string"
                ],
                "isSpecificSelection": true,
                "sourceType": "string",
                "pageSize": 0,
                "pageNumber": 0,
                "pageCount": 0,
                "searchMode": "string",
                "businessSegment": "string",
                "reinsurers": [
                  "string"
                ],
                "asls": [
                  "string"
                ],
                "brokers": [
                  "string"
                ],
                "effectiveDateFrom": "string",
                "effectiveDateTo": "string",
                "lastModifiedFrom": "string",
                "lastModifiedTo": "string",
                "automate": "string",
                "userName": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/Firms": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_GetFirms",
        "operationId": "Admin_GetFirms",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/DropDownValues": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_GetDropDownValues",
        "operationId": "Admin_GetDropDownValues",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/ContractBusinessPartner": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_PutContractBusinessPartner",
        "operationId": "Admin_PutContractBusinessPartner",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractBusinessPartner"
              },
              "example": {
                "id": 0,
                "businessPartnerID": "string",
                "businessPartnerName": "string",
                "businessPartnerShortName": "string",
                "businessPartnerType": "string",
                "firmId": "string",
                "country": "string",
                "domicile": "string",
                "naic": "string",
                "fein": "string",
                "authorizedPA": "string",
                "authorizedCA": "string",
                "authorizedDE": "string",
                "authorizedFL": "string",
                "authorizedNY": "string",
                "authorizedTX": "string",
                "authorizedAZ": "string",
                "authorizedOK": "string",
                "affiliated": "string",
                "amBestNum": "string",
                "amBestRating": "string",
                "alternativeNames": "string",
                "brokerKey": "string",
                "reinsurerKey": "string",
                "amBestRatingDate": "string",
                "amBestGroupNum": "string",
                "amBestGroupName": "string",
                "batchId": 0,
                "activityId": 0,
                "createDate": "string",
                "createBy": "string",
                "modifiedDate": "string",
                "modifiedBy": "string",
                "spRating": "string",
                "spRatingDate": "string",
                "certifiedRating": "string",
                "certifiedDate": "string",
                "reciprocalDate": "string",
                "certifiedRatingDate": "string",
                "pool": "string",
                "oracleCodeSegment9": "string",
                "collateralType": "string",
                "figuresasof": "string",
                "fundsHeld": "string",
                "letterofCredit": "string",
                "reinsuranceRecoverable": "string",
                "phsusdMillions": "string",
                "phsAsOf": "string",
                "offsetItems": "string",
                "moodyRate": "string",
                "moodyEffDate": "string",
                "nyCertifiedRating": "string",
                "nyCertifiedDate": "string",
                "nyReciprocalDate": "string",
                "deCertifiedRating": "string",
                "deCertifiedDate": "string",
                "deReciprocalDate": "string",
                "flCertifiedRating": "string",
                "flCertifiedDate": "string",
                "flReciprocalDate": "string",
                "txCertifiedRating": "string",
                "txCertifiedDate": "string",
                "txReciprocalDate": "string",
                "caCertifiedRating": "string",
                "caCertifiedDate": "string",
                "caReciprocalDate": "string",
                "paCertifiedRating": "string",
                "paCertifiedDate": "string",
                "paReciprocalDate": "string",
                "azCertifiedRating": "string",
                "azCertifiedDate": "string",
                "azReciprocalDate": "string",
                "okCertifiedRating": "string",
                "okCertifiedDate": "string",
                "okReciprocalDate": "string",
                "active": true,
                "approvalStatus": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_DeleteContractBusinessPartner",
        "operationId": "Admin_DeleteContractBusinessPartner",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractBusinessPartner"
              },
              "example": {
                "id": 0,
                "businessPartnerID": "string",
                "businessPartnerName": "string",
                "businessPartnerShortName": "string",
                "businessPartnerType": "string",
                "firmId": "string",
                "country": "string",
                "domicile": "string",
                "naic": "string",
                "fein": "string",
                "authorizedPA": "string",
                "authorizedCA": "string",
                "authorizedDE": "string",
                "authorizedFL": "string",
                "authorizedNY": "string",
                "authorizedTX": "string",
                "authorizedAZ": "string",
                "authorizedOK": "string",
                "affiliated": "string",
                "amBestNum": "string",
                "amBestRating": "string",
                "alternativeNames": "string",
                "brokerKey": "string",
                "reinsurerKey": "string",
                "amBestRatingDate": "string",
                "amBestGroupNum": "string",
                "amBestGroupName": "string",
                "batchId": 0,
                "activityId": 0,
                "createDate": "string",
                "createBy": "string",
                "modifiedDate": "string",
                "modifiedBy": "string",
                "spRating": "string",
                "spRatingDate": "string",
                "certifiedRating": "string",
                "certifiedDate": "string",
                "reciprocalDate": "string",
                "certifiedRatingDate": "string",
                "pool": "string",
                "oracleCodeSegment9": "string",
                "collateralType": "string",
                "figuresasof": "string",
                "fundsHeld": "string",
                "letterofCredit": "string",
                "reinsuranceRecoverable": "string",
                "phsusdMillions": "string",
                "phsAsOf": "string",
                "offsetItems": "string",
                "moodyRate": "string",
                "moodyEffDate": "string",
                "nyCertifiedRating": "string",
                "nyCertifiedDate": "string",
                "nyReciprocalDate": "string",
                "deCertifiedRating": "string",
                "deCertifiedDate": "string",
                "deReciprocalDate": "string",
                "flCertifiedRating": "string",
                "flCertifiedDate": "string",
                "flReciprocalDate": "string",
                "txCertifiedRating": "string",
                "txCertifiedDate": "string",
                "txReciprocalDate": "string",
                "caCertifiedRating": "string",
                "caCertifiedDate": "string",
                "caReciprocalDate": "string",
                "paCertifiedRating": "string",
                "paCertifiedDate": "string",
                "paReciprocalDate": "string",
                "azCertifiedRating": "string",
                "azCertifiedDate": "string",
                "azReciprocalDate": "string",
                "okCertifiedRating": "string",
                "okCertifiedDate": "string",
                "okReciprocalDate": "string",
                "active": true,
                "approvalStatus": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/ActionLog/ActionLogs": {
      "post": {
        "tags": [
          "ActionLog"
        ],
        "summary": "ActionLog_ActionLogs",
        "operationId": "ActionLog_ActionLogs",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionLogDto"
              },
              "example": {
                "businessSegment": "string",
                "createdDateFrom": "string",
                "createdDateTo": "string",
                "contractName": "string",
                "filter": [
                  "string"
                ],
                "contractLineId": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Shared/GroupNumbers": {
      "get": {
        "tags": [
          "Shared"
        ],
        "summary": "Shared_GetGroupNumbers",
        "operationId": "Shared_GetGroupNumbers",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/CompleteContract": {
      "get": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_CompleteContract",
        "operationId": "Contract_CompleteContract",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/SearchTemplates": {
      "get": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_GetSearchTemplates",
        "operationId": "Contract_GetSearchTemplates",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/SearchTemplate": {
      "put": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_PutSearchTemplate",
        "operationId": "Contract_PutSearchTemplate",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchTemplate"
              },
              "example": {
                "id": 0,
                "name": "string",
                "contractNumber": "string",
                "endorsement": "string",
                "contractName": "string",
                "ceded": "string",
                "contractType": "string",
                "searchMode": "string",
                "year": "string",
                "specific": "string",
                "source": "string",
                "businessSegment": "string",
                "counterParty": "string",
                "suffix": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_DeleteSearchTemplate",
        "operationId": "Contract_DeleteSearchTemplate",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchTemplate"
              },
              "example": {
                "id": 0,
                "name": "string",
                "contractNumber": "string",
                "endorsement": "string",
                "contractName": "string",
                "ceded": "string",
                "contractType": "string",
                "searchMode": "string",
                "year": "string",
                "specific": "string",
                "source": "string",
                "businessSegment": "string",
                "counterParty": "string",
                "suffix": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/GroupNumbers": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_GetGroupNumbers",
        "operationId": "Admin_GetGroupNumbers",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/GroupNumber": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_PutGroupNumbers",
        "operationId": "Admin_PutGroupNumbers",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupNumbers"
              },
              "example": {
                "id": 0,
                "groupNumber": "string",
                "groupShortName": "string",
                "ownerDepartment": "string",
                "ownerRecoverableBilling": "string",
                "active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_DeleteGroupNumber",
        "operationId": "Admin_DeleteGroupNumber",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupNumbers"
              },
              "example": {
                "id": 0,
                "groupNumber": "string",
                "groupShortName": "string",
                "ownerDepartment": "string",
                "ownerRecoverableBilling": "string",
                "active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Shared/OracleCodes": {
      "get": {
        "tags": [
          "Shared"
        ],
        "summary": "Shared_GetOracleCodes",
        "operationId": "Shared_GetOracleCodes",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Shared/DimCurrency": {
      "get": {
        "tags": [
          "Shared"
        ],
        "summary": "Shared_GetDimCurrency",
        "operationId": "Shared_GetDimCurrency",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/WipContractToExcel": {
      "post": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_GetWipContractToExcel",
        "operationId": "Contract_GetWipContractToExcel",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContractToExport"
                }
              },
              "example": [
                {
                  "source": "string",
                  "id": 0
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/NewReinsurers": {
      "get": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_GetNewReinsurers",
        "operationId": "Contract_GetNewReinsurers",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/ExcelToWIP": {
      "post": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_GetExceltoWIPContract",
        "operationId": "Contract_GetExceltoWIPContract",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EditMode",
            "in": "header",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendFileToServerDto"
              },
              "example": {
                "content": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Contract/FileFormExcelToWIP": {
      "post": {
        "tags": [
          "Contract"
        ],
        "summary": "Contract_GetExceltoWIPContract2",
        "operationId": "Contract_GetExceltoWIPContract2",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EditMode",
            "in": "header",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "ContentType": {
                    "type": "string"
                  },
                  "ContentDisposition": {
                    "type": "string"
                  },
                  "Headers": {
                    "$ref": "#/components/schemas/IHeaderDictionary"
                  },
                  "Length": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "Name": {
                    "type": "string"
                  },
                  "FileName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/ContractChangeLogs": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_PostContractChangeLogs",
        "operationId": "Admin_PostContractChangeLogs",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeLogSearchDto"
              },
              "example": {
                "contact": "string",
                "completed": "string",
                "businessSegment": "string",
                "dateReceived": "string",
                "dateCompleted": "string",
                "dateApprovedFrom": "string",
                "dateApprovedTo": "string",
                "note": "string",
                "userName": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/ContractChangeLog": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_PutContractChangeLogs",
        "operationId": "Admin_PutContractChangeLogs",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractChangesLog"
              },
              "example": {
                "id": 0,
                "logEntryNumber": 0,
                "emailSubject": "string",
                "contact": "string",
                "dateReceived": "string",
                "notes": "string",
                "completed": "string",
                "dateComplited": "string",
                "category": "string",
                "changesMade": "string",
                "impactPrior": "string",
                "downStream": "string",
                "manualEntry": "string",
                "dateCorrecting": "string",
                "filesUpdated": "string",
                "approverNotes": "string",
                "dateApproved": "string",
                "businessSegment": "string",
                "file": "string",
                "fileFullName": "string",
                "approverCompleted": "string",
                "pageCount": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_DeleteContractChangeLog",
        "operationId": "Admin_DeleteContractChangeLog",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractChangesLog"
              },
              "example": {
                "id": 0,
                "logEntryNumber": 0,
                "emailSubject": "string",
                "contact": "string",
                "dateReceived": "string",
                "notes": "string",
                "completed": "string",
                "dateComplited": "string",
                "category": "string",
                "changesMade": "string",
                "impactPrior": "string",
                "downStream": "string",
                "manualEntry": "string",
                "dateCorrecting": "string",
                "filesUpdated": "string",
                "approverNotes": "string",
                "dateApproved": "string",
                "businessSegment": "string",
                "file": "string",
                "fileFullName": "string",
                "approverCompleted": "string",
                "pageCount": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/NextLogEntryNumber": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_GetNextLogEntryNumber",
        "operationId": "Admin_GetNextLogEntryNumber",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/NewReinsurers": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_GetNewReinsurers",
        "operationId": "Admin_GetNewReinsurers",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/ContractBusinessPartnerExcel": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_GetContractBusinessPartnersExcel",
        "operationId": "Admin_GetContractBusinessPartnersExcel",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/AllContractBusinessPartnersExcel": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_GetContractBusinessPartnersExcel2",
        "operationId": "Admin_GetContractBusinessPartnersExcel2",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/GroupNumbersExcel": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_GetGroupNumbersExcel",
        "operationId": "Admin_GetGroupNumbersExcel",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/ChangeLogsExcel": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_GetChangeLogsExcel",
        "operationId": "Admin_GetChangeLogsExcel",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeLogSearchDto"
              },
              "example": {
                "contact": "string",
                "completed": "string",
                "businessSegment": "string",
                "dateReceived": "string",
                "dateCompleted": "string",
                "dateApprovedFrom": "string",
                "dateApprovedTo": "string",
                "note": "string",
                "userName": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/ContractBusinessPartnersCharts": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_GetContractBusinessPartnersCharts",
        "operationId": "Admin_GetContractBusinessPartnersCharts",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/ContractBusinessPartnersChartsExcel": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_GetContractBusinessPartnersChartsExcel",
        "operationId": "Admin_GetContractBusinessPartnersChartsExcel",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/GetReinsurersExcel": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_GetReinsurersExcel",
        "operationId": "Admin_GetReinsurersExcel",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/GetBrokersExcel": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin_GetBrokersExcel",
        "operationId": "Admin_GetBrokersExcel",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/Admin/AHTreaty": {
      "get": {
        "tags": [
[...]
